/* Colors */
@green-color-dark: #369670;
@green-color-bright: #39b584;
@gray-color-dark: #3c3c3c;
@gray-color-middle: #4b4a4a;
@gray-color-light: #5c5c5c;
@blue-color: #58a1d9;

@text-color-dark: black;
@text-color-light: #6e6e6e;
@text-color-green: #39b584;
/* Fonts */
@main-font-family: 'PT Sans', sans-serif;
/* Shadow */
.margin-top{
  padding-top: 30px;
}
.margin-right{
  margin-right: 0px;
}
.shadow-down{
	box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}
.shadow{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.navigation{
  color: @text-color-green;
  float: left;
  padding-top: 0px;
  margin-left: 15px;
}

.main-page > footer {
    margin-top: 40px;
}

a>h2:hover{ 
  color: @green-color-dark;
}

*{
  margin: 0;
  padding: 0;
  outline:none !important;
}
body, html{
  width: 100%;
  height: 100%;
  min-width: 320px !important
}
body{
  background-color: #f7f6ef;
  background-size: cover;
  font-family: @main-font-family;
  font-size: 15px;
  min-height: 100%;
}
.responsive{
  width:100%;
}
.no-scroll{
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-page{
  overflow-x: hidden;
  margin: 0 0 0 85px;
  z-index: 2200;
  position: relative;
  .transition;
  &.active{
    margin-left: 360px;
  }
}
p{
  font-family: @main-font-family;
}
.margin-left-15{
  margin-left: -15px;
}
.margin-top-15{
  margin-top: 15px;
}
.margin-right-15{
  margin-right: 15px;
}
.margin-bottom-15{
  margin-bottom: 15px;
}
.full-width{
  width: 100%;
}
a{
  color: inherit;
  text-decoration: none;
}
h2{
  font-size: 26px;
  font-weight: normal;
  margin: 20px 0;
  display: block;
}
h2.page-title{
  margin: 25px 0 40px;
}
h2.block-title{
  margin-top: 40px;
}
a:hover, a:link, a:visited{
  color: inherit;
  text-decoration: none;
}
.transition(@type: all, @duration:0.3s, @ease:linear) {
  -webkit-transition: @type @duration 0s @ease;
  -moz-transition: @type @duration 0s @ease;
  -o-transition: @type @duration 0s @ease;
  transition: @type @duration 0s @ease;
}
.mobile-header, .vertical-menu-mobile{
  display: none;
}
.float-left-block{
  float: left;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
