<svg width="25" height="25" xmlns="http://www.w3.org/2000/svg">
  <g>
    <title>background</title>
    <rect fill="none" id="canvas_background" height="27" width="27" y="-1" x="-1"/>
    <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
      <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
    </g>
  </g>
  <g>
    <title>Layer 1</title>
    <ellipse stroke-width="1.2" stroke="#ffffff" ry="11.730896" rx="11.664452" id="svg_1" cy="12.534885" cx="12.554802" fill="none"/>
    <line stroke-linecap="null" stroke-linejoin="null" id="svg_3" y2="12.5" x2="19.805094" y1="12.5" x1="4.921525" stroke="#ffffff" fill="none"/>
    <line stroke="#ffffff" transform="rotate(-45 16.379751205444336,15.68845081329346) " stroke-linecap="null" stroke-linejoin="null" id="svg_4" y2="15.688451" x2="21.253706" y1="15.688451" x1="11.505797" fill="none"/>
    <line stroke="#ffffff" transform="rotate(45 16.559123992919922,9.320737838745117) " stroke-linecap="null" stroke-linejoin="null" id="svg_6" y2="9.320738" x2="21.433079" y1="9.320738" x1="11.68517" fill="none"/>
  </g>
</svg>