<div class="lavra-departments-wrapper shadow-down">
        <div class="container lavra-departments">
            <a href="#"><h2>Отделы Лавры</h2></a>
            <ul>
                <li class="col-md-3 col-sm-6 col-xs-12 shop-group">
                    <a href="#">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                            viewBox="0 0 1500 1500"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                             <g id="cros">
                              <metadata id="CorelCorpID_0Corel-Layer"/>
                              <g id="_35383816224">
                               <path class="fil0" d="M367 756c-44,0 -80,-35 -80,-79 0,-43 36,-79 80,-79 45,0 81,36 81,79 0,44 -36,79 -81,79zm0 -134l0 0c-30,0 -56,25 -56,55 0,30 26,55 56,55 31,0 56,-25 56,-55 0,-30 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M367 772c-53,0 -97,-42 -97,-95 0,-53 44,-95 97,-95 54,0 97,42 97,95 0,53 -43,95 -97,95zm0 -133l0 0c-21,0 -39,17 -39,38 0,21 18,38 39,38 22,0 39,-17 39,-38 0,-21 -17,-38 -39,-38z"/>
                               <path class="fil0" d="M357 530c-44,0 -80,-36 -80,-79 0,-44 36,-79 80,-79 44,0 80,35 80,79 0,43 -36,79 -80,79zm0 -134l0 0c-31,0 -56,25 -56,55 0,30 25,55 56,55 31,0 56,-25 56,-55 0,-30 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M357 546c-54,0 -97,-42 -97,-95 0,-53 43,-96 97,-96 54,0 97,43 97,96 0,53 -43,95 -97,95zm0 -133l0 0c-21,0 -39,17 -39,38 0,21 18,38 39,38 22,0 39,-17 39,-38 0,-21 -17,-38 -39,-38z"/>
                               <path class="fil0" d="M493 356c-44,0 -80,-35 -80,-79 0,-43 36,-79 80,-79 44,0 80,36 80,79 0,44 -36,79 -80,79zm0 -134l0 0c-31,0 -56,25 -56,55 0,30 25,55 56,55 31,0 56,-25 56,-55 0,-30 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M493 373c-54,0 -97,-43 -97,-96 0,-52 43,-95 97,-95 54,0 97,43 97,95 0,53 -43,96 -97,96zm0 -134l0 0c-21,0 -39,17 -39,38 0,21 18,38 39,38 21,0 39,-17 39,-38 0,-21 -18,-38 -39,-38z"/>
                               <path class="fil0" d="M725 341c-44,0 -80,-36 -80,-79 0,-44 36,-79 80,-79 45,0 81,35 81,79 0,43 -36,79 -81,79zm0 -134l0 0c-31,0 -56,24 -56,55 0,30 25,55 56,55 31,0 56,-25 56,-55 0,-31 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M725 357c-53,0 -97,-43 -97,-95 0,-53 44,-96 97,-96 54,0 97,43 97,96 0,52 -43,95 -97,95zm0 -134l0 0c-21,0 -39,18 -39,39 0,21 18,38 39,38 22,0 39,-17 39,-38 0,-21 -17,-39 -39,-39z"/>
                               <path class="fil0" d="M959 371c-44,0 -80,-36 -80,-79 0,-43 36,-79 80,-79 44,0 80,36 80,79 0,43 -36,79 -80,79zm0 -134l0 0c-31,0 -56,25 -56,55 0,30 25,55 56,55 31,0 56,-25 56,-55 0,-30 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M959 387c-53,0 -97,-42 -97,-95 0,-53 44,-95 97,-95 54,0 97,42 97,95 0,53 -43,95 -97,95zm0 -133l0 0c-21,0 -39,17 -39,38 0,21 18,38 39,38 22,0 39,-17 39,-38 0,-21 -17,-38 -39,-38z"/>
                               <path class="fil0" d="M1115 526c-44,0 -80,-35 -80,-79 0,-43 36,-78 80,-78 45,0 81,35 81,78 0,44 -36,79 -81,79zm0 -133l0 0c-31,0 -56,24 -56,54 0,31 25,55 56,55 31,0 56,-24 56,-55 0,-30 -25,-54 -56,-54z"/>
                               <path class="fil0" d="M1115 543c-53,0 -97,-43 -97,-96 0,-52 44,-95 97,-95 54,0 97,43 97,95 0,53 -43,96 -97,96zm0 -134l0 0c-21,0 -39,17 -39,38 0,22 18,39 39,39 22,0 39,-17 39,-39 0,-21 -17,-38 -39,-38z"/>
                               <path class="fil0" d="M1038 727c-45,0 -81,-35 -81,-79 0,-43 36,-79 81,-79 44,0 80,36 80,79 0,44 -36,79 -80,79zm0 -134l0 0c-31,0 -56,25 -56,55 0,30 25,55 56,55 30,0 55,-25 55,-55 0,-30 -25,-55 -55,-55z"/>
                               <path class="fil0" d="M1038 744c-54,0 -98,-43 -98,-96 0,-52 44,-95 98,-95 53,0 97,43 97,95 0,53 -44,96 -97,96zm0 -134l0 0c-22,0 -39,17 -39,38 0,21 17,38 39,38 21,0 39,-17 39,-38 0,-21 -18,-38 -39,-38z"/>
                               <path class="fil0" d="M846 860c-44,0 -80,-36 -80,-79 0,-44 36,-79 80,-79 45,0 81,35 81,79 0,43 -36,79 -81,79zm0 -134l0 0c-30,0 -56,25 -56,55 0,30 26,55 56,55 31,0 56,-25 56,-55 0,-30 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M846 876c-53,0 -97,-43 -97,-95 0,-53 44,-96 97,-96 54,0 98,43 98,96 0,52 -44,95 -98,95zm0 -133l0 0c-21,0 -39,17 -39,38 0,21 18,38 39,38 22,0 39,-17 39,-38 0,-21 -17,-38 -39,-38z"/>
                               <path class="fil0" d="M508 933c-44,0 -80,-35 -80,-78 0,-44 36,-79 80,-79 44,0 80,35 80,79 0,43 -36,78 -80,78zm0 -133l0 0c-31,0 -56,24 -56,55 0,30 25,54 56,54 31,0 56,-24 56,-54 0,-31 -25,-55 -56,-55z"/>
                               <path class="fil0" d="M508 950c-54,0 -97,-43 -97,-95 0,-53 43,-96 97,-96 53,0 97,43 97,96 0,52 -44,95 -97,95zm0 -134l0 0c-22,0 -39,17 -39,39 0,21 17,38 39,38 21,0 39,-17 39,-38 0,-22 -18,-39 -39,-39z"/>
                               <path class="fil0" d="M894 1384c-4,0 -8,-1 -10,-5l-135 -190c-4,-6 -3,-13 3,-17 5,-4 13,-2 17,3l135 191c4,5 3,12 -3,16 -2,2 -5,2 -7,2zm-211 -298l0 0c-4,0 -8,-1 -10,-5l-72 -101c-4,-5 -3,-13 3,-17 6,-3 13,-2 17,3l72 102c4,5 2,13 -3,16 -2,2 -5,2 -7,2z"/>
                               <path class="fil0" d="M894 1401c-9,0 -18,-5 -24,-12l-135 -191c-4,-6 -6,-14 -5,-21 2,-8 6,-14 12,-19 5,-3 11,-5 17,-5 9,0 18,5 24,13l135 190c4,6 6,14 5,21 -2,8 -6,15 -12,19 -5,3 -11,5 -17,5zm-211 -298l0 0c-10,0 -19,-5 -24,-12l-72 -102c-4,-6 -6,-13 -5,-21 2,-7 6,-14 12,-18 5,-4 11,-5 17,-5 9,0 18,4 24,12l72 101c4,6 6,14 4,22 -1,7 -5,14 -12,18 -4,3 -10,5 -16,5z"/>
                               <path class="fil0" d="M1002 1309c-3,0 -7,-2 -10,-5l-134 -190c-4,-6 -3,-13 3,-17 5,-4 13,-2 17,3l134 190c4,6 3,13 -3,17 -2,1 -4,2 -7,2zm-210 -297l0 0c-4,0 -8,-2 -10,-5l-73 -102c-3,-6 -2,-13 3,-17 6,-4 14,-3 17,3l73 102c4,6 2,13 -3,17 -2,1 -5,2 -7,2z"/>
                               <path class="fil0" d="M1002 1326c-9,0 -18,-5 -23,-13l-135 -190c-5,-6 -6,-14 -5,-21 1,-8 6,-14 12,-18 5,-4 11,-6 17,-6 9,0 18,5 24,13l134 190c5,6 6,14 5,21 -1,8 -6,14 -12,18 -5,4 -11,6 -17,6zm-210 -298l0 0c-10,0 -19,-4 -24,-12l-73 -102c-4,-6 -6,-14 -4,-21 1,-8 5,-14 12,-19 5,-3 10,-5 16,-5 10,0 19,5 24,12l73 103c4,6 6,13 4,21 -1,7 -5,14 -12,18 -4,4 -10,5 -16,5z"/>
                               <path class="fil0" d="M894 1384c-4,0 -8,-1 -10,-5 -4,-5 -3,-13 3,-16l108 -76c6,-4 13,-2 17,3 4,5 3,13 -3,17l-108 75c-2,2 -5,2 -7,2z"/>
                               <path class="fil0" d="M894 1401c-9,0 -18,-4 -24,-12 -9,-13 -6,-31 7,-40l109 -75c5,-4 10,-6 16,-6 10,0 19,5 24,13 9,12 6,30 -7,39l-108 76c-5,3 -11,5 -17,5z"/>
                               <path class="fil0" d="M611 985c-4,0 -8,-2 -10,-5 -4,-5 -3,-13 3,-17l108 -75c6,-4 13,-3 17,3 4,5 3,13 -3,16l-108 76c-2,1 -5,2 -7,2z"/>
                               <path class="fil0" d="M611 1002c-9,0 -18,-5 -24,-12 -9,-13 -6,-31 7,-40l109 -76c5,-3 10,-5 16,-5 10,0 19,5 24,12 9,13 6,31 -7,40l-108 75c-5,4 -11,6 -17,6z"/>
                               <path class="fil0" d="M587 1152c-4,0 -8,-2 -10,-5 -4,-6 -3,-13 3,-17l96 -65c5,-4 13,-3 17,3 4,5 2,13 -3,16l-96 66c-2,1 -5,2 -7,2zm205 -140l0 0c-4,0 -8,-2 -10,-5 -4,-6 -3,-13 3,-17l98 -67c6,-4 13,-3 17,3 4,5 3,13 -3,16l-98 68c-2,1 -5,2 -7,2z"/>
                               <path class="fil0" d="M587 1169c-10,0 -18,-5 -24,-13 -9,-13 -6,-30 7,-39l96 -66c5,-3 11,-5 17,-5 9,0 18,5 24,12 9,13 6,31 -8,40l-95 65c-5,4 -11,6 -17,6zm205 -141l0 0c-10,0 -19,-4 -24,-12 -5,-6 -6,-14 -5,-21 2,-8 6,-14 12,-19l99 -67c5,-3 10,-5 16,-5 10,0 19,5 24,12 5,7 6,14 5,22 -2,7 -6,14 -12,18l-99 67c-4,4 -10,5 -16,5z"/>
                               <path class="fil0" d="M662 1259c-3,0 -7,-1 -10,-5 -3,-5 -2,-13 3,-16l97 -66c6,-4 13,-2 17,3 4,5 2,13 -3,17l-97 65c-2,2 -4,2 -7,2zm206 -140l0 0c-4,0 -8,-2 -10,-5 -4,-6 -3,-13 3,-17l100 -68c5,-4 13,-3 17,3 4,5 2,13 -3,16l-100 69c-2,1 -5,2 -7,2z"/>
                               <path class="fil0" d="M662 1276c-9,0 -18,-5 -24,-12 -9,-13 -5,-31 8,-40l96 -66c5,-3 11,-5 17,-5 9,0 18,5 24,13 9,13 6,30 -8,39l-96 66c-5,3 -11,5 -17,5zm206 -140l0 0c-10,0 -19,-5 -24,-13 -5,-6 -6,-14 -5,-21 1,-8 6,-14 12,-18l100 -69c5,-3 11,-5 17,-5 9,0 18,5 24,12 4,7 6,14 4,22 -1,7 -5,14 -12,18l-100 68c-5,4 -10,6 -16,6z"/>
                               <path class="fil0" d="M662 1259c-3,0 -7,-1 -10,-5l-75 -107c-4,-6 -2,-13 3,-17 6,-4 13,-2 17,3l75 108c4,5 3,12 -3,16 -2,2 -4,2 -7,2z"/>
                               <path class="fil0" d="M662 1276c-9,0 -18,-5 -24,-12l-75 -108c-9,-13 -6,-31 7,-39 5,-4 11,-6 17,-6 10,0 18,5 24,13l75 107c9,13 6,31 -7,40 -5,3 -11,5 -17,5z"/>
                               <path class="fil0" d="M968 1051c-4,0 -8,-2 -10,-5l-78 -106c-4,-6 -2,-13 3,-17 6,-4 13,-3 17,3l78 106c4,5 2,12 -3,16 -2,2 -5,3 -7,3z"/>
                               <path class="fil0" d="M968 1067c-10,0 -18,-4 -24,-12l-77 -106c-10,-13 -7,-30 6,-40 5,-3 11,-5 17,-5 10,0 18,4 24,12l77 106c10,13 7,31 -6,40 -5,3 -11,5 -17,5z"/>
                              </g>
                             </g>
                            </svg>
                        </div>
                        <span>Церковная лавка</span>
                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 social-group">
                    <a href="#">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                            viewBox="0 0 1500 1500"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                             <g id="Слой_x0020_1">
                              <metadata id="CorelCorpID_0Corel-Layer"/>
                              <g id="_34632108000">
                               <path class="fil0" d="M515 781c-5,0 -10,0 -15,0 -14,-1 -25,-13 -24,-27 1,-15 13,-25 27,-24 97,6 220,-62 366,-203 122,-117 229,-256 280,-323 9,-11 16,-21 22,-28 9,-12 25,-13 36,-4 11,8 13,25 4,36 -6,7 -13,16 -22,28 -52,67 -161,208 -285,328 -150,144 -281,217 -389,217z"/>
                               <path class="fil0" d="M955 1330c-33,0 -63,-5 -85,-9 -75,-16 -146,-49 -186,-86 -18,-17 -22,-41 -26,-64 -7,-39 -12,-67 -71,-73 -71,-6 -126,-74 -170,-129 -16,-20 -38,-48 -47,-51 -45,-13 -91,-13 -145,-12 -8,0 -15,0 -23,0 0,0 0,0 0,0 -8,0 -16,-4 -21,-11 -4,-6 -6,-15 -3,-23 63,-180 205,-158 281,-147 16,3 32,5 41,5 14,-1 26,9 27,24 1,14 -10,26 -24,27 -14,1 -32,-2 -52,-5 -67,-10 -158,-24 -210,78 49,0 96,1 144,15 23,7 44,33 72,68 38,47 85,106 134,110 99,9 110,75 117,115 3,15 5,30 11,35 67,62 250,113 328,58 29,-20 45,-45 44,-71 -1,-28 -19,-55 -52,-76 -19,-13 -61,-13 -102,-14 -36,0 -74,-1 -106,-9 -43,-10 -69,-32 -80,-66 -1,-2 -1,-5 -1,-7 -1,-50 22,-72 42,-82 21,-11 46,-12 64,-12 147,-19 251,-92 311,-218 38,-79 56,-180 52,-284 -4,-84 -23,-167 -50,-211 -7,-12 -3,-28 9,-35 12,-8 27,-4 35,8 31,52 52,142 56,236 4,79 -3,198 -56,309 -67,140 -189,225 -352,246 -1,0 -2,0 -3,0l0 0c-43,1 -57,6 -57,37 13,33 65,36 137,37 50,1 97,1 129,21 46,31 74,74 75,119 1,43 -22,84 -66,115 -35,25 -80,32 -121,32z"/>
                               <path class="fil0" d="M394 770c-4,0 -8,-1 -12,-4 -23,-13 -39,-37 -44,-70 -8,-45 6,-96 36,-130 154,-174 233,-324 233,-445 0,-8 3,-16 10,-20 6,-5 14,-7 22,-5 45,13 80,44 105,91 73,135 41,378 5,499 -5,14 -19,21 -32,17 -14,-4 -21,-18 -17,-32 37,-121 61,-344 -1,-460 -12,-23 -26,-40 -44,-51 -14,125 -96,273 -243,440 -20,22 -29,58 -24,88 1,9 6,26 19,33 12,7 16,23 10,35 -5,9 -14,14 -23,14z"/>
                              </g>
                             </g>
                            </svg>
                        </div>
                        <span>Социальное служение</span>
                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 library-group"><a href="#">
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 1500 1500"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <g id="_35180200528">
                           <path class="fil0" d="M1222 292l-930 0c-35,0 -64,30 -64,67l0 679c0,1 0,2 0,3l0 72c0,33 27,61 60,61l434 0c13,0 25,-5 36,-13 10,8 22,13 36,13l433 0c33,0 60,-28 60,-61l0 -75 0 -679c0,-37 -29,-67 -65,-67zm17 67l0 0 0 654 -458 0 0 -672 441 0c9,0 17,8 17,18zm-963 0l0 0c0,-10 7,-18 16,-18l441 0 0 672 -457 0 0 -654zm457 754l0 0c0,6 -5,12 -11,12l-434 0c-7,0 -12,-6 -12,-12l0 -51 457 0 0 51zm506 0l0 0c0,6 -5,12 -12,12l-433 0c-7,0 -12,-6 -12,-12l0 -51 457 0 0 51z"/>
                           <path class="fil0" d="M892 633l233 0c13,0 24,-11 24,-24 0,-14 -11,-25 -24,-25l-233 0c-14,0 -24,11 -24,25 0,13 10,24 24,24z"/>
                           <path class="fil0" d="M892 766l233 0c13,0 24,-11 24,-25 0,-13 -11,-24 -24,-24l-233 0c-14,0 -24,11 -24,24 0,14 10,25 24,25z"/>
                           <path class="fil0" d="M1125 855l-233 0c-14,0 -24,11 -24,24 0,14 10,25 24,25l233 0c13,0 24,-11 24,-25 0,-13 -11,-24 -24,-24z"/>
                           <path class="fil0" d="M892 497l233 0c13,0 24,-11 24,-25 0,-13 -11,-24 -24,-24l-233 0c-14,0 -24,11 -24,24 0,14 10,25 24,25z"/>
                           <path class="fil0" d="M620 584l-234 0c-13,0 -24,11 -24,25 0,13 11,24 24,24l234 0c13,0 23,-11 23,-24 0,-14 -10,-25 -23,-25z"/>
                           <path class="fil0" d="M620 717l-234 0c-13,0 -24,11 -24,24 0,14 11,25 24,25l234 0c13,0 23,-11 23,-25 0,-13 -10,-24 -23,-24z"/>
                           <path class="fil0" d="M620 855l-234 0c-13,0 -24,11 -24,24 0,14 11,25 24,25l234 0c13,0 23,-11 23,-25 0,-13 -10,-24 -23,-24z"/>
                           <path class="fil0" d="M386 497l234 0c13,0 23,-11 23,-25 0,-13 -10,-24 -23,-24l-234 0c-13,0 -24,11 -24,24 0,14 11,25 24,25z"/>
                          </g>
                         </g>
                        </svg>
                    </div>
                    <span>Библиотека</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-12 photo-group"><a href="#">
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 1500 1500"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <g id="_35180192176">
                           <path class="fil0" d="M1180 456l-611 0c0,-1 1,-2 1,-4l0 -46c0,-28 -24,-51 -52,-51l-175 0c-29,0 -52,23 -52,51l0 46c0,3 1,5 1,7 -42,10 -74,48 -74,92l0 485c0,52 44,95 97,95l865 0c53,0 96,-43 96,-95l0 -485c0,-52 -43,-95 -96,-95zm-841 -50l0 0c0,-3 1,-4 4,-4l175 0c2,0 4,1 4,4l0 46c0,3 -2,4 -4,4l-175 0c-3,0 -4,-1 -4,-4l0 -46zm-24 97l0 0 28 0 175 0 662 0c27,0 49,22 49,48l0 226 -254 0c-12,-112 -109,-199 -226,-199 -117,0 -214,87 -226,199l-258 0 0 -226c0,-26 23,-48 50,-48zm614 297l0 0c0,97 -81,176 -180,176 -99,0 -179,-79 -179,-176 0,-97 80,-176 179,-176 99,0 180,79 180,176zm251 285l0 0 -865 0c-27,0 -50,-22 -50,-49l0 -212 258 0c12,111 109,199 226,199 117,0 214,-88 226,-199l254 0 0 212c0,27 -22,49 -49,49z"/>
                           <path class="fil0" d="M749 688c-63,0 -114,51 -114,112 0,62 51,112 114,112 63,0 115,-50 115,-112 0,-61 -52,-112 -115,-112zm0 178l0 0c-37,0 -67,-29 -67,-66 0,-36 30,-65 67,-65 37,0 67,29 67,65 0,37 -30,66 -67,66z"/>
                           <path class="fil0" d="M1140 617c15,0 26,-11 26,-25 0,-14 -11,-26 -26,-26 -14,0 -26,12 -26,26 0,14 12,25 26,25z"/>
                           <path class="fil0" d="M1046 617c14,0 26,-11 26,-25 0,-14 -12,-26 -26,-26 -15,0 -26,12 -26,26 0,14 11,25 26,25z"/>
                          </g>
                         </g>
                        </svg>
                    </div>
                    <span>Фото студия</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-12 media-group"><a href="#">
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 1500 1500"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <g id="_35174392704">
                           <path class="fil0" d="M885 570c-16,0 -28,12 -28,28 0,16 12,28 28,28 15,0 28,-12 28,-28 0,-16 -13,-28 -28,-28z"/>
                           <path class="fil0" d="M782 570c-16,0 -28,12 -28,28 0,16 12,28 28,28 15,0 28,-12 28,-28 0,-16 -13,-28 -28,-28z"/>
                           <path class="fil0" d="M1320 533l-95 0c-27,0 -50,20 -54,47l-156 0 0 -41c0,-41 -33,-74 -74,-74l-76 0 0 -87c0,-33 -27,-60 -60,-60l-492 0c-33,0 -60,27 -60,60l0 87 -3 0c-41,0 -74,33 -74,74l0 381c0,41 33,74 74,74l216 0 0 216c0,33 27,60 61,60l109 0c33,0 60,-27 60,-60l0 -216 245 0c41,0 74,-33 74,-74l0 -40 156 0c4,26 27,47 54,47l95 0c30,0 55,-26 55,-56l0 -282c0,-31 -25,-56 -55,-56zm-1016 -155l0 0c0,-4 4,-8 9,-8l492 0c5,0 9,4 9,8l0 87 -510 0 0 -87zm341 832l0 0c0,4 -4,9 -9,9l-109 0c-5,0 -9,-5 -9,-9l0 -216 127 0 0 216zm318 -290l0 0c0,12 -10,23 -22,23l-270 0 -179 0 -242 0c-12,0 -23,-11 -23,-23l0 -381c0,-12 11,-23 23,-23l29 0 560 0 102 0c12,0 22,11 22,23l0 66 0 249 0 66zm52 -289l0 0 155 0 0 197 -155 0 0 -197zm309 240l0 0c0,2 -2,4 -4,4l-95 0c-2,0 -4,-2 -4,-4l0 -6c2,-3 3,-7 3,-11l0 -249c0,-4 -1,-8 -3,-11l0 -5c0,-2 2,-4 4,-4l95 0c2,0 4,2 4,4l0 282z"/>
                          </g>
                         </g>
                        </svg>
                    </div>
                    <span>Видео студия</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-12 sound-group active"><a href="#">
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 1500 1500"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <path class="fil0" d="M1249 807l0 -50c0,-269 -212,-488 -472,-488 -259,0 -471,219 -471,488l0 50c-34,14 -58,49 -58,90l0 167c0,54 42,98 95,98l61 0c6,0 11,-1 17,-2 13,36 47,62 86,62l7 0c51,0 93,-43 93,-96l0 -291c0,-49 -37,-90 -83,-95 11,-135 120,-242 253,-242 134,0 243,107 254,242 -46,5 -83,46 -83,95l0 291c0,53 42,96 93,96l7 0c39,0 73,-26 86,-62 5,1 11,2 17,2l61 0c52,0 95,-44 95,-98l0 -167c0,-41 -24,-76 -58,-90zm-834 305l0 0c-4,1 -7,1 -11,1l-61 0c-27,0 -48,-22 -48,-49l0 -167c0,-24 16,-44 38,-48 0,0 1,0 1,0 0,0 1,0 1,0 3,-1 5,-1 8,-1l61 0c4,0 7,0 11,1l0 263zm145 -277l0 0 0 291c0,26 -20,47 -46,47l-7 0c-24,0 -44,-20 -45,-45 0,-1 0,-1 0,-1 0,-1 0,-2 0,-2l0 -289c0,-1 0,-2 0,-2 0,-12 5,-22 11,-30 1,0 1,0 1,-1 2,-2 3,-3 5,-5 1,0 1,0 1,0 6,-5 14,-8 22,-9 0,0 0,-1 1,-1 1,0 3,0 4,0l7 0c26,0 46,21 46,47zm533 290l0 0c0,1 0,2 0,2 0,0 0,0 0,1 -1,25 -21,45 -45,45l-7 0c-26,0 -46,-21 -46,-47l0 -291c0,-26 20,-47 46,-47l7 0c1,0 3,0 4,0 1,0 1,1 1,1 8,1 16,4 22,9 0,0 0,0 0,0 2,2 4,3 6,5 0,1 0,1 0,1 7,8 12,18 12,30 0,1 0,2 0,2l0 289zm41 -324l0 0c0,0 0,0 0,0 -1,-3 -3,-6 -4,-9 0,0 0,0 0,-1 -2,-2 -3,-5 -5,-7 0,-1 0,-1 0,-2 -4,-5 -8,-10 -13,-15 0,0 0,0 0,0 -2,-3 -5,-5 -7,-7 0,0 0,0 0,0 -8,-6 -17,-11 -26,-15 -9,-164 -141,-296 -302,-296 -160,0 -292,132 -301,296 -9,4 -18,9 -26,15 0,0 0,0 0,0 -2,2 -5,4 -7,6 0,1 0,1 0,1 -5,5 -9,10 -13,15 0,1 0,1 0,2 -2,2 -3,5 -5,7 0,1 0,1 0,1 -1,3 -3,6 -4,9 0,0 0,0 0,0 0,0 -1,0 -2,0 -5,-1 -10,-2 -15,-2l-51 0 0 -42c0,-243 191,-440 424,-440 234,0 425,197 425,440l0 42 -51 0c-5,0 -10,1 -15,2 -1,0 -2,0 -2,0zm126 263l0 0c0,27 -21,49 -48,49l-61 0c-4,0 -7,0 -11,-1l0 -263c4,-1 7,-1 11,-1l61 0c3,0 5,0 8,1 0,0 1,0 1,0 0,0 1,0 1,0 22,4 38,24 38,48l0 167z"/>
                         </g>
                        </svg>
                    </div>
                    <span>Звуко студия</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-12 repair-group"><a href="#">
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 1500 1500"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <g id="_35178516400">
                           <path class="fil0" d="M439 1319c-12,0 -23,-9 -25,-21 -3,-14 6,-28 20,-30 74,-15 86,-37 83,-84 -6,-32 -24,-49 -47,-72 -30,-29 -68,-66 -70,-144 -3,-113 90,-202 179,-289 85,-82 164,-159 164,-249 0,-14 12,-26 26,-26 14,0 26,12 26,26 0,112 -92,201 -180,286 -85,83 -166,161 -164,251 2,56 26,80 55,108 25,25 53,52 62,102 0,1 0,2 0,3 6,98 -56,125 -124,138 -2,1 -4,1 -5,1z"/>
                           <path class="fil0" d="M1101 1319c-1,0 -3,0 -5,-1 -68,-13 -130,-40 -124,-138 0,-1 0,-2 0,-3 8,-50 37,-77 62,-102 29,-28 53,-52 55,-108 2,-90 -79,-168 -165,-250 -89,-86 -181,-175 -181,-287 0,-14 12,-26 26,-26 14,0 26,12 26,26 0,90 80,167 165,249 90,87 182,176 180,289 -2,78 -40,115 -70,144 -23,23 -41,40 -47,72 -3,47 9,69 83,84 14,2 23,16 20,30 -2,12 -13,21 -25,21z"/>
                           <path class="fil0" d="M778 1366c-112,0 -227,-16 -346,-48 -14,-4 -22,-18 -18,-32 4,-13 18,-22 31,-18 229,61 441,61 649,0 14,-4 28,4 32,18 4,14 -4,28 -18,32 -108,32 -218,48 -330,48z"/>
                           <path class="fil0" d="M769 456c-51,0 -93,-42 -93,-93 0,-52 42,-94 93,-94 51,0 93,42 93,94 0,51 -42,93 -93,93zm0 -135l0 0c-23,0 -41,19 -41,42 0,23 18,41 41,41 23,0 41,-18 41,-41 0,-23 -18,-42 -41,-42z"/>
                           <path class="fil0" d="M769 321c-14,0 -26,-12 -26,-26l0 -265c0,-14 12,-26 26,-26l0 0c14,0 26,12 26,26l0 265c0,14 -12,26 -26,26l0 0z"/>
                           <path class="fil0" d="M683 147c-14,0 -25,-12 -25,-26 0,-15 11,-26 25,-26l172 -1 0 0c14,0 25,12 25,26 0,15 -11,26 -25,26l-172 1 0 0z"/>
                           <path class="fil0" d="M774 1486c-86,0 -172,-10 -283,-29 -14,-3 -24,-16 -21,-30 2,-14 15,-24 30,-21 212,37 328,37 540,2 14,-3 27,7 29,21 3,14 -7,27 -21,30 -107,18 -191,27 -274,27z"/>
                           <path class="fil0" d="M542 985c-2,0 -3,0 -5,-1 -14,-2 -23,-16 -20,-30 16,-85 75,-141 145,-207 18,-17 38,-36 57,-56 10,-10 26,-10 36,0 11,10 11,27 1,37 -20,20 -40,39 -59,57 -65,62 -117,111 -130,179 -2,12 -13,21 -25,21z"/>
                          </g>
                         </g>
                        </svg>
                    </div>
                    <span>Мастерские</span></a></li>
                <li class="col-md-3 col-sm-6 col-xs-12 hr-group"><a href="#">
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15mm" height="15mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 1500 1500"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <g id="_35383836352">
                           <path class="fil0" d="M1248 944c23,-57 35,-118 35,-181 0,-279 -234,-506 -520,-506 -287,0 -520,227 -520,506 0,154 71,292 182,385 2,1 3,3 5,4 90,73 206,117 333,117 68,0 134,-13 197,-38 36,30 83,49 134,49 114,0 207,-91 207,-202 0,-51 -20,-98 -53,-134zm-957 -181l0 0c0,-253 211,-460 472,-460 260,0 472,207 472,460 0,51 -9,101 -25,148 -1,0 -2,0 -2,-1 -4,-2 -9,-5 -13,-7 -2,-1 -4,-2 -6,-3 -3,-2 -7,-4 -11,-5 -2,-1 -4,-2 -6,-3 -4,-2 -9,-3 -13,-5 -2,0 -3,-1 -4,-1 -5,-2 -11,-3 -17,-4 -2,-1 -4,-1 -5,-1 -5,-1 -10,-2 -14,-2 -2,0 -4,-1 -6,-1 -6,0 -12,-1 -19,-1 -35,0 -68,9 -97,24 -21,-19 -45,-35 -71,-50 27,-34 44,-77 44,-123 0,-111 -93,-202 -207,-202 -114,0 -207,91 -207,202 0,47 16,90 44,124 -124,67 -163,171 -175,231 -83,-82 -134,-195 -134,-320zm313 -35l0 0c0,-85 71,-155 159,-155 87,0 159,70 159,155 0,85 -72,155 -159,155 -88,0 -159,-70 -159,-155zm159 494l0 0c-112,0 -214,-38 -295,-101 3,-37 25,-164 167,-235 35,27 80,43 128,43 48,0 92,-16 128,-43 24,12 46,26 66,43 -43,37 -69,90 -69,149 0,7 0,13 1,19 0,2 0,3 0,5 1,5 2,10 2,14 1,2 1,3 1,5 3,12 7,24 12,36 0,0 0,0 0,0 2,5 5,11 8,17 1,0 1,1 1,1 3,5 6,10 10,15 0,1 0,1 0,1 1,1 2,2 2,3 -52,19 -106,28 -162,28zm331 11l0 0c-70,0 -131,-46 -151,-108 0,0 0,-1 0,-1 -1,-4 -3,-8 -4,-12 0,-1 0,-2 0,-3 -1,-4 -2,-8 -2,-12 0,-1 0,-2 0,-3 -1,-5 -1,-10 -1,-16 0,-85 71,-154 158,-154 6,0 11,0 16,1 2,0 4,0 6,1 3,0 6,0 9,1 3,0 5,1 8,2 2,0 5,1 7,2 3,0 6,1 8,2 2,1 4,2 6,2 3,2 6,3 9,4 2,1 3,2 5,3 3,1 6,3 9,5 1,0 2,1 4,2 3,2 6,4 9,7 1,0 2,1 3,1 3,3 6,6 9,8 32,29 51,69 51,113 0,86 -71,155 -159,155z"/>
                           <path class="fil0" d="M1161 1055l-43 0 0 -41c0,-13 -10,-24 -24,-24 -13,0 -24,11 -24,24l0 41 -42 0c-14,0 -24,11 -24,23 0,13 10,24 24,24l42 0 0 41c0,13 11,24 24,24 14,0 24,-11 24,-24l0 -41 43 0c13,0 24,-11 24,-24 0,-12 -11,-23 -24,-23z"/>
                          </g>
                         </g>
                        </svg>
                    </div>
                    <span>Отдел кадров</span></a></li>
            </ul>
        </div>
    </div>