<footer>
    <div class="container">
        <div class="col-md-8">
            © Успенская Киево-Печерская Лавра 1992.<br>
            При использовании материалов сайта в печатных СМИ ссылка на официальный сайт Киево-Печерской Лавры
            обязательна.
            При использовании материалов в Интернете обязательна гипперссылка на www.lavra.ua.
        </div>
    </div>
</footer>