include "head.html"
<body>
include "left_panel.html"
<div class="main-page row">
    include "left_panel_mobile.html"
    <div class="mobile-header shadow-down">
        <div class="container">
            <div class="toggle-menu icon-toggle_tablet"></div>
            <div class="online-transl_tablet icon-online-transl" ></div>
        </div>
    </div>
    <header>
        <div class="parallax-window" data-speed="0.4" data-parallax="scroll" data-image-src="../images/content-img/header-bg.png">
            <div class="container">
                <div class="col-md-12">
                    <div class="hhh row" style="padding-top: 100px;">
                        <a href="#" class="header-icone-1"></a>
                        <a href="#"><div class="header-title"></div></a>
                        <a href="#" class="header-icone-2"></a>
                    </div>
                </div>
            </div>    
        </div>
    </header>
    <div class="horizontal-menu shadow-down">
        <div class="container">
            <menu class="col-lg-9 col-md-8 col-sm-9 col-xs-8">
                <div class="toggle-menu icon-toggle_tablet"></div>
                <li><a href="#">Прихожанам</a>
                <ul>
                    <li><a href="#">Православный календарь</a></li>
                    <li><a href="#">Расписание</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Публикации</a></li>
                    <li><a href="#">Знакомство с Лаврой</a></li>
                </ul>
            </li>
            <li><a href="#">Паломникам</a>
                <ul>
                    <li><a href="#">Подать записку</a></li>
                    <li><a href="#">Общая информация</a></li>
                    <li><a href="#">Расписание паломничеств</a></li>
                    <li><a href="#">Маршруты паломничеств</a></li>
                    <li><a href="#">Транспорт</a></li>
                    <li><a href="#">Что посетить?</a></li>
                    <li><a href="#">Где остановиться?</a></li>
                    <li><a href="#">Где поесть?</a></li>
                    <li><a href="#">О паломническом отделе</a></li>
                </ul>
            </li>
            <li><a href="#">О Лавре</a>
                <ul>
                    <li><a href="#">Священноначалие</a></li>
                    <li><a href="#">История</a></li>
                    <li><a href="#">Летопись</a></li>
                    <li><a href="#">Лаврское пение</a></li>
                    <li><a href="#">Фотогалерея</a></li>
                    <li><a href="#">3D тур</a></li>
                    <li><a href="#">О Лавре</a></li>
                </ul>
            </li>
            <li><a href="#">Святыни</a>
                <ul>
                    <li><a href="#">Храмы</a></li>
                    <li><a href="#">Ближние пещеры</a></li>
                    <li><a href="#">Дальние пещеры</a></li>
                    <li><a href="#">Чтимые иконы</a></li>
                </ul>
            </li>
            <li><a href="#">Отделы</a></li>
            <li><a href="#">Вопросы и ответы</a></li>
            </menu>
            <div class="col-lg-3 col-md-4 col-sm-3 hidden-xs" id="online-tv">
                <div class="online-transl_tablet icon-online-transl" ></div>
                <a href="#" class="online" id="toptop"><span>Онлайн трансляция</span> <i class="icon icon-online-transl"></i></a>
            </div>
        </div>
    </div>
    include "online.html"