<div class="lavra-profile" tabindex="0">
        <a href="#"><h2>Знакомство с Лаврой</h2></a>
        <div class="container">
            <ul class="col-md-8 profile-menu">
                <li class="button-white shadow-down active"><a href="#" data-filter=".all" class="active">Всем</a></li>
                <li class="button-white"><a href="#" data-filter=".type1">Гостям</a></li>
                <li class="button-white"><a href="#" data-filter=".type2">Впервые в Лавре</a></li>
                <li class="button-white"><a href="#" data-filter=".type3">Возвращение</a></li>
                <!--<li class="button-white"><a href="#" data-filter=".type4">Помощь</a></li>-->
            </ul>
        </div>
        
        <div class="container profile-block">
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-1.png" alt="">
                </div>
                <span>Онлайн трансляция</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all  type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-2.png" alt="">
                </div>
                <span>Веб-камеры</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type2">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-3.png" alt="">    
                </div>
                <span>3D-тур</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type2">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-4.png" alt="">
                </div>
                <span>Карта Лавры</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all  type3">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-5.png" alt="">
                </div>
                <span>Священноначалие</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all  type3">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-6.png" alt="">
                </div>
                <span>История</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all  type2">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-7.png" alt="">
                </div>
                <span>Святыни</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type3">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-8.png" alt="">
                </div>
                <span>Фотогалерея</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all  type4">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-9.png" alt="">
                </div>
                <span>Лаврское пение</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all  type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-10.png" alt="">
                </div>
                <span>Подать записку</span>
                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-11.png" alt="">
                </div>
                <span>Пожертвование</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-12.png" alt="">
                </div>
                <span>Задать вопрос</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-13.png" alt="">
                </div>
                <span>Расписание паломничеств</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-14.png" alt="">
                </div>
                <span>Маршруты паломничеств</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-15.png" alt="">
                </div>
                <span>Что посетить?</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-16.png" alt="">
                </div>
                <span>Транспорт</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-17.png" alt="">
                </div>
                <span>Где поесть?</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-18.png" alt="">
                </div>
                <span>Где остановиться?</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-19.png" alt="">
                </div>
                <span>Вакансии</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
            <a href="#" class="col-md-3 is-grid all type1">
                <div class="img-wrapper">
                    <img src="../images/content-img/profile-img-20.png" alt="">
                </div>
                <span>Контакты</span>

                <p>Описание храма который стоит где-то далеко в горах с золотыми куполами ...</p>
            </a>
        </div>
    </div>