<div class="vertical-menu-mobile">

    <div class="mobile-small">
        <a href="#" class="lang active col-xs-4">
            РУС
        </a>
        <a href="#" class="lang col-xs-4">
            УКР
        </a>
        <a href="#" class="lang col-xs-4">
            ENG
        </a>
        <div class="search-block col-xs-12">
            <form action="#">
                <input type="text" value="" placeholder="Поиск">
                <button type="submit" class="icon-go"></button>
                <!-- <button type="submit">
                    include "arrowSearchSVG.html"
                </button> -->
            </form>
        </div>
        <menu>
            <li class="accordion">
                    <a href="#">Прихожанам <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Православный календарь</a></li>
                        <li><a href="#">Расписание</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Публикации</a></li>
                        <li><a href="#">Знакомство с Лаврой</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#">Паломникам <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Подать записку</a></li>
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Расписание паломничеств</a></li>
                        <li><a href="#">Маршруты паломничеств</a></li>
                        <li><a href="#">Транспорт</a></li>
                        <li><a href="#">Что посетить?</a></li>
                        <li><a href="#">Где остановиться?</a></li>
                        <li><a href="#">Где поесть?</a></li>
                        <li><a href="#">О паломническом отделе</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#">О Лавре <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Священноначалие</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Летопись</a></li>
                        <li><a href="#">Лаврское пение</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="#">3D тур</a></li>
                        <li><a href="#">О Лавре</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#">Святыни <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Храмы</a></li>
                        <li><a href="#">Ближние пещеры</a></li>
                        <li><a href="#">Дальние пещеры</a></li>
                        <li><a href="#">Чтимые иконы</a></li>
                    </ul>
                </li>
            <li><a href="#">Отделы</a></li>
            <li><a href="#" class="unbold border-top">Вопросы и ответы</a></li>
            <li><a href="#" class="unbold">Контакты</a></li>
        
        <a href="#"class="col-xs-3 social vk">
            <div ></div>
        </a>
        <a href="#" class="col-xs-3 social fb">
            <div ></div>
        </a>
        <a href="#" class="col-xs-3 social youtube">
            <div ></div>
        </a>
        <a href="#" class="col-xs-3 social tw">
            <div ></div>
        </a>
        </menu>       
    </div>
</div>