<div class="vertical-menu">
    <div class="vertical-menu-wrapper">
        <div class="icon-icon-search-big search"></div>
        <a href="#" class="lang active">
            РУС
        </a>
        <a href="#" class="lang">
            УКР
        </a>
        <a href="#" class="lang">
            ENG
        </a>
        <a href="#" class="social vk">
            <div class="icon"></div>
        </a>
        <a href="#" class="social fb">
            <div class="icon"></div>
        </a>
        <a href="#" class="social youtube">
            <div class="icon"></div>
        </a>
        <a href="#" class="col-xs-3 social tw">
            <div class="icon"></div>
        </a>

        <a href="#">
            <div class="to-top-wrapper">
                <div class="icon-scrollTop to-top-icon"></div>
            </div>
        </a>
    </div>
    <div class="mobile">
        <div class="search-block">
            <form action="#">
                <input type="text" value="" placeholder="Поиск">
                <button type="submit" class="icon-go"></button>
                <!-- <button type="submit" >
                    include "arrowSearchSVG.html"
                </button> -->
            </form>
        </div>
        <menu>
                <li class="accordion">
                    <a href="#">Прихожанам <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Православный календарь</a></li>
                        <li><a href="#">Расписание</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Публикации</a></li>
                        <li><a href="#">Знакомство с Лаврой</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#">Паломникам <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Подать записку</a></li>
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Расписание паломничеств</a></li>
                        <li><a href="#">Маршруты паломничеств</a></li>
                        <li><a href="#">Транспорт</a></li>
                        <li><a href="#">Что посетить?</a></li>
                        <li><a href="#">Где остановиться?</a></li>
                        <li><a href="#">Где поесть?</a></li>
                        <li><a href="#">О паломническом отделе</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#">О Лавре <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Священноначалие</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Летопись</a></li>
                        <li><a href="#">Лаврское пение</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="#">3D тур</a></li>
                        <li><a href="#">О Лавре</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#">Святыни <i class="icon"></i></a>
                    <ul>
                        <li><a href="#">Храмы</a></li>
                        <li><a href="#">Ближние пещеры</a></li>
                        <li><a href="#">Дальние пещеры</a></li>
                        <li><a href="#">Чтимые иконы</a></li>
                    </ul>
                </li>
                <li><a href="#">Отделы</a></li>
                <li><a href="#" class="unbold border-top">Вопросы и ответы</a></li>
                <li><a href="#" class="unbold">Контакты</a></li>
        </menu>
    </div>
</div>

