<svg width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
 <g>
  <title>Layer 1</title>
  <circle fill-opacity="0" stroke-dasharray="null" stroke-width="1.5" stroke="#ffffff" fill="none" id="svg_3" r="9.19666" cy="10" cx="10.02439"/>
  <rect id="svg_5" stroke-dasharray="null" stroke="#ffffff" fill="none" height="0.1" width="10" y="10" x="5"/>
 </g>
</svg>