<div class="online-video ">
	<p>Онлайн трансляция | <span>12 сентября</span></p>
	<h2>Название трансляции</h2>
	<div class="video col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div id="player"></div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="swith-block">
			<a href="#" class="active col-md-6">Онлайн трансляции</a>
			<a href="#" class="col-md-6">Веб-камеры</a>
		</div>
		<ul class="list">
			<!-- <li><a href="#" class="active"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li>
			<li><a href="#"><span>12 сентября 2015</span> Название трансляции</a></li> -->
		</ul>
		<a href="#" class="button-default">Перейти к архиву</a>
	</div>
</div>