
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src = "https://www.youtube.com/iframe_api" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js" type="text/javascript"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/moment/min/moment-with-locales.js"></script>
<script src="../bower_components/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../bower_components/isotope/dist/isotope.pkgd.js"></script>
<script src="../bower_components/clndr/src/clndr.js"></script>
<script src="../js/dist/main.min.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCORPK5EuJZBy6Y0x-uWoLaF6qpvweHaKM&callback=initMap"></script>

<script type="text/javascript">
/*
*	GOOGLE MAPS FOR TAMPLES PAGE
*/
function initMap() {
	var tamples = {};
	$($(".map-markers")[0]).find('p').each(function(index, elem){
		tamples[index] = {
			lat : Number($(elem).data("lat")),
			lng : Number($(elem).data("lng")),
			title : $(elem).text()
		};
	});

	if(tamples){
		var map = new google.maps.Map(document.getElementById('map'), {
		   center: {lat: tamples[0].lat, lng: tamples[0].lng},
		   zoom: 4
		});

		var markers = [];
		for(var key in tamples){
			var tample = tamples[key];
			var marker = new google.maps.Marker({
			    position: {
			    	lat: tample.lat, 
			    	lng: tample.lng
			    },
			    title: tample.title
			});
			markers.push(marker);
			marker.setMap(map);
		}

		$(".map-markers p").on("click", function(event){
			var that = $(this);
			var index = that.closest('.map-markers').find('p').index(that);

			that.closest('.map-markers').find('p').removeClass('active');
			that.addClass("active");

			map.setCenter(new google.maps.LatLng(tamples[index].lat, tamples[index].lng));
			markers[index].setAnimation(google.maps.Animation.BOUNCE);
			setTimeout(function(){
				markers[index].setAnimation(null);
			}, 1500);
		});
	}
}

/*
*	YOUTUBE BLOCK
*/
function onYouTubeIframeAPIReady(){
	var player;
	var playList;
	var $list = $('.online-video .list');

	var showPlayList = function(){
		$list.ready(function() {
			playList.forEach(function(item, index){
				var title = item.snippet.title.length > 70 ? item.snippet.title.substr(0,70)+'...' : item.snippet.title;
				var record = $('<li data-id=\'' + index + '\'><span>' + item.snippet.publishedAt.substr(0, 10) + '</span> ' + title + '</li>');
				$list.append(record);
			});
		});
	};

	$.ajax({
		type: 'GET',
		url: 'https://www.googleapis.com/youtube/v3/channels',
		data: {
		 	part: 'contentDetails',
		  	id: 'UCKzsQXAGrL_0jWlTBgGey1Q',
		  	key: 'AIzaSyCORPK5EuJZBy6Y0x-uWoLaF6qpvweHaKM'
		},
		success: function(data){
		    var playListID = data.items[0].contentDetails.relatedPlaylists.uploads;
		    console.log(data);
		    $.ajax({
				type: 'GET',
			  	url: 'https://www.googleapis.com/youtube/v3/playlistItems',
			  	data: {
			  		part: 'snippet',
			  		playlistId: playListID,
			  		maxResults: 50,
			  		key: 'AIzaSyCORPK5EuJZBy6Y0x-uWoLaF6qpvweHaKM'
			  	},
			  	success: function(data){
			  		playList = data.items;
			  				    console.log(data);
			  		if(playList){
			  			var idList = data.items.map(function(item){
				  			return item.snippet.resourceId.videoId;
				  		});

			  			player = new YT.Player('player', {
				          	height: '100%',
				          	width: '100%',
				          	videoId: idList[0]
				        });

				        showPlayList();
						
						var $items = $list.find('li');
						$items.ready(function(){

							$items.click(function(event) {
								event.preventDefault();

								var id = Number($(this).data('id'));

								$items.each(function(index, el) {
									$(el).removeClass('active');
								});

								$($items[id]).addClass('active');

								player.loadVideoById(idList[id]);
							});

							$list.slimscroll({
								size: '8px',
								position: 'right',
								color: '#ffffff',
								alwaysVisible: true,
								height: '365px',
								railVisible: true,
								railColor: '#cbcbcb',
								railOpacity: 0.4,
								wheelStep: 10,
								allowPageScroll: true,
								disableFadeOut: false
							});
						});	
			  		}
			  	}
			});
		}
	});
}

/*
*	SLIDER ON MAIN PAGE
*/
var sliderCreate = (function(){
	//model
	var margin = 30,
		currentItemId = 0,
		stroke,
		vpWidth;

	//functionality
	//calc width of items and stroke
	var setFullWidth = function(viewPort, items){
		if(viewPort && items.length){
			stroke = viewPort.find('#stroke');
			vpWidth = viewPort.innerWidth();

			items.each(function(index, item){
				$(item).width(vpWidth);
				$(item).css('margin-right', margin);
			});

			stroke.width(items.length*(vpWidth + margin + 5));
		}
	};

	//click-event listeners for arrow buttons
	var arrowClick = function(move, itemCount){
		var delta = vpWidth + margin + 5;

		if(move > 0){
			if(currentItemId <= itemCount - 2){
				currentItemId++;
				stroke.animate({
					left: "-=" + move*delta,
				}, 600);
			}
		} else {
			if(currentItemId > 0){
				currentItemId--;
				stroke.animate({
					left: "-=" + move*delta,
				}, 600);
			}
		}
	};


	//maint function for slider
	return function(sliderWrap){
		var leftArr = sliderWrap.find('.arrow-link-left');
		var rightArr = sliderWrap.find('.arrow-link-right');
		var viewPort = sliderWrap.find('.important-content');
		var items = viewPort.find('#stroke>div');

		setFullWidth(viewPort, items);

		viewPort.on('resize', function(event){
			event.preventDefault();
			setFullWidth(viewPort, items);
		});

		leftArr.on('click', function(event){
			event.preventDefault();
			arrowClick(-1, items.length);
		});

		rightArr.on('click', function(event){
			event.preventDefault();
			arrowClick(1, items.length);
		});
	};
})();

$(document).ready(function(){
	console.log("hello");
	sliderCreate($('.important-block'));
});


moment.locale("RU",{
    months : "Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь".split("_")
});

isotopeContainer = $('.profile-block');
	$(window).load(function (){
		isotopeContainer.isotope({
			itemSelector : '.is-grid',
			//percentPosition: true,
			masonry: {
				gutter: 15,
			},
		});
	});
	var calendars = {};
	var menuHeight = $('.vertical-menu-wrapper').height();

	$('.mobile menu').slimscroll({
		height: menuHeight + 'px',
	});

	$(window).on('resize',function(el){
		$(document).scroll();

		var newsImages = function(){
			var imgList = $('.item .href-img img');
			var width = $(window).width() + 17;
		
			imgList.each(function(index, el) {
				var href = $(el).parent();
				var item = href.parent().parent();
				var k;
				if(width <= 767){
					k = eval(item.data('proportion-xs')) || (527 /	131);
					item.height(item.width()/k );
					href.height(item.width()/k);
					$(el).height(item.width()/k);
					return;
				}
				if(width >= 768 && width <= 991)
					k = eval(item.data('proportion-sm')) || (527 /	131);
				if(width >= 992)
					k = eval(item.data('proportion-md')) || (527 /	131);

				item.height(item.width()/k);
				href.height(item.height());
				$(el).height(item.height());
			});
		};
		newsImages();

		var importantBlock = function(){
			var block = $('.important-block');
			var title = $('.important-title', block);
			var triangle = $('.triangle', block);
			var content = $('.important-content', block);

			if($(window).width() > 590){	
				triangle.css('display', 'block');
				var k = Math.floor(content.outerHeight()/2);
				
				triangle.css({
					'border-top-width': k,
					'border-bottom-width': k
				});

				title.outerHeight(content.outerHeight());
				title.css('padding-top', k - 30);
			} else {
				triangle.css('display', 'none');
				title.outerHeight(55);
				title.css('padding-top', '');
			}

		};
		importantBlock();

		var map = function() {
			var map = $('.contact-map');
			var mapWrapper = $('#map-wrapper');
			var footer = $('footer');
			var drop = $('.contacts .dropdown');

			drop.css('bottom', (footer.outerHeight() + map.outerHeight() - 170) +'px');
			mapWrapper.css('bottom',(footer.outerHeight - 5) + 'px');

		};
		map();

		$('.important-block .important-content ').on('ready', function(){
			$(window).resize();
		});
		
	});
	$(window).resize();

	$('.some-content-related-div > div').slimscroll({
		size: '8px',
		position: 'left',
		color: '#959595',
		alwaysVisible: true,
		height: '200px',
		railVisible: true,
		railColor: '#cbcbcb',
		railOpacity: 0.4,
		wheelStep: 10,
		allowPageScroll: true,
		disableFadeOut: false
	});

	var accordion = $('.accordion'),
		accordionLink = $('> a', accordion);
	var thisMonth = moment().format('YYYY-MM');
	var eventArray = [
	    { startDate: thisMonth + '-10', endDate: thisMonth + '-14', title: 'Multi-Day Event' },
	    { startDate: thisMonth + '-21', endDate: thisMonth + '-23', title: 'Another Multi-Day Event' },
	    { date: thisMonth + '-27', title: 'Single Day Event' }
	];

	rebuilAcc = function(){
		$('ul', accordion).slideUp();
		accordion.removeClass('active');
	};

	accordionLink.on('click', function(event){
		event.preventDefault();
		var cont = $(this, accordion).parent();
		if ($(cont).hasClass('active')){
			$(cont).removeClass('active');
			$('ul', cont).slideUp(200);	
		} else {
			rebuilAcc();
			$(cont).addClass('active');
			$('ul', cont).slideDown(200);	
		}
	});

	$('.vertical-menu').on('touchstart',function (event) {
		var pos = event;
		var x = pos.pageX;
		console.log(x);

		$(this).on('touchend', function(){
			x =+ pos.pageX;
			console.log(x);
		});

		console.log(x);
		if (x > 0){
			$('.mobile').addClass('active');
			$('.main-page').addClass('active');
			$('body').addClass('no-scroll');
		} else {
			$('.mobile').removeClass('active');
			$('.main-page').removeClass('active');
			$('body').removeClass('no-scroll');
		}
	});


var calendar = function(cal, btn){
	var showIndex = 0;
	var calendar = cal;
	var calendarTrigger = btn;

	calendar.clndr({
		daysOfTheWeek: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
		clickEvents: {
		    click: function(target){ 
		    	showIndex = 0;
		    	calendar.hide();
		    	calendarTrigger.removeClass('active');
				
				if (!calendarTrigger.is('.active')){
					calendarTrigger.text(target.date._i);
					calendarTrigger.append($('<div/>',{class: 'icon-calendar-arrow'}));
				}
			},
			    // fired when a user goes forward a month. returns a moment.js object set to the correct month.
		    nextMonth: function(month){ },
			    // fired when a user goes back a month. returns a moment.js object set to the correct month.
		    previousMonth: function(month){ },
			    // fired when a user goes back OR forward a month. returns a moment.js object set to the correct month.
		    onMonthChange: function(month){ },
			    // fired when a user goes to the current month/year. returns a moment.js object set to the correct month.
		    today: function(month){ }
		},
		targets: {
		    nextButton: 'clndr-next-button',
		    previousButton: 'clndr-previous-button',
		    nextYearButton: 'clndr-next-year-button',
		    previousYearButton: 'clndr-previous-year-button',
		    todayButton: 'clndr-today-button',
		    day: 'day',
		    empty: 'empty'
		}
	});

	calendarTrigger.on('click', function(event){
		event.stopPropagation();
		if (showIndex == 1){
			showIndex = 0;
			
			$(this).removeClass('active');
			
			if (!calendarTrigger.is('.active'))
				if($(this).find(".icon-close-cal-white")) {
					$(this).find(".icon-close-cal-white").attr("class","icon-calendar-arrow");
				}
			
			calendar.hide();
		} else {
			showIndex = 1;

			$(this).addClass('active');
			
			if (calendarTrigger.is('.active'))
				if($(this).find(".icon-calendar-arrow")) {
					$(this).find(".icon-calendar-arrow").attr("class","icon-close-cal-white");
				}
			calendar.show();
		}	
	});

	$(document).on('click', function (event){
		event.stopPropagation();
		if (event.target != calendarTrigger && event.target != calendar && calendar.has(event.target).length === 0 && !$(event.target).hasClass('clndr-next-button') && !$(event.target).hasClass('clndr-previous-button')) {
			showIndex = 0;
			calendarTrigger.removeClass('active');
			if (!calendarTrigger.is('.active'))
				calendarTrigger.find(".icon-close-cal-white").attr("class","icon-calendar-arrow");
			calendar.hide();
		} else {
			if (calendarTrigger.is('.active'))
				$("div", calendarTrigger).attr("class","icon-close-cal-white");
		}
	});
}
calendar($('#clndr-orto'), $('.datapicker'));

function useDropButton(button, buttonList){
	var clickIndex = 0;
	var dropdown = button.parent();

	function addScrollToDropList(list){
		if(list.height() > 400){
			console.log('>400');
			list.find('.scroll').slimscroll({
				size: '8px',
				position: 'left',
				color: '#959595',
				alwaysVisible: true,
				height: '400px',
				railVisible: true,
				railColor: '#cbcbcb',
				railOpacity: 0.4,
				wheelStep: 10,
				allowPageScroll: true,
				disableFadeOut: false
			});
		}
	}

	button.on('click', function(event){
		event.stopPropagation();
		if (clickIndex > 0){
			buttonList.hide();
			if($(this).find(".icon-close-cal-white")) {
				$(this).find(".icon-close-cal-white").attr("class","icon-calendar-arrow");
			}
			button.removeClass('active');
			clickIndex = 0;
		} else {
			buttonList.show();
			console.log('opa');
			addScrollToDropList(buttonList);
			if($(this).find(".icon-calendar-arrow")) {
				$(this).find(".icon-calendar-arrow").attr("class","icon-close-cal-white");
			}
			button.addClass('active');
			clickIndex = 1;
		}
	});
	$(document).on('click', function (event){
		if(event.target != button){
			buttonList.hide();
			if(button.find(".icon-close-cal-white")) {
				button.find(".icon-close-cal-white").attr("class","icon-calendar-arrow");
			}
			button.removeClass('active');
			clickIndex = 0;
		}
	});

	if(!dropdown.is('.with-tabs')){
		buttonList.find('a').on('click', function(event){
			event.stopPropagation();
			buttonList.hide();
			button.text($(this).text());
			button.append($('<div/>',{class: 'icon-calendar-arrow'}));
			button.removeClass('active');
			dropdown.blur();
			clickIndex = 0;
		});
	} else {
		buttonList.find('a').on('click', function(event){
			event.stopPropagation();
			event.preventDefault();
			var that = $(this);
			buttonList.hide();
			button.text(that.text());
			button.append($('<div/>',{class: 'icon-calendar-arrow'}));
			button.removeClass('active');

			var tabs = dropdown.parent().find('.tab-pane');
			console.log(tabs);

			tabs.each(function(index, tab){
				if($(tab).is(that.attr('href'))) {
					/*$(tab).show(100);*/
					$(tab).addClass('active in');
				} else {
					/*$(tab).hide(100);*/
					$(tab).removeClass('active in');
				}
			});

			dropdown.blur();
			clickIndex = 0;
		});
	}


}

var dropdowns = function(){
	$('.dropdown').each(function(index, element) {
		var categoryBtn = $(element).find('.button-drop');
		var categoryBtnList = $(element).find('.dropdown-menu');
		useDropButton(categoryBtn,categoryBtnList);
	});
};
dropdowns();

var twoDrops = function(){
	var container = $('.two-drops');
	console.log(container);
	var clndr = $('.datapicker',container);
	var dropdown = $('.button-drop',container);

	function click(event){
		console.log('calendar: ' + clndr.attr('class'));
		console.log('dropdown: ' + dropdown.attr('class'));
		console.log('-------------------------------------------');
		if($(event.target).is(clndr) && clndr.hasClass('active') && dropdown.hasClass('active'))
			dropdown.click();
		if($(event.target).is(dropdown) && dropdown.hasClass('active') && clndr.hasClass('active'))
			clndr.click();
	}

	clndr.on('click', click);
	dropdown.on('click', click);
};
twoDrops();

function chooseOne(index, el) {
	$(el).on("click",function(event){
		event.preventDefault();
		$(this).siblings().each(function(index, el) {
			if($(el).hasClass('active')){
				$(el).removeClass('active');
				$(el).removeClass('shadow-down');
			}
		});
		$(this).addClass('active');
		$(this).addClass('shadow-down');
	});
}

var newsCategory = function(){

	var whiteBtnList = $('.news-category .button-white');
	whiteBtnList.each(chooseOne);

};
newsCategory();

var newsInside = function(){

	var whiteBtnList = $('.news-inside .button-white');
	whiteBtnList.each(chooseOne);

};
newsInside();

$(document).ready(function() {

	$('#listBtn').on('click', function() {
		$('#listBtn').addClass('active');
		$('#iconBtn').removeClass('active');
		$('#iconsBlockLeft').removeClass('col-md-6 col-sm-12 col-xs-12');
		$('#iconsBlockLeft').addClass('col-md-12 col-sm-12 col-xs-12');
		$('#iconsBlockRight').removeClass('col-md-6 col-sm-12 col-xs-12');
		$('#iconsBlockRight').addClass('col-md-12 col-sm-12 col-xs-12');
		$('.item-img-container').removeClass('col-md-6 col-sm-6 hidden-xs');
		$('.item-img-container').addClass('col-md-3 col-sm-3 hidden-xs');
		$('.item-text-container').removeClass('col-md-6 col-sm-6 col-xs-12');
		$('.item-text-container').addClass('col-md-9 col-sm-9 col-xs-12');
	});

	$('#iconBtn').on('click', function() {
		$('#iconBtn').addClass('active');
		$('#listBtn').removeClass('active');
		$('#iconsBlockLeft').removeClass('col-md-12 col-sm-12 col-xs-12');
		$('#iconsBlockLeft').addClass('col-md-6 col-sm-12 col-xs-12');
		$('#iconsBlockRight').removeClass('col-md-12 col-sm-12 col-xs-12');
		$('#iconsBlockRight').addClass('col-md-6 col-sm-12 col-xs-12');
		$('.item-img-container').removeClass('col-md-3 col-sm-3 hidden-xs');
		$('.item-img-container').addClass('col-md-6 col-sm-6 hidden-xs');
		$('.item-text-container').removeClass('col-md-9 col-sm-9 col-xs-12');
		$('.item-text-container').addClass('col-md-6 col-sm-6 col-xs-12');
	});
});

var publications = function(){

	var whiteBtnList = $('.publication .button-white');
	whiteBtnList.each(chooseOne);

};
publications();


var commonDatepicker = function(){

	$('#common-datepicker').clndr({
		daysOfTheWeek: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
	});

};
commonDatepicker();

var mapWrapper = function(){
	var mapWrap = $('#map-wrapper');
	var map = $('iframe.contact-map');

	mapWrap.on('click', function(event){
		$(this).css({display: 'none'});
		map.focus();
	});

	map.on('blur', function(event){
		mapWrap.css({display: 'block'});
	});
};
mapWrapper();


$(document).ready(function(){

	$('.profile-menu li a').on( 'click', function(event) {
		event.preventDefault();
		$('.profile-menu li').removeClass('active shadow-down');
		$(this).parents('li').addClass('active shadow-down');
	  // use filter function if value matches
		var filterValue = $(this).attr('data-filter');
  		isotopeContainer.isotope({ filter: filterValue });
	});

	$('.caves.nav-pills li a').click(function (event) {
	  e.preventDefault()
	  $(this).tab('show')
	});

	setTimeout(function(){$(window).resize();}, 1);
});

var onlineVideoBig = $('a.online');
var onlineVideoSmall = $('div.online-transl_tablet');
var onlineVideoBlock = $('.online-video');

function onlineTranslation(event){
	event.preventDefault();
	if(onlineVideoBlock.hasClass('active')){

		//big
		onlineVideoBlock.slideUp(300);
		onlineVideoBig.find('i').addClass('icon-online-transl');
		onlineVideoBig.find('i').removeClass('icon-menu-online-close');
		//small
		onlineVideoSmall.addClass('icon-online-transl');
		onlineVideoSmall.removeClass('icon-menu-online-close');
	} else {
		onlineVideoBlock.slideDown(300);
		if( document.body.scrollTop < onlineVideoBlock.offset().top){	
			$('html, body').animate({
        	    scrollTop: onlineVideoBlock.offset().top - 70
        	}, 600);
		} else {
			$('html, body').animate({
        	    scrollTop: onlineVideoBlock.offset().top
        	}, 600);
		}

	
		//big
		onlineVideoBig.find('i').removeClass('icon-online-transl');
		onlineVideoBig.find('i').addClass('icon-menu-online-close');
		//small
		onlineVideoSmall.removeClass('icon-online-transl');
		onlineVideoSmall.addClass('icon-menu-online-close');
	}
	onlineVideoBig.toggleClass('active');
	onlineVideoSmall.toggleClass('active');

	onlineVideoBlock.toggleClass('active');
}

onlineVideoBig.on('click',onlineTranslation);
onlineVideoSmall.on('click', onlineTranslation);

$('.hhh').scroolly([{
        from: 'con-top = vp-top',
        to: 'con-bottom = vp-top',
        cssFrom:{
            'transform': 'translateY(0px)',
            'opacity': '1'
        },
        cssTo:{
            'transform': 'translateY(100px)',
            'opacity': '0.1'
        }
    },
    {
        from: 'con-bottom = vp-top',
        to: 'con-top = vp-top',
        cssFrom:{
            'transform': 'translateY(100px)',
            'opacity': '0.1'
        },
        cssTo:{
            'transform': 'translateY(0px)',
            'opacity': '1'
        }
    }]);

var counter = 0;
var addFilterButton = function(){
  if ($(window).width() <= 440){
    if (counter == 0){
      $('.profile-menu').prepend('<div class="filter-button">Фильтр</div>');  
      counter++;
      $('.profile-menu div ~ li').on('click', function(){
        var thisText = $(this).text();
        $(this).parent().find('div').text(thisText);
      });
    } else {
      return;
    }
  } else {
    $('.profile-menu div').remove();
    counter = 0;
  }
};

if ($(window).width() <= 440){
addFilterButton();  
}


$(window).on('resize', function (){
  console.log('resize');
  if ($(window).width() <= 440){
    addFilterButton();
  }
});

$('.profile-menu').on('click', function(){
  $(this).toggleClass('active');
});

$('.horizontal-menu').scroolly([
    {	from: 'doc-top',
        to: 'con-top = vp-top + 70px',
        css: {
            position: 'relative',
            width: 'auto',
            top: ''
        },
    	addClass: 'float',
    	removeClass: 'to-top'
    },
    {
        from: 'con-top = vp-top + 70px',
        to: 'doc-bottom',
        css: {
            position: 'fixed',
            width: 'calc(100% - 85px)', 
            top: '0'
        },
    addClass: 'to-top',
    removeClass: 'float'
    }
], $('.margin-top'));


</script>

