<div class="mail-send">
        <div class="container">
            <div class ="col-lg-6 col-md-6 col-sm-12 col-xs-12 row left">
                <div class="col-md-12 col-sm-12 col-xs-12 mail-send-title"><p>Еженедельная рассылка только важных обновлений <br><span>Новости, расписание, новое в разделах сайта</span></p>
                </div>
                <div class="input-append col-md-12 col-sm-12 col-xs-12">
                  <input class="span2" id="appendedInputButton" size="20" type="text" placeholder="Введите Ваш E-mail">
                  <button class="send-button" type="button"><span class="icon-letter" ></span></button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row social right">
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 border-fb">
                    <span class="icon-fb-big"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 border-vk">
                    <span class="icon-vk-big "></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 border-tw">
                    <span class="icon-tw-big"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3 border-youtube">
                    <span class="icon-youtube-big"></span>
                </div>
            </div>

        </div>
    </div>