.schedule-page{
  .ver_for_print{
    float: right;
    padding-top: 25px;
  }
  .button-with-border {
    margin-top: 40px;
    margin-left: 0;
  }
}
.schedule-tree__active {
  .schedule-tree__active {
    ul > li {
      padding: 5px 20px !important;
    }
  }
}
.schedule-week{
  background-color: white;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  .schedule-week__title {
    text-align: right;
    font-weight: bold;
    float: left;
    margin-bottom: 0;
  }

/*   &__title{
  display: inline-block;
  background-color: #ffdc74;
  padding: 15px 30px;
  margin-bottom: 0;
  margin-right: 10px;
} */

}

.schedule-tree {
  .title-wrapper {
    display: flex;
  }
  .schedule-tree-title {
    padding: 0;
    margin-top: 30px;
    h2 {
      margin: 0;
    }
  }

  .title {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #c0c0c0;
    padding: 10px;
    padding-top: 5px;
    color: black;
    margin-right: 20px;
    vertical-align: sub;
    font-size: 15px;

    span.title-date {
      color: #5c5c5c;
    }

  }
  .tree-title {
    position: relative;
    color: black;

    background: url("../../images/content-img/schedule-tree--title.png") no-repeat;
    padding: 36px 29px 30px 10px;
    margin-left: 45px;
    color: #c0c0c0;
    span {
      color: black;
      font-size: 20px;
      padding-left: 0;
    }
  }
  h2 {
    display: inline-block;
  }
  .schedule-item {
    position: relative;
    background: url("../../images/content-img/schedule-tree--grey.png") no-repeat;
    padding: 5px 20px;
    padding-left: 0;
    margin-left: 45px;
    color: #c0c0c0;
  }
  .schedule-item:after, .tree-title:after {
    position: absolute;
    border-left: 1px solid #c0c0c0;
    height: 93px;
    width: 1px;
    bottom: 13px;
    content: "";
    left: -15px;
  }
  &:first-child:after {
    height: 30px;
  }
  //ul li:last-child:after{
  //  bottom:25px;
  //}
  .schedule-date {
    color: @gray-color-light;
    margin: 10px;
  }
  a {
    color: @green-color-bright;
  }

  &__active {

    .title {
      margin-bottom: 10px;
      margin-top: 30px;

      display: inline-block;
      width: 60px;
      height: 60px;
      text-align: center;
      background-color: @green-color-dark;
      border-radius: 50%;
      padding: 10px;
      padding-top: 7px;
      color: white;
      margin-right: 20px;
      vertical-align: sub;
      font-size: 15px;
    }
    .tree-title {
      position: relative;
      color: black;

      background: url("../../images/content-img/schedule-tree--title.png") no-repeat;
      padding: 36px 29px 30px 10px;
      margin-left: 45px;
      color: @green-color-dark;
      span {
        color: black;
        font-size: 20px !important;
      }
    }
    h2 {
      display: inline-block;
    }
    .schedule-item {
      position: relative;
      background: url("../../images/content-img/schedule-tree--grey.png") no-repeat;
      padding: 5px 20px;
      padding-left: 0;
      margin-left: 45px;
      color: @green-color-dark;
    }
    .schedule-item:after, .tree-title:after {
      position: absolute;
      border-left: 1px solid #369670;
      height: 48px;
      width: 1px;
      bottom: -17px;
      content: "";
      left: -15px;
    }
    ul li:last-child:after {
      bottom: 25px;
    }
    .schedule-date {
      color: @gray-color-light;
      margin: 10px;
    }
    a {
      color: @green-color-bright;
    }
  }
  .ul {
    .schedule-item {
      &:first-child {
        &:after {
          height: 41px !important;
        }

      }
    }
  }
  ul {
    li:nth-child(1):after {
     height: 26px;
    }
    li.schedule-item.first-item:after {
      height: 20px;
    }
  }
}
