.lavra-departments-wrapper{
  width: 100%;
  margin: 0px auto;
  background: #ffffff;
  padding-bottom: 50px;
}
.lavra-departments{
  margin: 0 auto;
  float: none;
  vertical-align: middle;
  a{
    display:block;
    .svg{
      height: 69px;
      width: 69px;
      border: 1px solid #eaeaea;
      border-radius: 50%;
      margin:15px 10px 15px 0;
      display:inline-block;
      vertical-align: middle;
      .transition(all, .3s, linear);
      svg{
        height:50px;
        width:50px;
        margin: 8px;
        .transition(all, .3s, linear);
        .fil0 {
          .transition(all, .3s, linear);
          fill:#3A956C;
          fill-rule:nonzero;
        }
      }
    }
    &:hover{
      .svg{
        background: #39b584;
        border: 1px solid #39b584;
        svg{
          .fil0 {
            fill:#FFFFFF;
            fill-rule:nonzero;
          }
        }
      }
        span{
          color: #39b584;
        }
      }
  }

  h2{
    text-align: center;
    margin: 50px 0px 30px;
  }
  li{
    display: inline;
  }
}