.caves{
  .profile-menu, .ver_for_print{
    margin-top: 30px;
    .icon-print_version {
      margin-top: -5px;
    }
  }
  .ver_for_print {
    padding: 30px 0;
  }
  h2{
    clear: both;
  }
  .saint-block {
    margin-top: 20px;
    min-height: 170px;
    overflow: hidden;
    .photo{
      display: block;
      position: relative;
      min-width: 200px;
      img {
        float: left;
      }
    }
    .text{
      display: block;
      position: relative;
      width: calc(~"100% - 200px");
      float: right;
      p {
        font-size: 20px;
      }
    }
  }
  .button-default{
    margin-top: 30px;
  }
  .nav.nav-pills{
    margin-top: 30px;
    padding: 20px 0px;
    .tab-panel-header-content {
      padding: 0;
      h2 {
        padding: 10px 0px;
      }
    }
  }
  .nav-pills > li.active > a{
    color: @green-color-dark;
    background-color: transparent;
  }

  .nav > li > a {
    padding: 2px 10px; 
  }
  .history_inside_carousel .control-nav{
    margin: 0px auto;
    float: none;
    padding: 0;
    text-align: center;
  }
  .mail-send {
    margin-bottom: -50px;
  }
}
.mail-send-caves{
  padding-top: 20px !important;
  .news-form{
    padding-bottom: 0 !important;
  }
  .send-button{
    float: none;
    margin: 0 auto;
    padding: 20px;
  }
  .button-default{
    margin-top: 20px;
  }
  .mail-send-title p{
    font-size: 25px;
  }
}

.no-touch .caves{
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: @green-color-dark;
    background-color: transparent;
  }
  .nav > li > a:hover, 
  .nav > li > a:focus {
    background-color: transparent;
    color: @green-color-dark;
    transition: 0.6s; 
  }
}
.tab-content {
  .tab-pane {
    .tab-panel-header-content {
      padding: 0;
      h2 {
        padding: 10px 0px;
      }
    }
  }
}