.caves-inside{
	.row{
		.button-with-border, .button-default{
			margin:0px 15px 15px 15px;
		}
	}
	.button-with-border{
		width: 100% !important;
		margin-left: 0;
		margin-bottom: 30px;
	}
	.schedule .dropdown {
	    margin-top: 0px;
	    float: left;
	}
	.dropdown{
		margin-top: 0px;
		&.with-tabs{
			margin: 15px 0 30px;
		}
	}
	.nav.nav-pills{
	    margin-top: 30px;
	    padding: 20px 0px;
	  }
   	.nav-pills > li.active > a {
    	color: @green-color-dark;
    	background-color: transparent;
  	}
  	
  	.nav > li > a {
    	padding: 2px 10px; 
  	}

  	.ver_for_print{
    	margin:15px 0px;
    	padding: 10px 0px;
    	float: right;
	}
	h2{
	  clear: both;
	  padding-right: 0px;
	  padding-left: 0px;
	  margin: 15px 0 !important;
	}
	.button-default#social{
		margin: 15px 0;
	}
}

.no-touch .caves-inside{
	.nav-pills > li.active > a:hover,
  	.nav-pills > li.active > a:focus {
    	color: @green-color-dark;
    	background-color: transparent;
  	}
  	.nav > li > a:hover, 
  	.nav > li > a:focus {
    	background-color: transparent;
    	color: @green-color-dark;
    	transition: 0.6s; 
  	}
}