.vertical-menu {
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  min-height: 100%;
  z-index: 1000;
  .vertical-menu-wrapper {
    z-index: 3001;
    width: 85px;
    margin: 0 auto;
    float: none;
    font-family: 'Cuprum', sans-serif;
    float: left;
    min-height: 100%;
    background-color: @gray-color-dark;
    position:relative;
    .lang{
      display:block;
      color: #8d8d8d;
      height: 40px;
      width: 40px;
      text-align: center;
      padding-top: 10px;
      margin: 10px auto;
      border-radius: 20%;
      border: 1px solid transparent;
      .transition(all, .3s, linear);
      &.active{
        border: 1px solid #ffffff;
        color: #ffffff;
        border-radius: 50%;
        &:hover{
          border: 1px solid #ffffff;
          color: #ffffff;
          border-radius: 50%;
        }
      }
      &:hover{
        color: white;
        border: 1px solid @gray-color-light;
        border-radius: 50%;
      }
    }
    .social{
      display: block;
      width: 100%;
      padding: 20px 0px;
      text-align: center;
      box-sizing: border-box;
      border-left: 4px solid transparent;
      .transition(all, .3s, linear);
      &.vk{
        margin-top: 40px;
        
        div{
          background: url("../../images/src/icon-vk.png") center center no-repeat;
          width: 20px;
          height: 12px;
          .transition(all, .3s, linear);
        }
        &:hover{
           background: @gray-color-light;
          border-left: 4px solid #58a1d9;
          div{
            background: url("../../images/src/vk-hover.png") center center no-repeat;
          }
        }
      }
      &.fb{
        div{
          background: url("../../images/src/icon-fb.png") center center no-repeat;
          width: 9px;
          height: 18px;
          .transition(all, .3s, linear);
        }
        &:hover{
           background: @gray-color-light;
          border-left: 4px solid #0090ff;
          div{
            background: url("../../images/src/facebook-hover.png") center center no-repeat;
          }
        }
      }
      &.youtube{
        div{
          background: url("../../images/src/icon-youtube.png") center center no-repeat;
          width: 16px;
          height: 12px;
          .transition(all, .3s, linear);
        }
        &:hover{
          background: @gray-color-light;
          border-left: 4px solid #cf0b0b;
          div{
            background: url("../../images/src/youtube-hover.png") center center no-repeat;
          }
        }
      }
      &.tw{
        div{
          background: url("../../images/src/tw.png") center center no-repeat;
          width: 20px;
          height: 14px;
          .transition(all, .3s, linear);
        }
        &:hover{
        background: @gray-color-light;
        border-left: 4px solid #3b94d9;
        div{
          background: url("../../images/src/tw-white.png") center center no-repeat;
          }
        }
      }
      div{
        display: inline-block;
      }
    }
    .search{
      margin-bottom: 40px;
      cursor: pointer; 
      &:hover{
        .transition(background-color, .3s, linear);
        background-color: @gray-color-middle;
      }
      &.active{
        .transition(background-color, .3s, linear);
        background-color: @gray-color-light;
      }
    }
    .to-top-icon{
      position: relative;
      margin: 15px auto;
    }
    .to-top-wrapper{
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
      left: 0;
      &:hover{
        .transition(background-color, .3s, linear);
        background-color: @gray-color-middle;
      }
    }
    
  }
  .mobile{
    float: left;
    min-height: 100%;
    background: @gray-color-middle;
    position:relative;
    z-index: 3000;
    width: 275px;
    left: -275px;
    // visibility:hidden;
    .transition(left ,0.3s,linear);
    &.active{
      left:0;
      // visibility:visible;

    }
    .search-block{
      height:70px;
      background: @gray-color-light;
      width:100%;
      text-align: center;
      padding-left: 10px;
      &:before {
          content:'';
          height: 100%;
          display: inline-block;
          vertical-align: middle;
      }
      form{
        display: inline-block;
        input[type='text']{
          width: 200px;
          height:30px;
          background:none;
          border:none;
          border-bottom: 2px solid @gray-color-middle;
          outline: none;
          color:white;
          .transition(0.2s,linear);
          &:focus{
            border-bottom: 2px solid @green-color-bright;
          }
        }
        button[type='submit']{
          height: 25px;
          width: 25px;
          border:none;
          background-color: transparent;
          text-indent: -9999px;
          vertical-align: middle;
          svg{
            position: absolute;
          }
        }
      }
    }
    menu{
      width:100%;
      & > li > a{
          font-weight: 700;
        }

      li{
        list-style-type: none;
        position:relative;
        z-index: 2;
        &:hover > a{
          background-color: @green-color-bright;
        }
        &:active > a{
          background-color: @green-color-bright - 30;
        }
        &.active > a{
          background-color: @green-color-bright;
          .icon{
            background-image: url(../../images/sprite/spritesheet.png);
            background-position: -296px -160px;
            width: 20px;
            height: 20px;
          }
        }
        a{
          padding-left: 30px;
          display:block;
          color:white;
          line-height: 44px;
          position:relative;
          .transition(0.2s, ease-in-out);
          .icon{
            display:block;
            float: right;
            margin: 11px 20px;
              background-image: url(../../images/sprite/spritesheet.png);
              background-position: -296px -200px;
              width: 20px;
              height: 20px;
          }
        }

        ul{
          position:relative;
          z-index: 1;
          background: @green-color-dark;
          margin:0;
          display:none;
          overflow: hidden;
        }
      }
      .unbold{
        font-weight: 400;
      }
      .border-top{
        border-top: 1px solid #5b5d5c;
      }
    }
  }
}
