.vertical-menu-mobile {
  left: 0;
  top: 70px;

  position: fixed;

  height: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 1000;

  overflow-y: auto;

    .lang{
      text-align: center;
      display: inline-block;
      color: #8d8d8d;
      padding: 17px 30px;
      .transition(all, .3s, linear);
      &.active{
        border-bottom: 4px solid #39b584;
        color: #ffffff;
        background-color: #313131;
        &:hover{
          border-bottom: 4px solid #39b584;
          color: #ffffff;
          background-color: #313131;
        }
      }
      &:hover{
        border-bottom: 4px solid #39b584;
        color: #ffffff;
        background-color: #313131;
      }
    }
    .social{
      bottom: 0px;
      display: inline-block;
      padding: 20px 45px 35px;
      height: 30px;
      .transition(all, .3s, linear);
      &.vk{
        div{
          margin: auto;
          background: url("../../images/src/icon-vk.png") center center no-repeat;
          width: 20px;
          height: 12px;
          .transition(all, .3s, linear);
        }
        &:hover{
        background: @gray-color-light;
        border-bottom: 4px solid #58a1d9;
        div{
          background: url("../../images/src/vk-hover.png") center center no-repeat;
          }
        }
      }
      &.fb{
        div{
          margin: auto;
          background: url("../../images/src/icon-fb.png") center center no-repeat;
          width: 9px;
          height: 18px;
          .transition(all, .3s, linear);
        }
        &:hover{
        background: @gray-color-light;
        border-bottom: 4px solid #0090ff;
        div{
          background: url("../../images/src/facebook-hover.png") center center no-repeat;
          }
        }
      }
      &.youtube{
        div{
          margin: auto;
          background: url("../../images/src/icon-youtube.png") center center no-repeat;
          width: 16px;
          height: 12px;
          .transition(all, .3s, linear);
        }
        &:hover{
        background: @gray-color-light;
        border-bottom: 4px solid #cf0b0b;
        div{
          background: url("../../images/src/youtube-hover.png") center center no-repeat;
          }
        }
      }
      &.tw{
        div{
          margin: auto;
          background: url("../../images/src/tw.png") center center no-repeat;
          width: 20px;
          height: 14px;
          .transition(all, .3s, linear);
        }
        &:hover{
        background: @gray-color-light;
        border-bottom: 4px solid #3b94d9;
        div{
          background: url("../../images/src/tw-white.png") center center no-repeat;
          }
        }
      }

    }
    .search{
      margin-bottom: 40px;
      cursor: pointer;
      &:hover{
        .transition(background-color, .3s, linear);
        background-color: @gray-color-middle;
      }
      &.active{
        .transition(background-color, .3s, linear);
        background-color: @gray-color-light;
      }
    }
    .to-top-icon{
      position: absolute;
      bottom: 3%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .mobile-small{
    overflow-y: auto;
    
    float: left;
    min-height: 100%;
    background: @gray-color-middle;
    position:relative;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    

    // visibility:hidden;
    .transition(0.3s,linear);
    &.active{
      //  left:0;
      // visibility:visible;
    }
    .search-block{
      height:60px;
      background: @gray-color-light;
      width:100%;

      &:before {
        content:'';
        height: 100%;
        width: 0px;
        position: inherit;
        display: inline-block;
        vertical-align: middle;
      }
      form{
        display: inline-block;
        width:98%;
        input[type='text']{
          height:30px;
          margin-left: 10px;
          width: calc(~"100% - 50px");
          background:none;
          border:none;
          border-bottom: 2px solid @gray-color-middle;
          outline: none;
          color:white;
          .transition(0.2s,linear);
          &:focus{
            border-bottom: 2px solid @green-color-bright;
          }
        }
        button[type='submit']{
          float: right;
          height: 25px;
          width: 22px;
          border:none;
          background-color: transparent;
          text-indent: -9999px;
          svg{
            position: absolute;
          }
        }
      }
    }
    menu{
      width:100%;
      margin-top: 119px;
      li{
        list-style-type: none;
        position:relative;
        z-index: 2;
        &:hover > a{
          background-color: @green-color-bright;
        }
        &:active > a{
          background-color: @green-color-bright - 30;
        }
        &.active > a{
          background-color: @green-color-bright;
          .icon{
            background-image: url(../../images/sprite/spritesheet.png);
            background-position: -296px -160px;
            width: 20px;
            height: 20px;
          }
        }
        a{
          padding-left: 30px;
          display:block;
          color:white;
          line-height: 44px;
          position:relative;
          .transition(0.2s, ease-in-out);
          .icon{
            display:block;
            float: right;
            margin: 11px 20px;
            background-image: url(../../images/sprite/spritesheet.png);
            background-position: -296px -200px;
            width: 20px;
            height: 20px;
          }
        }
        ul{
          position:relative;
          z-index: 1;
          background: @green-color-dark;
          margin:0;
          display:none;
          overflow: hidden;
        }
      }
      .unbold{
        font-weight: 400;
      }
      .border-top{
        border-top: 1px solid #5b5d5c;
      }
    }
  }

