.publication, .news-inside {
  .dropdown .button-drop {
    padding: 7px 16px;
    font-size: 15px;
    .icon-calendar-arrow{
      float: right;
      margin: 0px;
      margin-top: 7px;
    }
  }
  h2 {
    padding-top: 0px;
  }
  h2.all_publ {
    color: @text-color-green;
    float: left;
  }
  .button-white {
    margin: 15px 10px 15px 0;
  }
  ul {
    list-style: none;
    clear: both;
  }
  li {
    font-size: 15px;
    margin: 10px 0;
  }
  a:hover {
    color: @text-color-green;
  }
}

.publication .dropdown, .publication .news-calendar{
  margin: 0;
  padding: 15px 15px;
}