.molebn{
  color: @text-color-light;

  a{
    color: @green-color-dark;
  }
  h2{
    line-height: 2;
    color: #000000;
  }
  p{
    line-height: 5;
  }
}
.molebn-table{

  span{
    color: #000000;
  }


th{
  background-color: @text-color-light;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  padding: 10px;

}
  td{
    padding: 18px;
    vertical-align: top;
  }
  td:not(:last-child), th:not(:last-child){
    border-right: 1px solid #e3e3e3;

  }

  td:first-child{
    padding-right: 30px;
  }
  td:nth-child(2){
    padding-right: 100px;
    color: @green-color-dark;
  }
  tr:nth-child(even){
    background-color: #f7f7f7;
  }
}