include "headerAll.html"
    <div class="container margin-top ask_answers">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная</h5></div>
        </div>
        <div class="col-md-8 col-sm-12">
        
            <h2 class="page-title">Вопросы и ответы по рубрикам</h2>
            
            <div class="input_search">
                <input class="shadow-down" placeholder="Поиск по вопросам...">
            </div>

            <div class="dropdown date-sort col-md-12 col-sm-12 col-xs-12 row">
                <button taaindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" data-toggle="dropdown">
                    Сортировать по дате
                    <div class="icon-calendar-arrow"></div>
                </button>
                <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 ">
                    <li role="menuitem"><a>
                    вторник
                    </a></li>
                    <li role="menuitem"><a>
                    среда
                    </a></li>
                    <li role="menuitem"><a>
                    четверг
                    </a></li>
                    <li role="menuitem"><a>
                    пятница
                    </a></li>
                    <li role="menuitem"><a>
                    суббота
                    </a></li>
                    <li role="menuitem"><a>
                    воскресенье
                    </a></li>
                </ul>
            </div>
        
            <ul class="col-md-12 profile-menu margin-left-15">
                <li class="button-white shadow-down active"><a href="#">Все</a></li>
                <li class="button-white"><a href="#">Общие</a></li>
                <li class="button-white"><a href="#">Богослужебные</a></li>
                <li class="button-white"><a href="#">Личные</a></li>
            </ul>        
        
            <div class="ask-block col-md-12 margin-left-15">
                <span class="general-ask"><a href="#">Общие вопросы</a></span>
                <span class="date-ask">12 мая 2015</span>
        
                <a href="#" class="title-ask">Заданый вопрос на какую-то тему с большим заголовком или нет?
                </a>
                <span class="asker"><a href="#">Автор</a></span>
                <span class="answer-ask"><a href="#">1 ответ</a></span>
            </div>
            <div class="ask-block col-md-12 margin-left-15">
                <span class="general-ask"><a href="#">Общие вопросы</a></span>
                <span class="date-ask">12 мая 2015</span>
        
                <a href="#" class="title-ask">Заданый вопрос на какую-то тему с большим заголовком или нет?
                </a>
                <span class="asker"><a href="#">Автор</a></span>
                <span class="answer-ask"><a href="#">1 ответ</a></span>
            </div>
            <div class="ask-block col-md-12 margin-left-15">
                <span class="general-ask"><a href="#">Общие вопросы</a></span>
                <span class="date-ask">12 мая 2015</span>
        
                <a href="#" class="title-ask">Заданый вопрос на какую-то тему с большим заголовком или нет?
                </a>
                <span class="asker"><a href="#">Автор</a></span>
                <span class="answer-ask"><a href="#">1 ответ</a></span>
            </div>
            <div class="ask-block col-md-12 margin-left-15">
                <span class="general-ask"><a href="#">Общие вопросы</a></span>
                <span class="date-ask">12 мая 2015</span>
        
                <a href="#" class="title-ask">Заданый вопрос на какую-то тему с большим заголовком или нет?
                </a>
                <span class="asker"><a href="#">Автор</a></span>
                <span class="answer-ask"><a href="#">1 ответ</a></span>
            </div>
            <div class="ask-block col-md-12 margin-left-15">
                <span class="general-ask"><a href="#">Общие вопросы</a></span>
                <span class="date-ask">12 мая 2015</span>
        
                <a href="#" class="title-ask">Заданый вопрос на какую-то тему с большим заголовком или нет?
                </a>
                <span class="asker"><a href="#">Автор</a></span>
                <span class="answer-ask"><a href="#">1 ответ</a></span>
            </div>
        
            <button class="button-default" value="Показать еще">Показать еще</button>
            
            <div class="col-md-12 margin-left-15">
                <h2 id="fluid-header">Популярные темы</h2>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Праздник</button>
                <button class="button-tags" value="Показать еще">Продам гараж</button>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Христос Воскрес</button>
            </div>
        </div>

        <div class="ask-form col-md-4  col-sm-12 col-xs-12 shadow-down margin-left-15">
            <h2>Задать вопрос</h2>

            <div class="dropdown select-section col-md-12  col-sm-12 col-xs-12 row">
                <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" data-toggle="dropdown">
                    Выберите рубрику
                    <div class="icon-calendar-arrow"></div>
                </button>
                <ul class="dropdown-menu col-md-10 col-sm-10 col-xs-10 ">
                    <li role="menuitem"><a>
                    вторник
                    </a></li>
                    <li role="menuitem"><a>
                    среда
                    </a></li>
                    <li role="menuitem"><a>
                    четверг
                    </a></li>
                    <li role="menuitem"><a>
                    пятница
                    </a></li>
                    <li role="menuitem"><a>
                    суббота
                    </a></li>
                    <li role="menuitem"><a>
                    воскресенье
                    </a></li>
                </ul>
            </div>

            <textarea placeholder="Введите текст своего вопроса..." class="col-md-12 col-sm-12 col-xs-12"></textarea>
            <input type="email" placeholder="Введите E-mail" class="col-md-12 col-sm-12 col-xs-12">
            <button class="button-default col-md-12  col-sm-12 col-xs-12" value="Показать еще">Отправить</button>
        </div>

    </div>
    include "footer.html"
</div>
include "scripts.html"
</body>
</html>