include "headerAll.html"

    <div class="container margin-top calendar ">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Православный календарь</h5></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">Календарь</h2>
            <div class="datepicker-nohide shadow-down">
                <div class="datepicker" id="common-datepicker" data-date="javascript(new Date())" data-date-end-date="0d"></div>
            </div>
        </div>
        
        <div class="calendar-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="col-md-6 margin-left-15">1 апреля 2015</h2>

            <div class="ver_for_print col-md-6 hidden-sm hidden-xs">
                <div class="ver_for_print_conainer">
                    <p>Версия для печати</p>
                    <div class="icon-print_version"></div>
                </div>
            </div>

            <p>Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их, Диодора пресв. и Мариана диак. Прав. Софии, кн. Слуцкой. Прп. Симеона Дайбабского (Серб.). Св. Иоанна исп., прмц. Матроны. Прп. Иннокентия Комельского, Вологодского. Прп. Вассы Псково-Печерской. Прп. Симеона Псково-Печерского.
            Иконы Божией Матери «Умиление», Смоленской. Литургия Преждеосвященных Даров.</p>

            <h2 class="block-title">Жития святых на каждый день</h2>

            <div class="panel-group" id="accordion">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                <p> Преподобные Марк, Иона и Васса</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse">
                        <div class="panel-body">
                            <span>Преподобный Иннокентий Комельский, Вологодский происходил из рода московских князей Охлябининых. Принял монашество в Кирилло-Белозерском монастыре, ученик преподобного Нила Сорского (+ 1508; память 7/20 мая). Вместе со своим наставником совершал паломничество в Палестину, Константинополь, на святую гору Афон, где прожил несколько лет. Возвратившись на родину и ища безмолвия, преподобный Иннокентий вместе с преподобным Нилом поселился на реке Сорке, где его учитель основал скит со строгим уставом. По указанию Божия Промысла преподобный оставил своего наставника и поселился в Комельском лесу, недалеко от Вологды, на реке Еде. Тридцать лет трудился преподобный Иннокентий над устройством монастыря. На основании творений святых отцов и особенно писаний преподобный Нила Сорского он составил для братии наставления. Преподобный Иннокентий завещал прежде всего избегать ссор и споров просил хранить любовь о Христе и мир духовный. Покидавший пустыню инок терял право на келлию, а если возвращался, то мог занять ее лишь с согласия настоятеля и братии. Будущую церковь преподобный просил освятить во имя святого и великого Иоанна Предтечи, Крестителя Господня, в воспоминание третьего обретения его честной главы (празднуемого 25 мая/7 июня), ибо святой Иоанн Предтеча — наставник всем инокам и пустынножителям. Преподобный мирно почил о Господе 19 марта 1521 г.</span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                <p> Преподобный Иннокентий Комельский, Вологодский</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="panel-body">
                            <span>Преподобный Иннокентий Комельский, Вологодский происходил из рода московских князей Охлябининых. Принял монашество в Кирилло-Белозерском монастыре, ученик преподобного Нила Сорского (+ 1508; память 7/20 мая). Вместе со своим наставником совершал паломничество в Палестину, Константинополь, на святую гору Афон, где прожил несколько лет. Возвратившись на родину и ища безмолвия, преподобный Иннокентий вместе с преподобным Нилом поселился на реке Сорке, где его учитель основал скит со строгим уставом. По указанию Божия Промысла преподобный оставил своего наставника и поселился в Комельском лесу, недалеко от Вологды, на реке Еде. Тридцать лет трудился преподобный Иннокентий над устройством монастыря. На основании творений святых отцов и особенно писаний преподобный Нила Сорского он составил для братии наставления. Преподобный Иннокентий завещал прежде всего избегать ссор и споров просил хранить любовь о Христе и мир духовный. Покидавший пустыню инок терял право на келлию, а если возвращался, то мог занять ее лишь с согласия настоятеля и братии. Будущую церковь преподобный просил освятить во имя святого и великого Иоанна Предтечи, Крестителя Господня, в воспоминание третьего обретения его честной главы (празднуемого 25 мая/7 июня), ибо святой Иоанн Предтеча — наставник всем инокам и пустынножителям. Преподобный мирно почил о Господе 19 марта 1521 г.</span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                <p> Святая праведная София, княгиня Слуцкая</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="panel-body">
                            <span>Преподобный Иннокентий Комельский, Вологодский происходил из рода московских князей Охлябининых. Принял монашество в Кирилло-Белозерском монастыре, ученик преподобного Нила Сорского (+ 1508; память 7/20 мая). Вместе со своим наставником совершал паломничество в Палестину, Константинополь, на святую гору Афон, где прожил несколько лет. Возвратившись на родину и ища безмолвия, преподобный Иннокентий вместе с преподобным Нилом поселился на реке Сорке, где его учитель основал скит со строгим уставом. По указанию Божия Промысла преподобный оставил своего наставника и поселился в Комельском лесу, недалеко от Вологды, на реке Еде. Тридцать лет трудился преподобный Иннокентий над устройством монастыря. На основании творений святых отцов и особенно писаний преподобный Нила Сорского он составил для братии наставления. Преподобный Иннокентий завещал прежде всего избегать ссор и споров просил хранить любовь о Христе и мир духовный. Покидавший пустыню инок терял право на келлию, а если возвращался, то мог занять ее лишь с согласия настоятеля и братии. Будущую церковь преподобный просил освятить во имя святого и великого Иоанна Предтечи, Крестителя Господня, в воспоминание третьего обретения его честной главы (празднуемого 25 мая/7 июня), ибо святой Иоанн Предтеча — наставник всем инокам и пустынножителям. Преподобный мирно почил о Господе 19 марта 1521 г.</span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                                <p> Святой мученик Панхарий</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="collapse">
                        <div class="panel-body">
                            <span>Преподобный Иннокентий Комельский, Вологодский происходил из рода московских князей Охлябининых. Принял монашество в Кирилло-Белозерском монастыре, ученик преподобного Нила Сорского (+ 1508; память 7/20 мая). Вместе со своим наставником совершал паломничество в Палестину, Константинополь, на святую гору Афон, где прожил несколько лет. Возвратившись на родину и ища безмолвия, преподобный Иннокентий вместе с преподобным Нилом поселился на реке Сорке, где его учитель основал скит со строгим уставом. По указанию Божия Промысла преподобный оставил своего наставника и поселился в Комельском лесу, недалеко от Вологды, на реке Еде. Тридцать лет трудился преподобный Иннокентий над устройством монастыря. На основании творений святых отцов и особенно писаний преподобный Нила Сорского он составил для братии наставления. Преподобный Иннокентий завещал прежде всего избегать ссор и споров просил хранить любовь о Христе и мир духовный. Покидавший пустыню инок терял право на келлию, а если возвращался, то мог занять ее лишь с согласия настоятеля и братии. Будущую церковь преподобный просил освятить во имя святого и великого Иоанна Предтечи, Крестителя Господня, в воспоминание третьего обретения его честной главы (празднуемого 25 мая/7 июня), ибо святой Иоанн Предтеча — наставник всем инокам и пустынножителям. Преподобный мирно почил о Господе 19 марта 1521 г.</span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" class="collapsed">
                                <p> Икона Божией Матери, именуемая `Умиление`, Смоленская</p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="collapse">
                        <div class="panel-body">
                            <span>Преподобный Иннокентий Комельский, Вологодский происходил из рода московских князей Охлябининых. Принял монашество в Кирилло-Белозерском монастыре, ученик преподобного Нила Сорского (+ 1508; память 7/20 мая). Вместе со своим наставником совершал паломничество в Палестину, Константинополь, на святую гору Афон, где прожил несколько лет. Возвратившись на родину и ища безмолвия, преподобный Иннокентий вместе с преподобным Нилом поселился на реке Сорке, где его учитель основал скит со строгим уставом. По указанию Божия Промысла преподобный оставил своего наставника и поселился в Комельском лесу, недалеко от Вологды, на реке Еде. Тридцать лет трудился преподобный Иннокентий над устройством монастыря. На основании творений святых отцов и особенно писаний преподобный Нила Сорского он составил для братии наставления. Преподобный Иннокентий завещал прежде всего избегать ссор и споров просил хранить любовь о Христе и мир духовный. Покидавший пустыню инок терял право на келлию, а если возвращался, то мог занять ее лишь с согласия настоятеля и братии. Будущую церковь преподобный просил освятить во имя святого и великого Иоанна Предтечи, Крестителя Господня, в воспоминание третьего обретения его честной главы (празднуемого 25 мая/7 июня), ибо святой Иоанн Предтеча — наставник всем инокам и пустынножителям. Преподобный мирно почил о Господе 19 марта 1521 г.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    include "footer.html"
</div>
include "scripts.html"

</body>
</html>