include "headerAll.html"

    <div class="container margin-top history_inside caves">
        
        <div class="row">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Святыни</h5></div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">Дальние пещеры</h2>

            <div id="myCarousel" class="carousel slide history_inside_carousel">
                <div class="carousel-inner">
                    <div class="active item"><img src="../images/content-img/history_inside_slider1.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider2.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                </div>
                <div class="shadow-down col-md-12">
                    <div class="col-md-3 control-nav">
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <div class="icon-history_inside_slider_prev"></div>
                        </a>

                        <div class="slide_number"></div>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <div class="icon-history_inside_slider_next"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown hidden-lg hidden-md hidden-sm visible-xs col-xs-12 row" tabindex="0">
                    <button  class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="sheduleDropdown">
                    на сегодня
                    <div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 ">
                        <li role="menuitem"><a>
                        вторник
                        </a></li>
                        <li role="menuitem"><a>
                        среда
                        </a></li>
                        <li role="menuitem"><a>
                        четверг
                        </a></li>
                        <li role="menuitem"><a>
                        пятница
                        </a></li>
                        <li role="menuitem"><a>
                        суббота
                        </a></li>
                        <li role="menuitem"><a>
                        воскресенье
                        </a></li>
                    </ul>
                </div>

            <ul class="col-md-8 nav nav-pills hidden-xs">
                <li class="button-white active"><a href="#description" class="active" data-toggle="tab">Описание</a></li>
                <li class="button-white"><a href="#gallery" data-toggle="tab">Галерея</a></li>
                <li class="button-white"><a href="#map" data-toggle="tab">Карта</a></li>
                <li class="button-white"><a href="#caves-list" data-toggle="tab">Схема пещер</a></li>
            </ul>

            <div class="ver_for_print col-md-4 margin-left-15 hidden-xs">Версия для печати
                <div class="icon-print_version"></div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active fade in content-block" id="description">
                    <h2>О пещере</h2>

                    <p>По послушанию руководителя паломнического отдела Киево-Печерской Лавры, мне приходится по нескольку раз в
                        год сопровождать паломников в разные страны. В конце мая 2007 года мы должны были лететь в Турцию. Перед
                        вылетом я спустился в пещеры, приложился к мощам преподобных отцов. Просил их святых молитв, чтоб
                        сохранили нас от искушений и неприятностей, управили нам путь. В пещеры я обязательно иду перед каждой
                        поездкой и без благословения Печерских отцов не дерзаю отправляться в дорогу.</p>

                    <p> Программа нас ожидала насыщенная — знакомство с православными святынями древней Византии, посещение
                        столицы империи — Константинополя, нынешнего Стамбула. Много интересных памятников истории мы должны
                        были увидеть на островах. Из Киевского аэропорта Борисполь мы вылетели в Стамбул. В группе было 12
                        человек, коллектив подготовленный, люди воцерковленные.</p>

                    <p>Всё шло своим чередом. Полет проходил нормально, как обычно. Внизу уже показались городские строения и
                        магистрали, пассажиры пристегнули ремни, готовясь к посадке. Но когда самолет начал снижаться, и под
                        нами показалась взлетная полоса, до которой оставалось метров 300 — вдруг надсадно, с чрезвычайным
                        усилием взревели моторы.</p>

                    <p>Салон судорожно завибрировал, по проходу в кабину пилотов встревожено убежали побледневшие стюардессы,
                        оставив взволнованных пассажиров. Никто не понял, в чем дело, но ясно было, что происходит нечто
                        экстраординарное.</p>

                    <p>Архимандрит Пимен (Дроздюк), глава паломнического отдела Киево-Печерской Лавры
                        Записала Валентина Серикова. Статья полностью: сайт «Православная жизнь»
                        Использованы фото архива Редакции сайта www.lavra.ua</p>
                </div>
                <div class="tab-pane fade content-block" id="gallery">
                    <h2>Галерея</h2>

                    <p>По послушанию руководителя паломнического отдела Киево-Печерской Лавры, мне приходится по нескольку раз в
                        год сопровождать паломников в разные страны. В конце мая 2007 года мы должны были лететь в Турцию. Перед
                        вылетом я спустился в пещеры, приложился к мощам преподобных отцов. Просил их святых молитв, чтоб
                        сохранили нас от искушений и неприятностей, управили нам путь. В пещеры я обязательно иду перед каждой
                        поездкой и без благословения Печерских отцов не дерзаю отправляться в дорогу.</p>

                    <p> Программа нас ожидала насыщенная — знакомство с православными святынями древней Византии, посещение
                        столицы империи — Константинополя, нынешнего Стамбула. Много интересных памятников истории мы должны
                        были увидеть на островах. Из Киевского аэропорта Борисполь мы вылетели в Стамбул. В группе было 12
                        человек, коллектив подготовленный, люди воцерковленные.</p>

                    <p>Всё шло своим чередом. Полет проходил нормально, как обычно. Внизу уже показались городские строения и
                        магистрали, пассажиры пристегнули ремни, готовясь к посадке. Но когда самолет начал снижаться, и под
                        нами показалась взлетная полоса, до которой оставалось метров 300 — вдруг надсадно, с чрезвычайным
                        усилием взревели моторы.</p>

                    <p>Салон судорожно завибрировал, по проходу в кабину пилотов встревожено убежали побледневшие стюардессы,
                        оставив взволнованных пассажиров. Никто не понял, в чем дело, но ясно было, что происходит нечто
                        экстраординарное.</p>

                    <p>Архимандрит Пимен (Дроздюк), глава паломнического отдела Киево-Печерской Лавры
                        Записала Валентина Серикова. Статья полностью: сайт «Православная жизнь»
                        Использованы фото архива Редакции сайта www.lavra.ua</p>
                </div>
                <div class="tab-pane fade content-block" id="map">
                    <h2>Карта</h2>

                    <p>По послушанию руководителя паломнического отдела Киево-Печерской Лавры, мне приходится по нескольку раз в
                        год сопровождать паломников в разные страны. В конце мая 2007 года мы должны были лететь в Турцию. Перед
                        вылетом я спустился в пещеры, приложился к мощам преподобных отцов. Просил их святых молитв, чтоб
                        сохранили нас от искушений и неприятностей, управили нам путь. В пещеры я обязательно иду перед каждой
                        поездкой и без благословения Печерских отцов не дерзаю отправляться в дорогу.</p>

                    <p> Программа нас ожидала насыщенная — знакомство с православными святынями древней Византии, посещение
                        столицы империи — Константинополя, нынешнего Стамбула. Много интересных памятников истории мы должны
                        были увидеть на островах. Из Киевского аэропорта Борисполь мы вылетели в Стамбул. В группе было 12
                        человек, коллектив подготовленный, люди воцерковленные.</p>

                    <p>Всё шло своим чередом. Полет проходил нормально, как обычно. Внизу уже показались городские строения и
                        магистрали, пассажиры пристегнули ремни, готовясь к посадке. Но когда самолет начал снижаться, и под
                        нами показалась взлетная полоса, до которой оставалось метров 300 — вдруг надсадно, с чрезвычайным
                        усилием взревели моторы.</p>

                    <p>Салон судорожно завибрировал, по проходу в кабину пилотов встревожено убежали побледневшие стюардессы,
                        оставив взволнованных пассажиров. Никто не понял, в чем дело, но ясно было, что происходит нечто
                        экстраординарное.</p>

                    <p>Архимандрит Пимен (Дроздюк), глава паломнического отдела Киево-Печерской Лавры
                        Записала Валентина Серикова. Статья полностью: сайт «Православная жизнь»
                        Использованы фото архива Редакции сайта www.lavra.ua</p>
                </div>
                <div class="tab-pane fade content-block" id="caves-list">
                    <h2>Список пещер</h2>

                    <p>По послушанию руководителя паломнического отдела Киево-Печерской Лавры, мне приходится по нескольку раз в
                        год сопровождать паломников в разные страны. В конце мая 2007 года мы должны были лететь в Турцию. Перед
                        вылетом я спустился в пещеры, приложился к мощам преподобных отцов. Просил их святых молитв, чтоб
                        сохранили нас от искушений и неприятностей, управили нам путь. В пещеры я обязательно иду перед каждой
                        поездкой и без благословения Печерских отцов не дерзаю отправляться в дорогу.</p>

                    <p> Программа нас ожидала насыщенная — знакомство с православными святынями древней Византии, посещение
                        столицы империи — Константинополя, нынешнего Стамбула. Много интересных памятников истории мы должны
                        были увидеть на островах. Из Киевского аэропорта Борисполь мы вылетели в Стамбул. В группе было 12
                        человек, коллектив подготовленный, люди воцерковленные.</p>

                    <p>Всё шло своим чередом. Полет проходил нормально, как обычно. Внизу уже показались городские строения и
                        магистрали, пассажиры пристегнули ремни, готовясь к посадке. Но когда самолет начал снижаться, и под
                        нами показалась взлетная полоса, до которой оставалось метров 300 — вдруг надсадно, с чрезвычайным
                        усилием взревели моторы.</p>

                    <p>Салон судорожно завибрировал, по проходу в кабину пилотов встревожено убежали побледневшие стюардессы,
                        оставив взволнованных пассажиров. Никто не понял, в чем дело, но ясно было, что происходит нечто
                        экстраординарное.</p>

                    <p>Архимандрит Пимен (Дроздюк), глава паломнического отдела Киево-Печерской Лавры
                        Записала Валентина Серикова. Статья полностью: сайт «Православная жизнь»
                        Использованы фото архива Редакции сайта www.lavra.ua</p>
                </div>
            </div>
            
            <h2>Список святых</h2>

            <div class="col-md-6 col-sm-12 saint-block">
                <div class="photo">
                    <img src="../images/content-img/saint_name.png">
                </div>

                <div class="text">
                    <p>Онуфрий, митрополит Киевский и всея Украины, Предстоятель Украинской Православной Церкви,
                        священноархимандрит Успенской Киево-Печерской Лавры</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 saint-block">
                <div class="photo">
                    <img src="../images/content-img/saint_name.png">
                </div>

                <div class="text">
                    <p>Онуфрий, митрополит Киевский и всея Украины, Предстоятель Украинской Православной Церкви,
                        священноархимандрит Успенской Киево-Печерской Лавры</p>
                </div>
            </div>

            <button class="button-default " value="Поделиться в соц сетях">Поделиться в соц сетях</button>
        </div>


    </div>
    
    include "weekly_delivery.html"
    include "footer.html"

</div>
include "scripts.html"
</body>
</html>