include "headerAll.html"

    <div class="container margin-top caves-inside">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Новости</h5></div>
        </div>

        <div class="col-md-7">

            <h2 class="page-title">Храмы</h2>

            <div id="myCarousel" class="carousel slide history_inside_carousel hidden-xs">
                <div class="carousel-inner">
                    <div class="active item"><img src="../images/content-img/history_inside_slider1.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider2.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                </div>
                <div class="shadow-down col-md-12 with-author">
                    <div class="col-md-4 col-sm-5 col-xs-6 author">
                        <strong>Автор:</strong> Миша Маваши
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-6 control-nav">
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <div class="icon-history_inside_slider_prev"></div>
                        </a>

                        <div class="slide_number"></div>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <div class="icon-history_inside_slider_next"></div>
                        </a>
                    </div>
                </div>
            </div>
            
            <!--    -->

            <div class="content-block">  
                
                <div class="dropdown visible-xs col-xs-12 row with-tabs" tabindex="0">
                    <button  class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="sheduleDropdown">
                    Описание
                    <div class="icon-calendar-arrow"></div>
                    </button>
                
                    <ul class="col-md-12 dropdown-menu">
                        <li role="menuitem" class=""><a href="#description" class="active" >Описание</a></li>
                        <li role="menuitem" class=""><a href="#gallery" >Галерея</a></li>
                        <li role="menuitem" class=""><a href="#map" >Карта</a></li>
                        <li role="menuitem" class=""><a href="#translations" >Трансляции</a></li>
                        <li role="menuitem" class=""><a href="#contacts" >Контакты</a></li>
                    </ul> 
                </div>

                <ul class="col-md-12 nav nav-pills hidden-xs">
                    <li class="button-white active"><a href="#description" class="active" data-toggle="tab">Описание</a></li>
                    <li class="button-white"><a href="#gallery" data-toggle="tab">Галерея</a></li>
                    <li class="button-white"><a href="#map" data-toggle="tab">Карта</a></li>
                    <li class="button-white"><a href="#translations" data-toggle="tab">Трансляции</a></li>
                    <li class="button-white"><a href="#contacts" data-toggle="tab">Контакты</a></li>
                </ul> 
                
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="description">
                        <div class="tab-panel-header-content col-md-12 col-sm-12">
                            <h2 class="col-md-7">О храме</h2>
                            <div class="ver_for_print col-md-5 margin-left-15 hidden-sm hidden-xs">Версия для печати
                                <div class="icon-print_version"></div>
                            </div>
                        </div>

                        <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                        Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                        ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по делам
                        монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры митрополит
                        Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский монастырь г.
                        Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви,
                        наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил
                        Анастасиевский ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по
                        делам монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры
                        митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский
                        монастырь г. Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной
                        Церкви, наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел
                        посетил Анастасиевский ставропигиальный женский монастырь г. Житомира.
                        </p>
                    </div>

                    <div class="tab-pane fade" id="gallery">
                        <div class="tab-panel-header-content col-md-12 col-sm-12">
                            <h2 class="col-md-7">Галерея</h2>
                            <div class="ver_for_print col-md-5 margin-left-15 hidden-sm hidden-xs">Версия для печати
                                <div class="icon-print_version"></div>
                            </div>
                        </div>

                        <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                        Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                        ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по делам
                        монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры митрополит
                        Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский монастырь г.
                        Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви,
                        наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил
                        Анастасиевский ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по
                        делам монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры
                        митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский
                        монастырь г. Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной
                        Церкви, наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел
                        посетил Анастасиевский ставропигиальный женский монастырь г. Житомира.
                        </p>
                    </div>

                    <div class="tab-pane fade" id="map">
                        <div class="tab-panel-header-content col-md-12 col-sm-12">
                            <h2 class="col-md-7">Карта</h2>
                            <div class="ver_for_print col-md-5 margin-left-15 hidden-sm hidden-xs">Версия для печати
                                <div class="icon-print_version"></div>
                            </div>
                        </div>

                        <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                        Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                        ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по делам
                        монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры митрополит
                        Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский монастырь г.
                        Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви,
                        наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил
                        Анастасиевский ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по
                        делам монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры
                        митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский
                        монастырь г. Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной
                        Церкви, наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел
                        посетил Анастасиевский ставропигиальный женский монастырь г. Житомира.
                        </p>
                    </div>

                    <div class="tab-pane fade" id="translations">
                        <div class="tab-panel-header-content col-md-12 col-sm-12">
                            <h2 class="col-md-7">Трансляции</h2>
                            <div class="ver_for_print col-md-5 margin-left-15 hidden-sm hidden-xs">Версия для печати
                                <div class="icon-print_version"></div>
                            </div>
                        </div>

                        <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                        Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                        ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по делам
                        монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры митрополит
                        Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский монастырь г.
                        Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви,
                        наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил
                        Анастасиевский ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по
                        делам монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры
                        митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский
                        монастырь г. Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной
                        Церкви, наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел
                        посетил Анастасиевский ставропигиальный женский монастырь г. Житомира.
                        </p>
                    </div>

                    <div class="tab-pane fade" id="contacts">
                        <div class="tab-panel-header-content col-md-12 col-sm-12">
                            <h2 class="col-md-7">Контакты</h2>
                            <div class="ver_for_print col-md-5 margin-left-15 hidden-sm hidden-xs">Версия для печати
                                <div class="icon-print_version"></div>
                            </div>
                        </div>

                        <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                        Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                        ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по делам
                        монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры митрополит
                        Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский монастырь г.
                        Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви,
                        наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил
                        Анастасиевский ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по
                        делам монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры
                        митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский
                        монастырь г. Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной
                        Церкви, наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел
                        посетил Анастасиевский ставропигиальный женский монастырь г. Житомира.
                        </p>
                    </div>
                </div>
            </div>

            <button class="button-default" id='social' value="Поделиться в соц сетях">Поделиться в соц сетях</button>


            <h2>Темы</h2>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Праздник</button>
            <button class="button-tags" value="Показать еще">Продам гараж</button>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Христос Воскрес</button>


            <div class="news-category col-md-12 col-sm-12 col-xs-12">

                <div class="news margin-left-15">
                    <h2 class="on-topic">Новости по теме</h2>

                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_listen icon"></div>
                                    Просмотр
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <button class="button-default" value="Все материалы">Все материалы</button>

                    <h2 class="on-topic">Публикации по теме</h2>

                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Смотреть
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>


                    <button class="button-default" value="Все материалы">Все материалы</button>

                </div>
            </div>


        </div>


        <div class="col-md-5 col-sm-12 col-xs-12 right-column">
            <div class="col-md-12 col-sm-12 schedule">
                <div class="row">
                    <h2 class="col-md-12 col-sm-12 col-xs-12">Расписание богослужений</h2>
                    <div class="dropdown col-md-12 col-sm-12 col-xs-12 row">
                    <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="sheduleDropdown" data-toggle="dropdown">
                    на сегодня
                    <div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 ">
                        <li role="menuitem"><a>
                        вторник
                        </a></li>
                        <li role="menuitem"><a>
                        среда
                        </a></li>
                        <li role="menuitem"><a>
                        четверг
                        </a></li>
                        <li role="menuitem"><a>
                        пятница
                        </a></li>
                        <li role="menuitem"><a>
                        суббота
                        </a></li>
                        <li role="menuitem"><a>
                        воскресенье
                        </a></li>
                    </ul>
                </div>
                </div>
                <div class="scroll">
                    <div class="schedule-container">
                        <div class="some-content-related-div hidden-sm hidden-xs">
                        <div id="inner-content-div">

                            <p>Храм Всіх преподобних Печерських:</p>

                            <p>6.00 Полуношниця</p>

                            <p>6.30 Великопісне богослужіння.</p>

                            <p>Трапезна церква:</p>

                            <p>6.30 Великопісне богослужіння.</p>

                            <p>Велике Повечір’я з каноном прп. Андрія Крітського:</p>

                            <p>16.30 Успенський собор</p>

                            <p>17.00 Що відбудеться</p>

                            <p>18.00 Назва служби.</p>
                        </div>
                    </div>
                    <div class="some-content-without-scroll visible-sm visible-xs">
                        <div id="inner-content-div">
                            <ul>
                                <li><p>Храм Всіх преподобних Печерських:</p></li>
                                
                                <li><p>6.00 Полуношниця</p></li>
                                
                                <li><p>6.30 Великопісне богослужіння.</p></li>
                                
                                <li><p>Трапезна церква:</p></li>
                                
                                <li><p>6.30 Великопісне богослужіння.</p></li>
                                
                                <li><p>Велике Повечір’я з каноном прп. Андрія Крітського:</p></li>
                                
                                <li><p>16.30 Успенський собор</p></li>
                                
                                <li><p>17.00 Що відбудеться</p></li>
                                
                                <li><p>18.00 Назва служби.</p></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <button class="button-default col-md-12 col-sm-12 col-xs-12" value="Расписание на неделю">Расписание на неделю</button>
            <button class="button-with-border col-md-12 col-sm-12 col-xs-12" value="Молебны и акафисты">Молебны и акафисты</button>
            
            <!-- <div class="row">
                <div class="cal1 col-md-12 col-sm-12"></div>
            </div> -->
            <h2>Онлайн трансляции</h2>
            <ul>
                <li class="button-white shadow-down active"><a>Сейчас в эфире</a></li>
                <li class="button-white"><a>Веб-камеры</a></li>
            </ul>
            <div class="news-category news-category-left col-md-12 col-sm-12 margin-left-15 right-column">

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button-default col-md-12 show-list col-xs-12" value="Поделиться в соц сетях">Перейти к архиву</button>

            <h2>Другие храмы</h2>

            <div class="news-category news-category-left col-md-12 col-sm-12 margin-left-15 right-column">

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <button class="button-default col-md-12 show-list col-xs-12" value="Поделиться в соц сетях">Весь список</button>


            <div class="col-md-12 margin-left-15">
                <h2>Популярные темы</h2>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Праздник</button>
                <button class="button-tags" value="Показать еще">Продам гараж</button>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Христос Воскрес</button>
            </div>
        </div>

    </div>
    include "weekly_delivery.html"

    include "footer.html"

</div>
include "scripts.html"
</body>
</html>