 class="page-title"include "headerAll.html"

    <div class="container margin-top contacts">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / О лавре</h5></div>
        </div>

        <h2 class="page-title">Контакты</h2>

        <div class="col-md-6 margin-left-15">
            <p class="contact-title">Успенская Киево-Печерская Лавра</p>

            <p>Лаврская ул., 15, корп. №42</p>

            <p>Киев, Украина, 01015</p>
            <br>

            <p class="contact-title">Редакция сайта. Отдел по работе со СМИ:</p>

            <p>+38(044)255-12-37</p>
            <br>

            <p class="contact-title">Отдел кадров:</p>

            <p>+38(044)255-11-59</p>
            <br>

            <p class="contact-title">Паломнический отдел (поездки, экскурсии):</p>

            <p>+38(044)254-33-90 - справочная;</p>

            <p>+38(044)255-11-75 - прием документов для поездок.</p>
            <br>

            <p class="contact-title">Дом "Лаврский паломник":</p>

            <p>+38(044)379-34-05, +38(063)220-99-33 - Дом «Лаврский паломник» корпус №58 ;</p>

            <p>+38(044)379-34-80, +38(093)381-01-87 - Дом "Лаврский паломник" корпус №54 ;</p>

            <p>+38(093)345-01-21 - Дом "Лаврский паломник" корпус №56.</p>

        </div>

        <div class="col-md-6 margin-left-15">
            <p class="contact-title">Канцелярия:</p>

            <p>+38(044)255-11-05 - дежурный;</p>

            <p>+38(044)255-11-76 - факс.
            </p>
            <br>

            <p class="contact-title">Прием посетителей, ответы на телефонные звонки и регистрация документов
                в канцелярии осуществляется:</p>

            <p>с 9:00 до 11:40 и с 13:00 до 15:00</p>

            <p>суббота - с 9:00 до 11:40</p>

            <br>

            <p class="contact-title">Выходные: воскресенье, Двунадесятые праздники и престольные праздники Лавры</p>

            <br>

            <p class="contact-title">Канцелярия Митрополии (в т.ч. благословение на повторный брак)</p>

            <p>+38(044)255-12-04</p>


            <br>

            <a href="#">Требы, совершаемые в Киево-Печерской Лавре</a>
            <a href="#">Реквизиты для пожертвований на восстановление Киево-Печерской Лавры</a>

        </div>
        <div class="col-md-12 margin-left-15">
            <button class="button-default" value="Мы в соц сетях">Мы в соц сетях</button>
        </div>
        
        <div class="dropdown col-md-4 col-sm-4 col-xs-8 row">
            <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="tamplesDropdown" data-toggle="dropdown">
                Фильтр по храмам
                <div class="icon-calendar-arrow"></div>
            </button>
            <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 ">
                <li role="menuitem"><a>
                вторник
                </a></li>
                <li role="menuitem"><a>
                среда
                </a></li>
                <li role="menuitem"><a>
                четверг
                </a></li>
                <li role="menuitem"><a>
                пятница
                </a></li>
                <li role="menuitem"><a>
                суббота
                </a></li>
                <li role="menuitem"><a>
                воскресенье
                </a></li>
            </ul>
        </div>

    </div>
     <iframe class="contact-map" tabindex="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5082.693531411324!2d30.557655197344978!3d50.43464131968691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1437855408287" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div id="map-wrapper"></div>
    include "footer.html"
</div>
include "scripts.html"
</body>
</html>