include "headerAll.html"

    <div class="container margin-top history">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / О лавре</h5></div>
        </div>

       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">История</h2>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-1.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-2.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-2.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-2.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-2.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-2.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
           
           <div class="item col-md-12 col-sm-12 row" data-proportion-md="1055/150" data-proportion-sm="750/200" data-proportion-xs="270/152">
               <div class="col-md-3 col-sm-5 col-xs-12">
                   <div href="#" class="href-img">
                       <!-- <div class="img-wrapper"></div> -->
                       <img src="../images/content-img/info-block-2.png" class="responsive">
           
                       <a href="#" class="popup-read popup">
                           <div class="icon-popup_read icon"></div>
                           Читать
                       </a>
                   </div>
               </div>
               <div class="col-md-9 col-sm-7 col-xs-12">
                   <a href="#" class="href-title">Заголовок</a>
                   <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                   днем на лавочке у парка Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою
                   радуют весенним теплым днем на лавочке у парка...</p>
               </div>
           </div>
       </div>

    </div>


    include "footer.html"


</div>
    include "scripts.html"
</body>
</html>