include "headerAll.html"
    <div class="container margin-top">
        <div class="col-md-6 col-sm-12 orthodox-calendar">
            <div class="row margin-right">
                <a href="#"><h2 class="col-md-8 col-sm-8 col-xs-12">Православный календарь</h2></a>
                <button tabindex="0" class="button-calendar shadow-down col-md-4 col-sm-4  col-xs-12 datapicker" id= "button-calendar">на сегодня
                    <div class="icon-calendar-arrow"></div>
                    
                </button>
            </div>
            <div class="row calendar">
                <div class="clndr-orto" id="clndr-orto" style="display: none;"></div>
            </div>
            <div class="calendar-container">
                <div>
                    <img src="../images/content-img/orthodox-img.png">
                    
                    <h4>1 апреля</h4>
                    <p>Мчч. Хрисанфа и Дарии и с ними мчч. Клавдия трибуна, Иларии, жены его, Иасона и Мавра, сынов их,
                        Диодора
                        пресв.
                        и Мариана диак. Прав. Софии, кн. Слуцкой. Прп. Симеона Дайбабского (Серб.). Св. Иоанна исп., прмц.
                        Матроны.
                        Прп. Иннокентия Комельского, Вологодского. Прп. Вассы Псково-Печерской. Прп. Симеона
                        Псково-Печерского.
                    </p>
                </div>
                <button class="button-default" value="Подробнее">Подробнее</button>
            </div>
            
        </div>
        <div class="col-md-6 col-sm-12 schedule">
            <div class="row margin-right">
                
                <a href="#"><h2 class="col-md-8 col-sm-8 col-xs-12">Расписание богослужений</h2></a>
                
                <div class="dropdown col-md-4 col-sm-4 col-xs-12 row" tabindex="0">
                    <button  class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="sheduleDropdown">
                    на сегодня
                    <div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 ">
                        <li role="menuitem"><a>
                        вторник
                        </a></li>
                        <li role="menuitem"><a>
                        среда
                        </a></li>
                        <li role="menuitem"><a>
                        четверг
                        </a></li>
                        <li role="menuitem"><a>
                        пятница
                        </a></li>
                        <li role="menuitem"><a>
                        суббота
                        </a></li>
                        <li role="menuitem"><a>
                        воскресенье
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="scroll">
                <div class="schedule-container">
                    <div class="some-content-related-div hidden-sm hidden-xs">
                        <div id="inner-content-div">

                            <p>Храм Всіх преподобних Печерських:</p>

                            <p>6.00 Полуношниця</p>

                            <p>6.30 Великопісне богослужіння.</p>

                            <p>Трапезна церква:</p>

                            <p>6.30 Великопісне богослужіння.</p>

                            <p>Велике Повечір’я з каноном прп. Андрія Крітського:</p>

                            <p>16.30 Успенський собор</p>

                            <p>17.00 Що відбудеться</p>

                            <p>18.00 Назва служби.</p>
                        </div>
                    </div>
                    <div class="some-content-without-scroll visible-sm visible-xs">
                        <div id="inner-content-div">
                            <ul>
                                <li><p>Храм Всіх преподобних Печерських:</p></li>
                                
                                <li><p>6.00 Полуношниця</p></li>
                                
                                <li><p>6.30 Великопісне богослужіння.</p></li>
                                
                                <li><p>Трапезна церква:</p></li>
                                
                                <li><p>6.30 Великопісне богослужіння.</p></li>
                                
                                <li><p>Велике Повечір’я з каноном прп. Андрія Крітського:</p></li>
                                
                                <li><p>16.30 Успенський собор</p></li>
                                
                                <li><p>17.00 Що відбудеться</p></li>
                                
                                <li><p>18.00 Назва служби.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row btns">
                <button class="button-default col-md-6 col-sm-5 col-xs-12" value="Расписание на неделю">Расписание на неделю</button>
                <button class="button-with-border col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12" value="Молебны и акафисты">Молебны и акафисты</button>
            </div>
            <!-- <div class="row">
                <div class="cal1 col-md-12 col-sm-12"></div>    
            </div> -->
        </div>
    </div>

<div class="container">
        <div class="important-block row">
            <div class="important-title row">
                <div class="col-md-12 col-sm-12 col-xs-7 important">
                Важное
                </div>
                <div class="col-md-12 col-sm-12 col-xs-5 arrow-wrapper">
                    <div class="arrows-link-container">
                        <a href="#" class="arrow-link-left">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="30" height="30" viewBox="0 0 25 25">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #fff;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path d="M12.500,25.002 C5.606,25.002 -0.002,19.394 -0.002,12.500 C-0.002,5.606 5.606,-0.002 12.500,-0.002 C19.394,-0.002 25.002,5.606 25.002,12.500 C25.002,19.394 19.394,25.002 12.500,25.002 ZM12.500,1.207 C6.273,1.207 1.207,6.273 1.207,12.500 C1.207,18.727 6.273,23.792 12.500,23.792 C18.726,23.792 23.792,18.727 23.792,12.500 C23.792,6.273 18.726,1.207 12.500,1.207 ZM18.340,12.734 C18.309,12.809 18.265,12.876 18.209,12.932 L13.722,17.419 C13.604,17.537 13.449,17.596 13.294,17.596 C13.139,17.596 12.985,17.537 12.867,17.419 C12.631,17.183 12.631,16.800 12.867,16.564 L16.321,13.109 L6.735,13.109 C6.401,13.109 6.130,12.838 6.130,12.505 C6.130,12.171 6.401,11.900 6.735,11.900 L16.321,11.900 L12.905,8.484 C12.668,8.248 12.668,7.865 12.905,7.628 C13.141,7.392 13.524,7.392 13.760,7.628 L18.209,12.077 C18.265,12.133 18.309,12.200 18.340,12.275 C18.341,12.278 18.342,12.281 18.343,12.284 C18.370,12.353 18.386,12.427 18.386,12.505 C18.386,12.583 18.370,12.657 18.343,12.725 C18.342,12.728 18.341,12.731 18.340,12.734 Z" class="cls-1"/>
                            </svg>
                        </a>
                        <a href="#" class="arrow-link-right">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="30" height="30" viewBox="0 0 25 25">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #fff;
                                            fill-rule: evenodd;
                                        }
                                    </style>
                                </defs>
                                <path d="M12.500,25.002 C5.606,25.002 -0.002,19.394 -0.002,12.500 C-0.002,5.606 5.606,-0.002 12.500,-0.002 C19.394,-0.002 25.002,5.606 25.002,12.500 C25.002,19.394 19.394,25.002 12.500,25.002 ZM12.500,1.207 C6.273,1.207 1.207,6.273 1.207,12.500 C1.207,18.727 6.273,23.792 12.500,23.792 C18.726,23.792 23.792,18.727 23.792,12.500 C23.792,6.273 18.726,1.207 12.500,1.207 ZM18.340,12.734 C18.309,12.809 18.265,12.876 18.209,12.932 L13.722,17.419 C13.604,17.537 13.449,17.596 13.294,17.596 C13.139,17.596 12.985,17.537 12.867,17.419 C12.631,17.183 12.631,16.800 12.867,16.564 L16.321,13.109 L6.735,13.109 C6.401,13.109 6.130,12.838 6.130,12.505 C6.130,12.171 6.401,11.900 6.735,11.900 L16.321,11.900 L12.905,8.484 C12.668,8.248 12.668,7.865 12.905,7.628 C13.141,7.392 13.524,7.392 13.760,7.628 L18.209,12.077 C18.265,12.133 18.309,12.200 18.340,12.275 C18.341,12.278 18.342,12.281 18.343,12.284 C18.370,12.353 18.386,12.427 18.386,12.505 C18.386,12.583 18.370,12.657 18.343,12.725 C18.342,12.728 18.341,12.731 18.340,12.734 Z" class="cls-1"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="triangle"></div>
            <div style="clearboth"></div>
            <div class="important-content">
                <div id="stroke">
                    <div>
                        <h4 class="important-content-header">Заголовок</h4>
                        <p>Праздник, к которому мы готовились на протяжении всего
                        года много
                        букв и слова разные написаны на сайте, просто не могут быть прочитаны, ибо такая судьба их мятежная
                        </p>
                    </div>
                    <div>
                        <h4 class="important-content-header">Заголовок</h4>
                        <p>Праздник, к которому мы готовились на протяжении всего
                        года много
                        букв и слова разные написаны на сайте, просто не могут быть прочитаны, ибо такая судьба их мятежная
                        </p>
                    </div>
                    <div>
                        <h4 class="important-content-header">Заголовок</h4>
                        <p>Праздник, к которому мы готовились на протяжении всего
                        года много
                        букв и слова разные написаны на сайте, просто не могут быть прочитаны, ибо такая судьба их мятежная
                        </p>
                    </div>
                    <div>
                        <h4 class="important-content-header">Заголовок</h4>
                        <p>Праздник, к которому мы готовились на протяжении всего
                        года много
                        букв и слова разные написаны на сайте, просто не могут быть прочитаны, ибо такая судьба их мятежная
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container">
        <div class="news-category col-md-6 col-sm-12 col-xs-12">
            <div class="news news-with-carousel">
                <a href="#"><h2>Новости</h2></a>
                <div class="owl-carousel owl-theme news-slider" id="myCarousel-1">
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                </div>
               <!--  <div class="under-slider-info visible-xs">
                   <a href="#"><h3>Категория</h3></a>
                   <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                   крепости моей...</a>
                   <span class="news-date">12 февраля 1995</span>
               </div> -->

                <div class="item row"  data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                               <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><h3>Категория</h3></a>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>
                
                <div class="item row"  data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                               <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><h3>Категория</h3></a>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row"  data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                               <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><h3>Категория</h3></a>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div>
                    <button class="button-default" value="Все материалы">Все материалы</button>
                </div>
            </div>
        </div>
        <div class="news-category news-category-right col-md-6 col-sm-12 col-xs-12">
            <div class="news news-with-carousel">
                <a href="#"><h2>Публикации</h2></a>
                <div class="owl-carousel owl-theme news-slider" id="myCarousel-1">
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block  ">
                        <!-- <div class="control-block hidden-xs"> -->
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block  ">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block ">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="under-slider-info visible-xs">
                    <a href="#"><h3>Категория</h3></a>
                    <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                    крепости моей...</a>
                    <span class="news-date">12 февраля 1995</span>
                </div> -->
                

                <div class="item row"  data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                               <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><h3>Категория</h3></a>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row"  data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                               <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><h3>Категория</h3></a>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row"  data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                               <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="#"><h3>Категория</h3></a>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>
                
                <div>
                    <button class="button-default" value="Все материалы">Все материалы</button>
                </div>
            </div>
        </div>
    </div>

    include "weekly_delivery.html"

    <div class="container info-block">
        <a href="#"><h2>Святыни Лавры</h2></a>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="href-img">
                <img class="responsive" src="../images/content-img/info-block-1.png">
                <a href="#" class="popup-read popup">
                    <div class="icon-popup_gallery icon"></div>
                    Читать
                </a>
            </div>
            <a href="#">Храмы Лавры</a>

            <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                днем на лавочке у парка...</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="href-img">
                <img class="responsive" src="../images/content-img/info-block-2.png">
                <a href="#" class="popup-read popup">
                    <div class="icon-popup_gallery icon"></div>
                    Читать
                </a>
            </div>
            <a href="#">Ближние пещеры</a>

            <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                днем на лавочке у парка...</p>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="href-img">
                <img class="responsive" src="../images/content-img/info-block-3.png">
                <a href="#" class="popup-read popup">
                    <div class="icon-popup_gallery icon"></div>
                    Читать
                </a>
            </div>
            <a href="#">Дальние пещеры</a>

            <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                днем на лавочке у парка...</p>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="href-img">
                <img class="responsive" src="../images/content-img/info-block-4.png">
                <a href="#" class="popup-read popup">
                    <div class="icon-popup_gallery icon"></div>
                    Читать
                </a>
            </div>
            <a href="#">Чтимые иконы</a>

            <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним теплым
                днем на лавочке у парка...</p>
        </div>
    </div>


    include "departments.html"


    include "lavra-profile.html"
    include "footer.html"
</div>
include "scripts.html"
</body>
</html>