include "headerAll.html"

    <div class="container margin-top molebn">
        <div class="row ">
            <a class="navigation col-md-12 col-sm-12 col-xs-12">Главная</a>
        </div>

        <h2 class="page-title">Молебны и акафисты, совершаемые в Киево-Печерской Лавре </h2>
        <div class="table">
            <table class="molebn-table shadow-down col-mg-12">
                <tr>
                    <th class="col-md-4">Молебен, акафист</th>
                    <th class="col-md-4">Храм</th>
                    <th class="col-md-4">Кол-во в седмицу</th>
                    <th class="col-md-2">Дни</th>
                    <th class="col-md-2">Время</th>
                </tr>
                <tr>
                    <td>Водосвятный молебен</td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Живоносный Источник"
                    </td>
                    <td>01</td>
                    <td>Четверг</td>
                    <td>15:00</td>
                </tr>
                <tr>
                    <td>Благодарственный молебен</td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Живоносный Источник"
                    </td>
                    <td>01</td>
                    <td>Вторник</td>
                    <td>15:00</td>
                </tr>
                <tr>
                    <td>Акафист Успению Божией Матери</td>
                    <td>
                        Трапезный храм
                    </td>
                    <td>01</td>
                    <td>Среда</td>
                    <td>08:00</td>
                </tr>
                <tr>
                    <td>Акафист Божией Матери
                        "Радуйся Невесто Неневестная"
                    </td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Пятница</td>
                    <td>Вечернее <br>Богослужение</td>
                </tr>
                <tr>
                    <td>Молебен с акафистом
                        перед иконой Божией Матери "Киево-Печерская"
                    </td>
                    <td>Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Среда</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>Молебен с акафистом перед иконой
                        Божией Матери "Всех скорбящих Радосте"
                    </td>
                    <td> Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Воскресенье</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>Акафист перед иконой Божией Матери«Пантанасса»
                    </td>
                    <td>Храм Всех преподобных Печерских
                    </td>
                    <td>01</td>
                    <td>Понедельник-Суббота</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>Молебен с акафистом сщмч. Клименту Римскому
                    </td>
                    <td> Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Пятница</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>Акафист св. вмц. Варваре
                    </td>
                    <td> Трапезный храм
                    </td>
                    <td>01</td>
                    <td>Вторник</td>
                    <td>08:00</td>
                </tr>
                <tr>
                    <td>Молебен с акафистом прп. Антонию Печерскому
                    </td>
                    <td> Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Понедельник</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>Молебен с акафистом прп. Феодосию Печерскому
                    </td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Вторник</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>Молебен с акафистом прп. Агапиту Печерскому
                    </td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Суббота</td>
                    <td>13:00</td>
                </tr>
                <tr>
                    <td>
                        Молебен с одеванием шапки
                        прп. Марка Гробокопателя
                    </td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Живоносный Источник"
                    </td>
                    <td>01</td>

                    <td>Понедельник-Пятница</td>


                    <td>08:30</td>

                </tr>
                <tr>
                    <td>
                        Молебен с одеванием шапки
                        прп. Марка Гробокопателя
                    </td>
                    <td>
                        Храм в честь иконы Божией Матери
                        "Живоносный Источник"
                    </td>
                    <td>01</td>
                    <td>Суббота</td>
                    <td>10:30</td>
                </tr>
                <tr>
                    <td>
                        Молебен с одеванием шапки
                        прп. Марка Гробокопателя
                    </td>
                    <td>
                        Часовня в честь иконы Божией Матери
                        "Похвала Печерская"
                    </td>
                    <td>01</td>
                    <td>Понедельник-Воскресенье</td>
                    <td>15:00</td>

                </tr>
                <tr>

                    <td>
                        Молебен с акафистом
                        Всем преподобным Печерским
                    </td>
                    <td>Храм в честь иконы Божией Матери
                        "Всех скорбящих Радосте"
                    </td>
                    <td>01</td>
                    <td>Четверг</td>
                    <td>13:00</td>

                </tr>
                <tr>
                    <td>
                        Молебен с акафистом
                        Всем преподобным Печерским
                    </td>
                    <td>Трапезный храм
                    </td>
                    <td>01</td>
                    <td>Воскресенье</td>
                    <td>17:00</td>
                </tr>
                <tr>
                    <td>
                        Молебен с акафистом прп. Сергию Радонежскому
                    </td>
                    <td>Храм в честь прп. Сергия Радонежского
                    </td>
                    <td>01</td>
                    <td>Воскресенье</td>
                    <td>12:30</td>
                </tr>
                <tr>
                    <td colspan="4"><span>Молебны и акафисты не совершаются</span>: в дни двунадесятых и великих праздников,
                        а также престольных праздников Лавры
                    </td>
                </tr>
                <tr>
                    <td colspan="4">В отличие от других поминаний, поминания на молебнах совершаются одноразово, согласно
                        поданой записке
                    </td>
                </tr>
            </table>
        </div>
        <p>Последнее обновление ( 01.03.2013 г. ) </p>
    </div>




include "footer.html"
</div>
include "scripts.html"


</body>
</html>