include "headerAll.html"


    <div class="container news margin-top">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Новости</h5></div>
        </div>
        
        <div class="news-category col-md-7 col-sm-12 col-xs-12">
            <div class="news news-with-carousel">
               
                <div class="row tab-calendar" id='tab-calendar'>
                     <h2 class="col-md-6 col-sm-6 col-xs-12 page-title">Новости</h2>
                    
                    <div class="news-calendar visible-sm col-sm-6 col-xs-12">
                        <button tabindex="0" class="button-calendar shadow-down col-xs-12 datapicker" id= "button-news">Календарь<div class="icon-calendar-arrow"></div> 
                        </button>
                        <div class="row calendar">
                            <div class="clndr-orto" id="clndr-orto" style="display: none;"></div>
                        </div>
                    </div> 
                </div>

                <div class="owl-carousel owl-theme news-slider" id="myCarousel-1">
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/content-img/news-img.png" class="full-width">
                        <div class="control-block">
                            <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще вообще...</a></h3>
                            <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                            <a href="#" class="button-default pop hidden-xs hidden-sm"><i class="icon icon-read-btn"></i>Читать</a>
                        </div>
                    </div>
                </div>

                <div class="row chronological-drop">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h2>Хронологическая лента</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="dropdown row">
                            <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="sheduleDropdown" data-toggle="dropdown">
                            все категории
                            <div class="icon-calendar-arrow"></div>
                            </button>
                            <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 ">
                                <li role="menuitem"><a>
                                вторник
                                </a></li>
                                <li role="menuitem"><a>
                                среда
                                </a></li>
                                <li role="menuitem"><a>
                                четверг
                                </a></li>
                                <li role="menuitem"><a>
                                пятница
                                </a></li>
                                <li role="menuitem"><a>
                                суббота
                                </a></li>
                                <li role="menuitem"><a>
                                воскресенье
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                                <div class="icon-popup_listen icon"></div>
                                Просмотр
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Категория</h3>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                                <div class="icon-popup_read icon"></div>
                                Читать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Категория</h3>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/second-news.png">
                            <a href="#" class="popup-read popup">
                                <div class="icon-popup_gallery icon"></div>
                                Смотреть
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Категория</h3>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>
                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/fifth-news.png">
                            <a href="#" class="popup-read popup">
                                <div class="icon-popup_read icon"></div>
                                Читать
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Категория</h3>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="href-img">
                            <img class="responsive" src="../images/content-img/first-news.png">
                            <a href="#" class="popup-read popup">
                                <div class="icon-popup_gallery icon"></div>
                                Смотреть
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>Категория</h3>
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                            крепости моей...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>
                <div>
                    <button class="button-default" value="Все материалы">Все материалы</button>
                </div>
            </div>
        </div>


        <div class="col-md-5 col-sm-12 col-xs-12 right-column" style="margin-top: 9px;">
            <div class="hidden-xs hidden-sm">
                <h2>Календарь</h2>
                
                <div class="col-md-12 calendar-2 datepicker-nohide-small margin-left-15">
                    <div class="datepicker" id="common-datepicker"></div>
                </div>
            </div>

            <h2>Популярные новости</h2>
            <ul>
                <li class="button-white shadow-down active"><a class="active">За все время</a></li>
                <li class="button-white"><a>Месяц</a></li>
                <li class="button-white"><a>Неделю</a></li>
            </ul>


            <div class=" news-category news-category-left col-md-12 col-sm-12 margin-left-15 right-column">

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button-default col-md-12 show-list col-xs-12" value="Поделиться в соц сетях">Весь список</button>

            <div class="col-md-12 margin-left-15">
                <h2>Популярные темы</h2>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Праздник</button>
                <button class="button-tags" value="Показать еще">Продам гараж</button>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Христос Воскрес</button>
            </div>
        </div>


    </div>
    include "weekly_delivery.html"
    include "footer.html"
</div>
include "scripts.html"
</div>

</body>
</html>