include "headerAll.html"

    <div class="container margin-top news-inside">

        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Новости</h5></div>
        </div>

        <div class="col-md-7">

            <h2 class="page-title">Новости</h2>

            <div id="myCarousel" class="carousel slide history_inside_carousel hidden-xs">
                <div class="carousel-inner">
                    <div class="active item"><img src="../images/content-img/history_inside_slider1.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider2.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                </div>
                <div class="shadow-down col-md-12 with-author">
                    <div class="col-md-4 col-sm-5 col-xs-6 author">
                        <strong>Автор:</strong> Миша Маваши
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-6 control-nav">
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <div class="icon-history_inside_slider_prev"></div>
                        </a>

                        <div class="slide_number"></div>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <div class="icon-history_inside_slider_next"></div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="content-block">
                <div class="pre-title col-md-12 col-sm-12 col-xs-12">
                    <div class="date col-md-5 col-sm-5 col-xs-6 ">21 Марта 2015 г.</div>
                    <div class="ver_for_print col-md-5 col-sm-5 hidden-xs ">Версия для печати
                        <div class="icon-print_version"></div>
                    </div>
                </div> 

                <h2>Митрополит Павел совершил Литургию Преждеосвященных Даров в ставропигиальном монастыре г. Житомира
                </h2>

                <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                    Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                    ставропигиальный женский монастырь г. Житомира.</p>


                    <p class="comment-block">После великопостного вечернего богослужения накануне дня памяти исповедника
                    Луки, архиепископа Симферопольского, Владыка Павел отслужил литию на месте погребения основательницы обители
                    схимонахини Рафаилы (Чернецкой), которая блаженно почила о Господе.</p>
                <p>По окончании была проведена назидательная беседа с настоятельницей монастыря игуменьей Михаилой (Фурманец) и сестрами в трапезной монастыря.</p>

                <img src="../images/content-img/fifth-news.png" class="float-left-block margin-right-15 margin-bottom-15 col-xs-12 col-sm-12">

                <p>На следующий день в нижнем приделе в честь прп. Серафима Саровского строящегося собора прмц. Анастасии Римляныни — покровительницы города Житомира, митрополит Павел совершил Литургию Преждеосвященных Даров. На следующий день в нижнем приделе в честь прп. Серафима Саровского строящегося собора прмц. Анастасии Римляныни — покровительницы города Житомира, митрополит Павел совершил Литургию Преждеосвященных Даров.</p>
                <p>На следующий день в нижнем приделе в честь прп. Серафима Саровского строящегося собора прмц. Анастасии Римляныни — покровительницы города Житомира, митрополит Павел совершил Литургию Преждеосвященных Даров. На следующий день в нижнем приделе в честь прп. Серафима Саровского строящегося собора прмц. Анастасии Римляныни — покровительницы города Житомира, митрополит Павел совершил Литургию Преждеосвященных Даров.</p>

                <br><cite>Редакция сайта www.lavra.ua</cite>
            </div>

            <button class="button-default " value="Поделиться в соц сетях">Поделиться в соц сетях</button>
            <h2>Темы</h2>
            <button class="button-tags " value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Праздник</button>
            <button class="button-tags" value="Показать еще">Продам гараж</button>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Христос Воскрес</button>


            <div class="row">
                <div class="news-category  col-md-12 col-sm-12 col-xs-12">
                
                    <div class="news">
                        <h2>Похожие материалы</h2>
                
                        <div class="item row" data-proportion-xs="7/1">
                            <div class="col-md-6 col-sm-6 hidden-xs">
                                <div class="href-img">
                                    <img class="responsive" src="../images/content-img/second-news.png">
                                    <a href="#" class="popup-read popup">
                                        <div class="icon-popup_listen icon"></div>
                                        Просмотр
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3>Категория</h3>
                                <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                    крепости моей...</a>
                                <span class="news-date">12 февраля 1995</span>
                            </div>
                        </div>
                
                        <div class="item row" data-proportion-xs="7/1">
                            <div class="col-md-6 col-sm-6 hidden-xs">
                                <div class="href-img">
                                    <img class="responsive" src="../images/content-img/second-news.png">
                                    <a href="#" class="popup-read popup">
                                        <div class="icon-popup_read icon"></div>
                                        Читать
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3>Категория</h3>
                                <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                    крепости моей...</a>
                                <span class="news-date">12 февраля 1995</span>
                            </div>
                        </div>
                
                        <div class="item row" data-proportion-xs="7/1">
                            <div class="col-md-6 col-sm-6 hidden-xs">
                                <div class="href-img">
                                    <img class="responsive" src="../images/content-img/second-news.png">
                                    <a href="#" class="popup-read popup">
                                        <div class="icon-popup_gallery icon"></div>
                                        Смотреть
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3>Категория</h3>
                                <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                    крепости моей...</a>
                                <span class="news-date">12 февраля 1995</span>
                            </div>
                        </div>
                
                        <div>
                            <button class="button-default col-xs-12" value="Все материалы">Все материалы</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="news-category_for-slider news-with-carousel col-md-5">

            <h2 class="page-title">Выбор редакции</h2>
            <div class=" small-slider owl-carousel owl-theme news-slider" id="myCarousel-1">
                <div class="item">
                    <img src="../images/content-img/news-img.png" class="full-width">
                    <div class="control-block  ">
                    <!-- <div class="control-block hidden-xs"> -->
                        <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще...</a></h3>
                        <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/content-img/news-img.png" class="full-width">
                    <div class="control-block  ">
                        <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще...</a></h3>
                        <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/content-img/news-img.png" class="full-width">
                    <div class="control-block ">
                        <h3><a href="#">Заголовок слайда в несколько строчек или вообще вообще вообще...</a></h3>
                        <p><a href="#">КАТЕГОРИЯ | 12 февраля 1982 года.</a></p>
                    </div>
                </div>
            </div>

            <h2>Популярные новости</h2>
            <ul>
                <li class="button-white shadow-down active"><a class="active">За все время</a></li>
                <li class="button-white"><a>Месяц</a></li>
                <li class="button-white"><a>Неделю</a></li>
            </ul>


            <div class=" news-category news-category-left col-md-12 col-sm-12 margin-left-15 right-column">

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button-default col-md-12 show-list col-xs-12" value="Поделиться в соц сетях">Весь список</button>
            <h3>Категория</h3>
            <ul>
                <li><a href="#"> Все публикаци</a></li>
                <li><a href="#"> Интервью с митр. Павлом</a></li>
                <li><a href="#"> Проповеди</a></li>
                <li><a href="#"> Слова братии</a></li>
                <li><a href="#"> Статьи</a></li>
                <li><a href="#"> Обзор СМИ</a></li>
                <li><a href="#"> Видеопоздравления</a></li>
                <li><a href="#"> Вопросы священнику (видео)</a></li>
            </ul> 
            <h2>Популярные темы</h2>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Праздник</button>
            <button class="button-tags" value="Показать еще">Продам гараж</button>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Христос Воскрес</button>
        </div>

    </div>
    
    include "weekly_delivery.html"

    include "footer.html"
</div>
include "scripts.html"
</body>
</html>