include "headerAll.html"

    <div class="container margin-top">
     
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5 class="page-title">Главная / Новости</h5></div>
        </div>
        

        <div class="news-category col-md-7 col-sm-12 col-xs-12  container">
            <div class="row two-drops">
                <div class="dropdown col-md-6 col-sm-6 col-xs-12">
                    <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="category-list" data-toggle="dropdown">
                    Категории<div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-10 col-sm-10 col-xs-10 ">
                        <li role="menuitem"><a>
                        вторник
                        </a></li>
                        <li role="menuitem"><a>
                        среда
                        </a></li>
                        <li role="menuitem"><a>
                        четверг
                        </a></li>
                        <li role="menuitem"><a>
                        пятница
                        </a></li>
                        <li role="menuitem"><a>
                        суббота
                        </a></li>
                        <li role="menuitem"><a>
                        воскресенье
                        </a></li>
                    </ul>
                </div>
                
                <div class="news-calendar visible-sm visible-xs col-sm-6 col-xs-12">
                    <button tabindex="0" class="button-calendar shadow-down col-xs-12 datapicker" id= "button-news">Календарь<div class="icon-calendar-arrow"></div> 
                    </button>
                    <div class="row calendar">
                        <div class="clndr-orto" id="clndr-orto" style="display: none;"></div>
                    </div>
                </div> 
            </div>

            <div style="margin-top:30px;">

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_listen icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 ">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/fifth-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_listen icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 ">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/six-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button-default " value="Поделиться в соц сетях">Показать еще</button>
        </div>


        <div class="col-md-5 col-xs-12 right-column ">

            <div class="row calendar-2 datepicker-nohide-small hidden-sm hidden-xs">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="#"><h2>Календарь</h2></a>
                </div>
                <div class="datepicker col-md-12 col-sm-12 col-xs-12" id="common-datepicker"></div>
            </div>

            <div class="news-category news-category-left margin-left-15 col-md-12 col-sm-12 col-xs-12 container">
                <div class="margin-left-15 col-md-12 col-sm-12 col-xs-12"><h2>Популярные новости</h2></div>

                <ul>
                    <li class="button-white shadow-down active"><a href="#">За все время</a></li>
                    <li class="button-white "><a href="#">Месяц</a></li>
                    <li class="button-white "><a href="#">Неделю</a></li>
                </ul>

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати ...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>

                <button class="button-default col-md-12 col-sm-12 col-xs-12 all-list" value="Весь список">Весь список</button>
            </div>
            
            <div class="popular-themes col-md-12 col-sm-12 col-xs-12 margin-left-15">
                <div class="col-md-12 col-sm-12 col-xs-12 margin-left-15"><h2>Популярные темы</h2></div>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Праздник</button>
                <button class="button-tags" value="Показать еще">Продам гараж</button>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Христос Воскрес</button>
            </div>
        </div>



</div>

include "weekly_delivery.html"

include "footer.html"
</div>
include "scripts.html"
</body>
</html>