include "headerAll.html"

    <div class="container margin-top history_inside publications-inside">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Прихожанам / Публикации</h5></div>
        </div>

        <div class="col-md-7">
            <h2 class="page-title">Публикации</h2>

            <div id="myCarousel" class="carousel slide history_inside_carousel">
                <div class="carousel-inner">
                    <div class="active item"><img src="../images/content-img/history_inside_slider1.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider2.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                    <div class="item"><img src="../images/content-img/history_inside_slider3.png"></div>
                </div>
                <div class="shadow-down col-md-12 no-author ">
                    <div class=" control-nav">
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <div class="icon-history_inside_slider_prev"></div>
                        </a>

                        <div class="slide_number"></div>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <div class="icon-history_inside_slider_next"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <div class="pre-title col-md-12 col-sm-12 col-xs-12">
                    <div class="date col-md-5 col-sm-5 col-xs-6 ">21 Марта 2015 г.</div>
                    <div class="ver_for_print col-md-5 col-sm-5 col-xs-6">Версия для печати
                        <div class="icon-print_version"></div>
                    </div>
                </div> 
                <h2>Святые Божии не допустили трагедии</h2>

                <p>По послушанию руководителя паломнического отдела Киево-Печерской Лавры, мне приходится по нескольку
                    раз в год сопровождать паломников в разные страны. В конце мая 2007 года мы должны были лететь в
                    Турцию. Перед вылетом я спустился в пещеры, приложился к мощам преподобных отцов. Просил их святых
                    молитв, чтоб сохранили нас от искушений и неприятностей, управили нам путь. В пещеры я обязательно
                    иду перед каждой поездкой и без благословения Печерских отцов не дерзаю отправляться в дорогу.</p>

                <p> Программа нас ожидала насыщенная — знакомство с православными святынями древней Византии, посещение
                    столицы империи — Константинополя, нынешнего Стамбула. Много интересных памятников истории мы должны
                    были увидеть на островах. Из Киевского аэропорта Борисполь мы вылетели в Стамбул. В группе было 12
                    человек, коллектив подготовленный, люди воцерковленные.</p>

                <p>Всё шло своим чередом. Полет проходил нормально, как обычно. Внизу уже показались городские строения
                    и магистрали, пассажиры пристегнули ремни, готовясь к посадке. Но когда самолет начал снижаться, и
                    под нами показалась взлетная полоса, до которой оставалось метров 300 — вдруг надсадно, с
                    чрезвычайным усилием взревели моторы.</p>

                <p>Салон судорожно завибрировал, по проходу в кабину пилотов встревожено убежали побледневшие
                    стюардессы, оставив взволнованных пассажиров. Никто не понял, в чем дело, но ясно было, что
                    происходит нечто экстраординарное.</p>

                <p>Архимандрит Пимен (Дроздюк), глава паломнического отдела Киево-Печерской Лавры
                    Записала Валентина Серикова. Статья полностью: сайт «Православная жизнь»
                    Использованы фото архива Редакции сайта www.lavra.ua</p>
            </div>

            <button class="button-default " value="Поделиться в соц сетях">Поделиться в соц сетях</button>
        </div>


        <div class="col-md-5 right-column">

            <h2>Другие публикации</h2>

            <div class="news-category news-category-left col-md-12 col-sm-12  col-xs-12 margin-left-15">

                <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h3 class="visible-sm visible-xs">Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button-default col-md-12 col-sm-12 col-xs-12 show-list col-xs-12" value="Поделиться в соц сетях">Весь список</button>

            <div class="col-md-12 col-sm-12 col-xs-12 margin-left-15">
                <h2>Популярные темы</h2>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Праздник</button>
                <button class="button-tags" value="Показать еще">Продам гараж</button>
                <button class="button-tags" value="Показать еще">Теги</button>
                <button class="button-tags" value="Показать еще">Христос Воскрес</button>
            </div>
        </div>


    </div>


    include "footer.html"

    include "scripts.html"
</div>

</body>
</html>