include "headerAll.html"

    <div class="container margin-top publication">
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Прихожанам</h5></div>
        </div>

        <div class="col-md-12 ">
            <div class="two-drops row">
                <div class="dropdown col-md-4 col-sm-6 col-xs-12">
                    <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="category-list" data-toggle="dropdown">
                    Все публикации<div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-10 col-sm-10 col-xs-10 ">
                        <li role="menuitem"><a>
                        вторник
                        </a></li>
                        <li role="menuitem"><a>
                        среда
                        </a></li>
                        <li role="menuitem"><a>
                        четверг
                        </a></li>
                        <li role="menuitem"><a>
                        пятница
                        </a></li>
                        <li role="menuitem"><a>
                        суббота
                        </a></li>
                        <li role="menuitem"><a>
                        воскресенье
                        </a></li>
                    </ul>
                </div>
                
                <div class="news-calendar visible-sm visible-xs col-sm-6 col-xs-12">
                    <button tabindex="0" class="button-calendar shadow-down col-xs-12 datapicker" id= "button-news">Календарь<div class="icon-calendar-arrow"></div> 
                    </button>
                    <div class="row calendar">
                        <div class="clndr-orto" id="clndr-orto" style="display: none;"></div>
                    </div>
                </div>

                <div class="dropdown col-xs-12 visible-xs">
                    <button tabindex="0" class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id="category-list" data-toggle="dropdown">
                    По хронологии<div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-10 col-sm-10 col-xs-10 ">
                        <li role="menuitem"><a>
                        вторник
                        </a></li>
                        <li role="menuitem"><a>
                        среда
                        </a></li>
                        <li role="menuitem"><a>
                        четверг
                        </a></li>
                        <li role="menuitem"><a>
                        пятница
                        </a></li>
                        <li role="menuitem"><a>
                        суббота
                        </a></li>
                        <li role="menuitem"><a>
                        воскресенье
                        </a></li>
                    </ul>
                </div>
            </div>
            <ul class='hidden-xs'>
                <li class="button-white shadow-down active"><a href="#">По Хронологии</a></li>
                <li class="button-white"><a href="#">По популярности</a></li>
                <li class="button-white"><a href="#">По авторам</a></li>
            </ul>
        </div>

        <div class="news-category col-md-7 col-sm-12 col-xs-12">

               <div class="news">
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_listen icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 ">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/fifth-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_listen icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 ">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/six-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                    
                    <div class="item row" data-proportion-xs="7/1">
                        <div class="col-md-5 col-sm-5 hidden-xs">
                            <div class="href-img">
                                <img src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7  col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>
                </div>

            <button class="button-default " value="Поделиться в соц сетях">Показать ещё</button>

        </div>

        <div class="col-md-5 datepicker-nohide-small hidden-sm hidden-xs">
            <div class="datepicker" id="common-datepicker"></div>
        </div>

        <div class="col-md-5">
            <h2>Категории</h2>
            <ul>
                <li><a href="#"> Все публикаци</a></li>
                <li><a href="#"> Интервью с митр. Павлом</a></li>
                <li><a href="#">Проповеди</a></li>
                <li><a href="#"> Слова братии</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Обзор СМИ</a></li>
                <li><a href="#"> Видеопоздравления</a></li>
                <li><a href="#"> Вопросы священнику (видео)</a></li>
            </ul>

            <h2>Категории</h2>
            <button class="button-tags active" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Праздник</button>
            <button class="button-tags" value="Показать еще">Продам гараж</button>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Христос Воскрес</button>
        </div>

</div>
    include "weekly_delivery.html"
    include "footer.html"
</div>
    include "scripts.html"
</body>
</html>