include "headerAll.html"

    <div class="container margin-top  read-icons">

        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Святыни</h5></div>
        </div>

        

        <div class="col-md-12">
            <h2  class="page-title">Чтимые иконы</h2>
            <button id="listBtn" class="button_list active">
                <div class=" icon-list_button_active"></div>
                Списком
            </button>
            <button id="iconBtn" class="button_list">
                <div class=" icon-table_button"></div>
                Плиткой
            </button>

        </div>
        <div id="iconsBlockLeft" class="news-category col-md-12 col-sm-12 col-xs-12">

            <div class="item col-md-12 col-sm-12 col-xs-12" data-proportion-md="7/1" data-proportion-sm="7/1">
                <div class="item-img-container col-md-3 col-sm-3 hidden-xs">
                    <div class="href-img">
                        <img src="../images/content-img/info-block-1.png" class="history-img">

                        <a href="#" class="popup-read popup">
                            <div class="icon-popup_listen icon"></div>
                            Просмотр
                        </a>
                    </div>
                </div>
                <div class="item-text-container col-md-9 col-sm-9 col-xs-12">
                   <h3><a class="news-link" href="#">Икона</a></h3>
                    <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним...</p>
                </div>
            </div>

            <div class="item col-md-12 col-sm-12 col-xs-12" data-proportion-md="7/1" data-proportion-sm="7/1">
                <div class="item-img-container col-md-3 col-sm-3 hidden-xs">
                    <div class="href-img">
                        <img src="../images/content-img/info-block-1.png" class="history-img">

                        <a href="#" class="popup-read popup">
                            <div class="icon-popup_listen icon"></div>
                            Просмотр
                        </a>
                    </div>
                </div>
                <div class="item-text-container col-md-9 col-sm-9 col-xs-12">
                    <h3><a class="news-link" href="#">Икона</a></h3>
                    <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним...</p>
                </div>
            </div>

            <div class="item col-md-12 col-sm-12 col-xs-12" data-proportion-md="7/1" data-proportion-sm="7/1">
                <div class="item-img-container col-md-3 col-sm-3 hidden-xs">
                    <div class="href-img">
                        <img src="../images/content-img/info-block-1.png" class="history-img">

                        <a href="#" class="popup-read popup">
                            <div class="icon-popup_listen icon"></div>
                            Просмотр
                        </a>
                    </div>
                </div>
                <div class="item-text-container col-md-9 col-sm-9 col-xs-12">
                    <h3><a class="news-link" href="#">Икона</a></h3>
                    <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним...</p>
                </div>
            </div>

        </div>
        <div id="iconsBlockRight" class="news-category col-md-12 col-sm-12 col-xs-12">

            <div class="item col-md-12 col-sm-12 col-xs-12" data-proportion-md="7/1" data-proportion-sm="7/1">
                <div class="item-img-container col-md-3 col-sm-3 hidden-xs">
                    <div class="href-img">
                        <img src="../images/content-img/info-block-1.png" class="history-img">

                        <a href="#" class="popup-read popup">
                            <div class="icon-popup_listen icon"></div>
                            Просмотр
                        </a>
                    </div>
                </div>
                <div class="item-text-container col-md-9 col-sm-9 col-xs-12">
                    <h3><a class="news-link" href="#">Икона</a></h3>
                    <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним...</p>
                </div>
            </div>

            <div class="item col-md-12 col-sm-12 col-xs-12" data-proportion-md="7/1" data-proportion-sm="7/1">
                <div class="item-img-container col-md-3 col-sm-3 hidden-xs">
                    <div class="href-img">
                        <img src="../images/content-img/info-block-1.png" class="history-img">

                        <a href="#" class="popup-read popup">
                            <div class="icon-popup_listen icon"></div>
                            Просмотр
                        </a>
                    </div>
                </div>
                <div class="item-text-container col-md-9 col-sm-9 col-xs-12">
                    <h3><a class="news-link" href="#">Икона</a></h3>
                    <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним...</p>
                </div>
            </div>

            <div class="item col-md-12 col-sm-12 col-xs-12" data-proportion-md="7/1" data-proportion-sm="7/1">
                <div class="item-img-container col-md-3 col-sm-3 hidden-xs">
                    <div class="href-img">
                        <img src="../images/content-img/info-block-1.png" class="history-img">

                        <a href="#" class="popup-read popup">
                            <div class="icon-popup_listen icon"></div>
                            Просмотр
                        </a>
                    </div>
                </div>
                <div class="item-text-container col-md-9 col-sm-9 col-xs-12">
                    <h3><a class="news-link" href="#">Икона</a></h3>
                    <p>Описание храма который стоит где-то далеко в горах с золотыми куполами, душу мою радуют весенним...</p>
                </div>
            </div>

        </div>
    </div>

    include "footer.html"
</div>
include "scripts.html"
</body>
</html>