include "headerAll.html"

<div class="container margin-top schedule-page">
    <div class="ver_for_print col-md-3 margin-left-15">Версия для печати
        <div class="icon-print_version"></div>
    </div>
    <h2>Расписание Богослужений в Киево-Печерской Успенской Лавре</h2>

    <h2>16 мая - 23 мая 2015 г.</h2>



    <div class="schedule-week shadow-down">
        <p class="schedule-week__title">Упродовж тижня:</p>
        <span class="schedule-week__content">Таїнство Сповіді починається перед Літургією до читання 3 Часу</span>
    </div>

    <div class="schedule-tree__active">
        <div class="title-wrapper">
            <span class="title">СБ 16.05</span>
            <h2>Всенощна</h2>
        </div>
        
        <ul>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Трапезний храм</a></li>
            <li class="schedule-item"><span class="schedule-date">17.00</span>
                <a href="#">Успенський собор</a></li>
        </ul>
    </div>
        <!--
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Трапезний храм</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>

    </div>
        -->
    <div class="schedule-tree">
        <div class="title-wrapper">
            <span class="title">НД <span class="title-date">17.05</span></span>
            <h2>Про сліпого. Печерської ікони Божої матері</h2>
        </div>
        <ul>
            <li class="schedule-item"><span class="schedule-date">06.00</span>
                <a href="#">Полунощниця — Хрестовоздвиженський храм</a></li>
            <li class="tree-title"><span>ЛІТУРГІЇ:</span></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="tree-title"><span>Вечірнє богослужіння:</span></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
            <li class="schedule-item"><span class="schedule-date">16.30</span>
                <a href="#">Успенський собор</a></li>
        </ul>
    </div>


        <!--
        <div class="schedule-item">
            <span class="schedule-date">06.00</span>
            <a href="#">Полунощниця — Хрестовоздвиженський храм</a>
        </div>
        <p class="tree-title">Літургії:</p>




        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>

        <p class="tree-title">Вечірнє богослужіння:</p>


        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>
        <div class="schedule-item">
            <span class="schedule-date">16.30</span>
            <a href="#">Успенський собор</a>
        </div>


        <span class="title">НД 17.05</span>
        -->
        <div class="schedule-tree">
            <div class="title-wrapper">
                <span class="title">ПН <span class="title-date">17.05</span></span>
            </div>
            <ul>
               <li class="schedule-item first-item"><span class="schedule-date">06.00</span>
                   <a href="#">1 ЛIТУРГIЯ - Ближнi печери</a></li>
               <li class="schedule-item first-item"><span class="schedule-date">16.30</span>
                   <a href="#">Полунощниця</a></li>
               <li class="schedule-item first-item"><span class="schedule-date">16.30</span>
                   <a href="#">2 ЛIТУРГIЯ - Ближнi печери</a></li>
               <li class="schedule-item"><span class="schedule-date">16.30</span>
                   <a href="#">Молебень ...</a></li>
               <li class="schedule-item"><span class="schedule-date">16.30</span>
                   <a href="#">3 ЛIТУРГIЯ - Успенський собор</a></li>
               <li class="schedule-item"><span class="schedule-date">16.30</span>
                   <a href="#">Молебень ... </a></li>
               <li class="schedule-item"><span class="schedule-date">16.30</span>
                   <a href="#">Акафiст ... </a></li>
               <li class="schedule-item"><span class="schedule-date">16.30</span>
                   <a href="#">Молебень</a></li>
                   <li class="tree-title"><span>Вечiрнэ богослужiння</span></li>
               <li class="schedule-item"><span class="schedule-date">16.30</span>
                   <a href="#">Трапезний храм</a></li>
            </ul>
        </div>
        <!--<div class="schedule-item">
            <span class="schedule-date">06.00</span>
            <a href="#">Полунощниця — Хрестовоздвиженський храм</a>
        </div>-->
    <button class="button-with-border" value="Показать еще">Молебны и акафисты</button>
    <br><button class="button-default " value="Поделиться в соц сетях">Поделиться в соц сетях</button>
</div>

include "footer.html"

include "scripts.html"
</div>

</body>
</html>