include "headerAll.html"

    <div class="container margin-top  temples">
        
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Святыни</h5></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <h2 class="page-title col-lg-12 col-md-12 col-sm-6 col-xs-12">Храмы</h2>
                
                <div class="dropdown visible-sm visible-xs col-sm-6 col-xs-12" tabindex="0">
                    <button  class="button-drop shadow-down col-md-12 col-sm-12 col-xs-12 dropdown-toggle" id=" sheduleDropdown">
                    Выбор храма
                    <div class="icon-calendar-arrow"></div>
                    </button>
                    <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12 map-markers">
                        <div class='scroll'>
                            <li role="menuitem">
                            <p data-lat="-34.397" data-lng="150.644">Церковь во имя Святой Живоначальной Троицы над Святыми Вратами</p>
                            </li>
                            <li role="menuitem">
                            <p data-lat="-24.397" data-lng="150.644">Церковь во имя Святой Живоначальной Троицы над Святыми Вратами</p>
                            </li>
                            <li role="menuitem">
                            <p data-lat="-44.397" data-lng="150.644">Церковь во имя Святой Живоначальной Троицы над Святыми Вратами</p>
                            </li>
                            <li role="menuitem">
                            <p data-lat="-34.397" data-lng="160.644">Церковь во имя Святой Живоначальной Троицы над Святыми Вратами</p>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-8 col-sm-12 col-xs-12 temple-block shadow-down" id="map"></div>

            <div class="col-md-4 hidden-sm hidden-xs temple-list shadow-down map-markers">
                <div>
                    <p data-lat="-34.397" data-lng="150.644" class="active">Церковь во имя Святой Живоначальной Троицы
                    над Святыми Вратами</p>
                </div>
                <div>
                    <p data-lat="-24.397" data-lng="150.644">Церковь во имя Святой Живоначальной Троицы
                    над Святыми Вратами</p>
                </div>
                <div>
                    <p data-lat="-44.397" data-lng="150.644">Церковь во имя Святой Живоначальной Троицы
                    над Святыми Вратами</p>
                </div>
                <div>
                    <p data-lat="-34.397" data-lng="160.644">Церковь во имя Святой Живоначальной Троицы
                    над Святыми Вратами</p>
                </div>
            </div>
        </div>
    </div>

    include "footer.html"
</div>
include "scripts.html"

</body>
</html>