include "headerAll.html"


    <div class="container margin-top translations">
        
        <div class="row ">
            <div class="navigation col-md-12 col-sm-12 col-xs-12"><h5>Главная / Онлайн трансляции</h5></div>
        </div>

        <div class="col-md-7">
            <h2 class="page-title">Сейчас в эфире</h2>

            <img src="../images/content-img/translations_img.png" class="translations-img">

            <div class="content-block">
                <h2>Название трансляции</h2>

                <p>Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви, наместник
                    Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский
                    ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по делам
                    монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры митрополит
                    Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский монастырь г.
                    Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной Церкви,
                    наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел посетил
                    Анастасиевский ставропигиальный женский монастырь г. Житомира. Председатель Синодальной комиссии по
                    делам монастырей Украинской Православной Церкви, наместник Успенской Киево-Печерской Лавры
                    митрополит Вышгородский и Чернобыльский Павел посетил Анастасиевский ставропигиальный женский
                    монастырь г. Житомира. Председатель Синодальной комиссии по делам монастырей Украинской Православной
                    Церкви, наместник Успенской Киево-Печерской Лавры митрополит Вышгородский и Чернобыльский Павел
                    посетил Анастасиевский ставропигиальный женский монастырь г. Житомира.
                </p>
            </div>

            <button class="button-default " value="Поделиться в соц сетях">Поделиться в соц сетях</button>
            <h2>Темы</h2>
            <button class="button-tags active" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Праздник</button>
            <button class="button-tags" value="Показать еще">Продам гараж</button>
            <button class="button-tags" value="Показать еще">Теги</button>
            <button class="button-tags" value="Показать еще">Христос Воскрес</button>


            <h2>Активные трансляции по теме</h2>

            <div class="news-category col-md-12 col-sm-12 col-xs-12 margin-left-15">
                <div class="news">
                    <div class="item row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_listen icon"></div>
                                    Просмотр
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div class="item row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_read icon"></div>
                                    Читать
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div class="item row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="href-img">
                                <img class="responsive" src="../images/content-img/second-news.png">
                                <a href="#" class="popup-read popup">
                                    <div class="icon-popup_gallery icon"></div>
                                    Смотреть
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Категория</h3>
                            <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати
                                крепости моей...</a>
                            <span class="news-date">12 февраля 1995</span>
                        </div>
                    </div>

                    <div>
                        <button class="button-default" value="Все материалы">Все материалы</button>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-md-5 translations-right">
            <h2>Календарь</h2>

            <div class="col-md-12 calendar-2 margin-left-15 datepicker-nohide-small">
                <div class="datepicker" id="common-datepicker" ></div>
            </div>
            <h2>Другие трансляции</h2>
            <ul>
                <li class="button-white shadow-down active"><a href="#" class="active">Запланированные</a></li>
                <li class="button-white"><a href="#">Архив</a></li>
            </ul>
            <div class="news-category news-category-left col-md-12 col-sm-12 margin-left-15 right-column">

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>
                <button class="button-default col-md-12" value="Поделиться в соц сетях">Весь список</button>
            </div>




            <div class=" news-category news-category-left col-md-12 col-sm-12 margin-left-15 right-column">

                <h2>Веб-камеры</h2>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>

                <div class="item row" data-proportion-xs="7/1">
                    <div class="col-md-5 col-sm-5 hidden-xs">
                        <div class="href-img">
                            <img src="../images/content-img/second-news.png">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <a class="news-link" href="#">Не отвержи мене во время старости, внегда оскудевати...</a>
                        <span class="news-date">12 февраля 1995</span>
                    </div>
                </div>
                <button class="button-default col-md-12" value="Поделиться в соц сетях">Весь список</button>
            </div>


        </div>

    </div>

    include "footer.html"

    include "scripts.html"
</div>

</body>
</html>