.schedule {
  
  .dropdown{
    margin-top:18px;
  }
  .scroll {
    direction: rtl;
    height: 200px;
    overflow: hidden;
    margin: 40px 0 30px;
    padding-left: 5px;

    .schedule-container {
      direction: ltr;
      p {
        color: #6e6e6e;
        line-height: 1.2;
      }
      span:first-letter {
        font-weight: 700;
      }
      #inner-content-div{
        padding-left: 24px;
      }
    }
  }
  .btns{
    padding: 0px 15px;
    .button-default {
     margin-bottom: 20px;
    }  
  }
}