.publications-inside {
  .publications-inside-form {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  .right-column{
    a{
      font-size: 15px;
    }
    img{
      float: left;
      width: 40%;
      margin-right: 10px;
    }
    .href-img{
      float: none;
    }
    .item:hover .href-img {
      img{
        opacity: 0.8;
      }
    }
  }

  .content-block{
    .pre-title{
      padding: 0px;
      .date{
        float:left;
        padding: 20px 0px;
      }
      .ver_for_print{
        float: right;
        padding: 20px 0px;
      }
    }
  }
}


