.dropdown{ 
  padding: 0px;
  margin: 18px 0px 0px;

  .button-drop{
    background-color: white;
    font-family: @main-font-family;
    color: @green-color-dark;
    border: none;
    padding: 7px 16px;
    border-radius: 70px;
    //width: 170px;
    outline: none;
    text-align: left;
    z-index: 101;
    .transition;
    .icon-calendar-arrow, .icon-close-cal-white{
      float: right;
      margin-top: 7px;
    }
    &.active{
      background: #39b584;
      color: white;
    }
  }
  
  .dropdown-backdrop{
    display: none !important;
  }

  .dropdown-menu{
    width: calc(~"100% - 30px");
    min-width: 1px;
    border: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    margin: 15px;
    margin-top: 25px;
    z-index: 100;
    a{
      color: black;
      padding: 5px 10px;
      cursor: pointer;
      line-height: 2;
      &:active{
        color: white;
        background: #39b584;
      }
    } 
    .scroll a {
      padding: 5px 10px 5px 14px;
      white-space: normal;
      width: 100%;
      float: right;
    }
  }
}

.dropdown .dropdown-menu .scroll a {
  color: black;
  padding: 5px 10px 5px 14px;
  white-space: normal;
  width: 100%;
  float: right;
}
  
.no-touch .dropdown .dropdown-menu a:hover{
  color: white;
  background: #39b584;
}