.button-calendar{
  background-color: white;
  font-family: @main-font-family;
  color: @green-color-dark;
  border: none;
  padding: 7px 16px;
  border-radius: 70px;
  //width: 170px;
  outline: none;
  text-align: left;
  .transition;
  .icon-calendar-arrow, .icon-close-cal-white{
    float: right;
    margin-top: 7px;
  }
  &.active{
    background: #39b584;
    color: white;
  }
}
