.button-tags{
  font-family: @main-font-family;
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
  white-space: nowrap;
  border: 2px solid #e3e2dc;
  background-color: transparent;

  margin: 5px 5px 5px 0px;
  .transition(all, .3s, linear);
  &.active{
    background-color: @green-color-dark;
    color: white;
    border: 2px solid @green-color-dark;
  }
}
.no-touch .button-tags:hover{
  background-color: @green-color-bright;
  color: white;
  border: 2px solid @green-color-bright;
}