.button-with-border{
  border-radius: 50px;
  padding: 8px 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: #369670;
  font-size: 15px;
  border: 2px solid #369670;
  background: transparent;
  outline: none;
  white-space: nowrap;
  width: 215px;
  .transition(all, .3s, linear);
  &:active{
    background-color: #39b584;
    border: 2px solid #39b584;
    color: white;
  }
}
.no-touch .button-with-border:hover{
  background-color: #39b584;
  border: 2px solid #39b584;
  color: white;
}