.button_list{
  color: inherit;
  display: inline-block;
  font-size: 15px;
  background: transparent;
  border: none;
  outline: none;
  margin: 20px 10px 20px 0;
  div{
    float: left;
    margin: 3px 10px;
  }
  &.active {
    padding: 5px 20px 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: @green-color-dark;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  }
}
.no-touch .button_list a:hover{
  color: @green-color-dark;
  transition: 0.6s;
}