.button-default{
  margin-bottom: 15px;
  font-family: @main-font-family;
  padding: 10px 30px;
  background-color: @green-color-dark;
  color: white !important;
  border-radius: 50px;
  outline: none;
  border: none;
  white-space: nowrap;
  .transition(all, .3s, linear);
  &:active{
  	background-color: @green-color-bright;
  }
}
.no-touch .button-default:hover{
    background-color: @green-color-bright;
}