.button-white{
  color: inherit;
  display: inline-block;
  font-size: 16px;
  padding: 6px 15px;
  cursor: pointer;
  .transition(all, .3s, linear);
  a:visited{
    color: #333;
  }
  a:hover{
    color: @green-color-dark;
    transition: 0.6s;
  }
  &.active {
    a{
      color:@green-color-dark;
    }
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  }
}