.lavra-profile {
  margin-bottom: 30px;
//  .transition(all, .2s, linear);
  .is-grid{
    overflow:hidden;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    padding:0;
    width:23.2%;
  }
  h2{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  a{
    overflow: hidden;
  }
  .profile-menu {
    text-align: center;
    li{
      .transition(all, .2s, linear);
    }
    float: none;
    margin: 20px auto;
  }
  .img-wrapper{
    background: #3c3c3c;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .profile-block{
    img{
      opacity: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .transition(all, .3s, linear);
    }
  }
  span{
    position: absolute;
    bottom: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    .transition(all, .3s, linear);
  }
  p {
    position: absolute;
    bottom: -120px;
    color: white;
    padding: 25px;
    line-height: 1.2;
    margin: 0;
    .transition(all, .3s, linear);
  }

}
.lavra-profile{
  a:hover{
    p {
      bottom: 0;
      font-size: 14px;
    }
    span{
      bottom: 65%;
    }
    img{
      opacity: 0.4;
    }
  }
}