.read-icons{
  	.button_list {
	  padding: 5px 20px 5px 10px;
	}
	.news-category{
	  padding: 0;
		.item {
		  margin-bottom: 35px;
			&:hover {
			  .news-link{
				color: @green-color-dark;
			  }
			  .href-img{
				.popup {
				  display:block !important;
				  bottom: 50%;
				  margin-bottom: -40px;
				  visibility: visible;
				  opacity:1;
				}
				img{
				  opacity: 0.4;
				}
			  }
			}

		}
	}
}