.clndr{
	padding: 10px 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	direction: ltr;
	background:white;
	color: #39b584;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
	
	.clndr-controls{
		font-weight: 700;
		height: 30px;
		& div{
			display: inline-block;
			&.month{
				float: left;
				width: auto;
				margin-left: 15px;
				font-size: 18px;
			}
			&.clndr-control-button{
				float: right;
				width: 40px;
				cursor: pointer;
				& span{
					display: block;
				}
			}
		}
	}
	table {

		text-align: center;
		width: 100%;
		thead{
			font-weight: 600;
		}
		tbody td{
			color: @text-color-dark;
			cursor:pointer;
			&.adjacent-month{
				color: #9e9e9e;
			}
		}
		td {
			height: 35px;
			div {

	   			margin: 4px auto;
	   			border-width: 5px;
			    height: 36px;
			    width: 36px;
	   			border-style: solid;
	   			background-color: white;
	   			border-color: white;
	   			border-radius: 25%;
	   			.transition();
			}
			&:hover div, &:focus div, &.selected div{
				background-color: #39b584;
				border-color: #39b584;
	   			border-radius: 50%;
	   			color: white !important;
			}
		}
	}
}

.datepicker-nohide .clndr{
	margin-bottom: 0;
	table td div {
	    margin: 5px auto;
    	border-width: 8px;
    	max-width: 40px;
    	min-width: 32px;
	}
}

.datepicker-nohide-small .clndr{
	margin-bottom: 20px;
	table td div {
	    margin: 5px auto;
    	border-width: 8px;
    	max-width: 40px;
   		min-width: 32px;
	}
}