/* .datepicker{
  padding: 0;
  margin-bottom: 20px;
  border-radius: 4px;
  direction: ltr;
  background:white;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);// korrect from 0.1 to 0.05
.calendar .datepicker-inline .calendar-head span.calendar-next{
    content: ">";
  }
.calendar .datepicker-inline .calendar-head span.calendar-prev{
    content: "<";
  }
  .dow{
    font-weight: 100 !important;

    color: #b3b3b3;
  }
  
  .datepicker-switch{
    color: @green-color-dark;
    text-align: left;
    font-weight: 100 !important;
    font-size: 18px !important;
    &:hover{
      background-color: transparent !important;
      opacity: 0.8;
    }
    &:after{
      content: '';
      display: inline-block;
      background-image: url(../../images/sprite/spritesheet.png);
      background-position: -75px -240px;
      width: 22px;
      height: 22px;
      margin-left: 10%;
      margin-top: -3px;
      vertical-align: middle;
    }
  }
  .active.day, .month.active, .year.active{
    background-color: #39b584 !important;
    color: white !important;
    border-radius: 20px;
    //border: 1px solid @green-color-dark !important;
  }
  .day:hover, .month:hover, .year:hover{
    border-radius: 20px;
  }
} */

/* .datepicker-nohide {
  display: initial;
  .datepicker-inline{
    display: block !important;
    margin-bottom: 0px;
  }
} */