.orthodox-calendar{
  position:relative;

  .calendar-container {
    margin-top: 40px;
  }

  .cal1{
    &.active{
      //top:90px;
      visibility: visible;
      opacity: 1;
    }
    .transition(all, .3s, linear);
    z-index: 1;
    .close{
      border-radius: 50%;
      border: 1px solid @gray-color-light;
      position:absolute;
      top: 20px;
      right:20px;
      width:27px;
      height:27px;
      border:1px solid @gray-color-light;
    }
    .shadow;
    box-sizing: border-box;
    position: absolute;
    background: white;
    padding: 20px;
    top: 90px;
    visibility: hidden;
    opacity: 0;
    .clndr-table{
      width:90%;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
      .header-day{
        color: @gray-color-light + 120;
        padding:10px;
      }
      .day{
        text-align: center;
        padding: 2px 0;
        &.today .day-contents{
          background-color: @green-color-bright;
          color:white;
        }
        &.adjacent-month .day-contents{
          color: @gray-color-light + 100;
        }
        .day-contents{
          margin: 0 auto;
          .transition(all, .3s, linear);
          width:35px;
          height: 35px;
          line-height: 35px;
          border-radius: 50%;
          cursor: pointer;
          border:1px solid transparent;
          &:hover{
            border:1px solid @green-color-dark;
          }
        }
      }
      tr{
        
      }
    }
    .clndr-controls{
      text-align: center;
      .clndr-control-button{
        display:inline-block;
        div{
          display:inline-block;
          margin:10px;
          vertical-align: middle;
          &.ic{
            text-indent: -9999px;
          }
        }
      }
    }
    .clndr-table{
      width:100%;
    }
  }
  .calendar{
    position:absolute;
    padding: 10px;
    padding-top: 7px;
    left:0px;
    width:100%;
    left: 20px;
    z-index: 1000;
  }

  img{
    float: left;
    margin: 0 35px 30px 0;
  }
  p{
    color: #6e6e6e;
    font-size: 15px;
  }
  .button-default{
    display: block;
    float: left;
    clear: both;
    margin-top: 0px;
  }
  .btn-cal{
    position:relative;
    .icon-calendar-arrow{
      position: absolute;
      right: 30px;
      top: 31px;
    }
  }
  .button-calendar{
    float: right;
    margin-top: 18px;
  }
}
