.contacts{
  padding: 70px 30px 0px;
  line-height: 1.6;
  color: @text-color-light;
  font-size: 15px;
  .button-default{
    margin: 30px 0 15px;
  }
  .dropdown{
    position: absolute;
    bottom: 570px;
  }
  .navigation {
    margin-left: 0px; 
  }
  .contact-title{
    font-weight: bold;
    color: black;
  }
  h2{
    color: black;
    margin: 20px 0px;
  }
  a{
  
    display: block;
    &:hover{
      color: @green-color-dark;
    }
  }
}
.contact-map{
  width: 100%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: -55px;
  padding: 0;
}
#map-wrapper{
  width: 100%;
  height: 510px;
  position: absolute;
  bottom: 175px;
  background-color: transparent;
}