.news-inside{
	.content-block{
		.pre-title{
			padding: 0px;
			.date{
				float:left;
				padding: 20px 0px;
			}
			.ver_for_print{
				float: right;
				padding: 20px 0px;
			}
		}
	}
	.button-default{
	  margin: 15px 0;
	  margin-top: 40px;
	}
}