.translations-right {
  h2 {
    margin-bottom: 40px;
    margin-top: 25px;
  }
  .datepicker-nohide-small {
    margin-bottom: 12px;
  }
  .button-default {
      margin-top: 40px !important;
  }
}
.news-category{
  margin-top: 10px;
  float: left;
  button.button-default {
    margin-bottom: 30px;
  }
  .item {
    margin-bottom: 20px;
  }
  .all-list{
    margin: 30px 0px !important;
  }
  .button-white{
    margin-bottom: 15px;
  }

  .dropdown{
    margin: 0px 15px;
    .button-drop{
      padding: 5px 16px;
      font-size: 20px;
      .icon-calendar-arrow, .icon-close-cal-white{
        float: right;
        margin: 0px;
        margin-top: 14px;
      }
    }
  }

  .news-slider, &_for-slider .news-slider{
    margin-bottom: 0px;
    .owl-theme .owl-controls {
      margin-top: 0px;
    }
    .item{
      margin-bottom: 30px;
    }
    .owl-pagination{
      position:absolute;
      bottom: 65px;
      right:30px;
      .owl-page{
        span{
          border-radius:0;
          transform: rotate(45deg);
          background:transparent;
          border:2px solid white;
          width:10px;
          height:10px;
        }
        &.active{
          span{
            background: white;
          }
        }
      }
    }

    .item{
      position: relative;
      .control-block{
        width: 100%;
        .transition(all, .3s, linear);
        position:absolute;
        bottom:20px;
        overflow:hidden;
        padding: 0px 30px;
        h3{
          color: white;
          font-weight:bold;
          font-size: 25px;
          text-transform: inherit;
          margin-top: 0;
        }
        p{
          color: white;
          margin: 0px 0px 20px;
        }
        a.pop{
          vertical-align: middle;
          color:white;
          position:absolute;
          bottom:-50px;
          font-size:15px;
          padding: 5px 5%;
          border:2px solid @green-color-dark;
          background:transparent;
          opacity:0;
          .icon{
            display:inline-block;
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  &_for-slider .news-slider{
    .owl-pagination{
      bottom:35px;
    }
  }


  h3{
    text-transform: uppercase;
    color: @text-color-light;
    font-size: 15px;
    line-height: 1;
    margin-top: 0 !important;
  }

  .news > .item, .news > .item > div{
    margin-bottom: 30px;
  }

  .item{
    overflow: visible;
    min-height: 110px;
    .news-link{
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      display: block;
      transition: all .3s linear;
    }
    .href-img {
      display:block;
      position:absolute;

      width: 90%;
      
      background:@gray-color-dark;
      .popup{
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        position: absolute;
        bottom: -10px;
        visibility: hidden;
        
        margin: -10px auto;
        
        width: 100%;
        opacity:0;
        .transition(all, .3s, linear);
        .icon{
          margin: 0 auto;
        }
      } 
      img{
        position: absolute;
        width: 100%;
      }
    }
    span{
      font-style: italic;
      color: @text-color-light;
      display: inline-block;
      margin-top: 10px;
    }
  }
}

.news {
  .owl-theme .owl-controls {
    margin: 0px;
  }
  h2{
    margin-bottom: 30px;
  }
  .chronological-drop{
    .button-drop{
      font-size: 16px;
      margin-top: 20px;
      padding: 7px 16px;
      .icon-calendar-arrow, .icon-close-cal-white{
        margin-top: 7px;
      }
    }
  }
}

.small-slider.owl-carousel{
  .control-block{
    background-color: white;
    
    bottom: auto !important;
    padding: 10px 30px !important;
    h3 a {
      color: black;
      font-size: 18px !important;
    }
    p a {
      font-size: 16px;
      font-style: italic;
      color: #6e6e6e;
    }
  }
  .owl-pagination{
    bottom: 140px !important;
  }
  .owl-item {
    .item{
      margin-bottom: 120px !important;
    }
    img {
      display: block;
    }
  }
}

.no-touch .news-category .item {
  &:hover {
    .news-link{
      color: @green-color-dark;
    }
    .href-img{
      .popup {
        bottom: 50%;
        margin-bottom: -40px;
        visibility: visible;
        opacity:1;
      }
      img{
        opacity: 0.4;
      }
    }
  }
}
.no-touch .news-category.news-category-left .item{
  &:hover {
    .news-link{
      color: @green-color-dark;
    }
    .href-img{
      .popup {
        display: none;
      }
      img{
        opacity: 1;
      }
    }
  }
}
.no-touch .news-category{
      .news-slider, &_for-slider .news-slider{
        .item{
            &:hover{
              .control-block{
                padding: 40px 30px;
                a.pop{
                  bottom:0px;
                  margin-bottom: 10px;
                  opacity:1;
                  &:hover{
                    background: @green-color-dark;
                    border:2px solid transparent;
                  }
                }
              }
            }
          }
      }
    }
.right-column {
  & > ul {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .show-list{
    margin: 30px 0 !important;
    margin-bottom: 40px !important;
  }
  .button-default{
    margin-bottom: 10px;
    margin-top: 40px !important;
  }
  h3{
    float: none;
    clear: both;
    display: block;
    margin: 15px 0;
  }
  .item a {
    font-size: 15px;
    font-weight: bold;
    display: block;

  }
  span{
    display: block;
  }
  .item{
    .href-img {
      margin-top: 5px;
    }
    &:last-child{
      margin-bottom: 0 !important;
      &>div{
        margin-bottom: 0 !important;
      }
    }
  }
  .item:hover .href-img {
    img {
      opacity: 0.8;
    }
  }
  .white-btns {
    padding: 0px 15px;
    button {
      background-color: transparent;
      font-family: 'PT Sans', sans-serif;
      color: #369670;
      border: none;
      padding: 7px 10px;
      border-radius: 70px;
      outline: none;
      text-align: center;
      -webkit-transition: all 0.2s 0s ease-out;
      -moz-transition: all 0.2s 0s ease-out;
      -o-transition: all 0.2s 0s ease-out;
      transition: all 0.2s 0s ease-out;
    }
    button.active {
      background-color: white;
    }
  }

}

.comment-block{
  font-style: italic;
  display: block;
  padding: 0 20px;
  margin: 20px 0;
  border-left: 4px solid #369670;
}


