.gallery, .history{

  h3{
    text-transform: uppercase;
    color: @text-color-light;
    font-size: 15px;
    line-height: 1;
    margin-top: 0;
  }
  .item{
    overflow: visible;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0;
    .href-title{
      font-size: 20px;
      line-height: 40px;
      font-weight: 700;
      display: block;
      transition: all .3s linear;
    }
    .href-img {
      display:block;
      position:absolute;
      margin-top:10px;
      width: 93%;
      
      background:@gray-color-dark;
      .popup{
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        position: absolute;
        bottom: -10px;
        visibility: hidden;
        
        margin: -10px auto;
        
        width: 100%;
        opacity:0;
        left: 0px;
        .transition(all, .3s, linear);
        .icon{
          margin: 0 auto;
        }
       } 
       img{
          position: absolute;
          width: 100%;
        }
      }
  
  }
  span{
    font-style: italic;
    color: @text-color-light;
  }
}

.no-touch .gallery .item,
.no-touch .history .item {
  &:hover {
    .href-title {
      color: @green-color-dark;
    }
    .href-img {
      .popup {
        bottom: 50%;
        margin-bottom: -40px;
        visibility: visible;
        opacity:1;
      }
      img{
        opacity: 0.4;
      }
    }
  }
}