@media screen and (min-width: 1200px) {
  .online-transl_tablet{
    display:none;
  } 
}

@media screen and (max-width: 1000px) {
  .social-main {
    display: none;
  }
  .important-block .important-title {
    text-align: center;
    padding-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .orthodox-calendar {
    .shadow{
      top:90px;
    }
  }
  .online-transl_tablet{
    display:none;
  }
  .horizontal-menu {
    .online- transl_tablet{
      display:block;
    } 
  }
  .mail-send{
    .left{
      padding: 50px 0px 50px 15px;
    }
    .social {
      padding: 0px 15px 0px 0px;
      float: right;
      overflow: visible;
      div{
        height: 132px;
        width: 48%;
        cursor:pointer;
      }
      span{
        display: block;
        box-sizing: border-box;
        margin: 60px auto;
      }
      .border-fb{
        margin:2px 1px 1px 2px;
        background: rgba(0, 0, 0, 0.15); 
        .transition(all, .2s, linear);
        &:hover{
          background: rgba(77, 41, 196, 0.4);
        }
        span{
          margin: 52px auto;
        }
      }
      .border-youtube{
        margin:1px 2px 2px 1px;
        background: rgba(0, 0, 0, 0.15);
        .transition(all, .2s, linear);
        &:hover{
          background: rgba(200, 49, 43, 0.4);
        }
      }
      .border-tw{
        margin:1px 1px 2px 2px;
        background: rgba(0, 0, 0, 0.15);
        .transition(all, .2s, linear);
        &:hover{
           background: rgba(59, 148, 217, 0.4);
        }
      }
      .border-vk{
        margin:2px 2px 1px 1px;
        background:  rgba(0, 0, 0, 0.15);
        .transition(all, .2s, linear);
        &:hover{
          background: rgba(89, 125, 163, 0.4);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
   header, .horizontal-menu, .img-wrapper, .popup {
    display: none;
  }
  .is-grid .img-wrapper{
    display: block;
  }
  .lavra-profile .is-grid{
    width: 45%;
  }
  .mobile-header{
    display: block;
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .info-block p, .info-block a {
    margin-top: 5px;
    display: block;
  }
  .orthodox-calendar {
    .shadow{
      top:90px;
    }
    .calendar {
      padding: 0px !important;
      width: calc(~"100% - 30px") !important;
      left: 30px !important;
    }
  }
  .margin-top {
    padding-top: 30px;
  }
  .news-with-carousel {
    .control-block{
      background-color: white;
      
      bottom: auto !important;
      padding: 15px 30px !important;
      h3 a {
        color: black;
        font-size: 18px !important;
      }
      p a {
        font-size: 16px;
        font-style: italic;
        color: #6e6e6e;
      }
    }
    .owl-pagination{
      bottom: 180px !important;
    }
    .owl-item {
      .item{
        margin-bottom: 150px !important;
      }
      img {
        display: block;
      }
    }
  }
  .important-block .important-content{
    font-size: 16px;
  }
  .mail-send{
    .left{
      padding: 20px 0px;
      margin:0 auto;
    }
    .mail-send-title{
      margin-bottom: 20px;
    }
    .social {
      margin: 0 auto;
      padding-right: 10px;
      clear:both;
      overflow: visible;
      div{
        height: 80px;
        width: 24%;
        cursor:pointer;
      }
      span{
        display: block;
        box-sizing: border-box;
        margin: 30px auto;
      }
      .border-fb{
        margin:2px 1px 1px 2px;
        background: rgba(0, 0, 0, 0.15); 
        .transition(all, .2s, linear);
        &:hover{
          background: rgba(77, 41, 196, 0.4);
        }
        span{
          margin: 25px auto;
        }
      }
      .border-youtube{
        margin:1px 2px 2px 1px;
        background: rgba(0, 0, 0, 0.15);
        .transition(all, .2s, linear);
        &:hover{
          background: rgba(200, 49, 43, 0.4);
        }
      }
      .border-tw{
        margin:1px 1px 2px 2px;
        background: rgba(0, 0, 0, 0.15);
        .transition(all, .2s, linear);
        &:hover{
           background: rgba(59, 148, 217, 0.4);
        }
      }
      .border-vk{
        margin:2px 2px 1px 1px;
        background:  rgba(0, 0, 0, 0.15);
        .transition(all, .2s, linear);
        &:hover{
          background: rgba(89, 125, 163, 0.4);
        }
      }
    }
    
    .horizontal-menu {
       .online {
         display: none!important;
       } 
     }
  }
  .swith-block{
    a{
      padding: 7px 0px
    }
  }
  .schedule .scroll{
    height: auto !important;
  }

  .ask_answers{
    .input_search {
      margin: 30px 0px 15px 0px;
    }
    .dropdown {
      margin: 15px 0px 30px 0;
      width: 100% !important;
    }
    .ask-form{
      margin-left: 0px;
      margin-top: 30px;
    }
  }
  .caves {
    .nav.nav-pills {
      margin-top: 15px;
    }
    .ver_for_print {
      position: absolute;
      right: 0;
      margin-right: 15px;
      margin-top: 0;
    }
    .saint-block img{
      display: block;
      float: none;
      margin: 15px auto;
      .photo{
        min-width: 200px;
        img {
          float: left;
        }
      }
      .text{
        width: calc(~"100% - 200px");
        p {
          margin-top: 30px;
          font-size: 20px;
        }
      }
    }
    .dropdown{
      margin: 30px 0;
    }
  }

  .two-drops.row, .tab-calendar.row{
    .calendar{
      position: absolute;
      width: 100%;
      z-index: 1000;
      margin-top: 64px;
    }
    &>div{
      margin: 15px 0;
      padding: 0 15px;
      button{
        font-size: 18px !important;
        padding: 7px 16px !important;
        margin: 0 !important;
        .icon-calendar-arrow, 
        .icon-close-cal-white{
          margin-top: 10px !important;
        }
      }
    }
  }
  .tab-calendar.row .calendar{
    width: 610px;
    transform: translateX(-50%);
    margin-top: 60px;
  }
  .temples .dropdown {
    margin: 18px 0 40px;
    padding: 0 15px;
  }
}

@media screen and (max-width:767px){
  .leftArrow, .rightArrow {
    top: -6px;
  }
  .important-title {
      bottom: 0px!important;
    .icon-arrow-prev, .icon-arrow-next {
      top: 0px!important;
    }
  }
  .orthodox-calendar .button-calendar,
  .schedule .dropdown,
  .schedule .button-with-border,
  .schedule .button-default,
  .news-category .button-default,
  .mail-send .button-default{
    width: calc(~"100% - 15px") !important;
    margin: 0 0 15px !important;
    float: none;
  }
  .orthodox-calendar .calendar{
    z-index: 1000;
  }
  .schedule {
    margin-top: 20px;
    .button-default{
      margin: 10px 0;
      width: 100% !important;
    }
    .button-with-border{
      width: 100% !important;
    }
  }
  .news-category {
    .button-default{
      width: 100% !important;
    }
  }
  .gallery .item .href-img, 
  .history .item .href-img {
    position: relative;
    width: 100%;
  }
  .history .item{
    &>div:first-child{
      margin-bottom: 15px;
    }
    &>div:last-child{
      margin-bottom: 30px;
    }
  }
  .ask_answers{
    .profile-menu{
      display: none;
    }
    .ask-form{
      width: 100vw;
      position: relative;
      left: 50%;
      margin: 0;
      margin-bottom: -50px;
      margin-top: 30px;
      transform: translateX(-50%);
      padding: 15px 40px;
    }
  }
  .caves {
    .saint-block{
      display: block;
      float: none;
      margin: 15px auto;
      .photo{
        min-width: 200px;
        img {
          float: none;
          display: block;
          margin: 15px auto;
        }
      }
      .text{
        width: 100%;
        p {
          margin: 15px 0;
          font-size: 20px;
        }
      }
    }
  }
  .caves-inside{
    .on-topic{
      margin: 15px 0 30px !important;
    }
  }

  .news-category{
    .two-drops.row, .tab-calendar.row{
      .calendar{
        margin:0 -50px;
        width: 104vw;
        z-index: 1000;
        margin-top: 64px;
        .clndr{
          padding: 20px 40px;
        }
      }
    }
    .chronological-drop .dropdown{
      margin: 0 0 30px;
      button{
        margin: 0;
      }
    }
  }

  .temples .dropdown {
    margin: 0 0 40px;
  }

//from 590px
  .vertical-menu{
    display: none;
  }
  .main-page.active{
    margin-left: 0;
    .vertical-menu-mobile{
      display: block;
    }
  }
  .orthodox-calendar {
    .shadow {
      top:120px;
    }
    .calendar {
      top: 120px;
      margin: 0px -50px;
      width: 105vw !important;
      z-index: 1000;
      .clndr table {
        text-align: center;
        width: calc(~"100% - 15px");
      }
      .clndr-controls {
        width: calc(~"100% - 20px") !important;
      }
    }
    p {
      display: block;
      margin-bottom: 30px;
    }
    img {
      display: none;
    }
  }
  .main-page {
    padding-left: 0;
    margin-left: 0;
  }
  .mobile-header{2
    z-index: 9999;
  }
  h2 {
    font-size: 27px;
  }
  .important-block {
    width: 100vw !important;
    margin: 30px -15px;

    .important-title {
      float: none!important;
      left: 0px!important;
      position: relative;
      height: 55px!important;
      
      bottom: 0px !important;
      font-size: 18px;
      padding: 15px 30px;
      text-align: left;
      .rightArrow{
        width: auto !important;
      }
      .leftArrow{
        width: auto !important;
        padding-right: 15px;
      }
    }
    .important-content {
      position: relative;
      left: 0px !important;
      width: 100% !important;
      margin-left: 0;
      padding: 15px 30px;
      font-size: 16px;
    }
  }
  .no-touch .important-block .important-title {
    width: calc(~"100% - 15px") !important;
  }
  .touch .important-block .important-title {
    width: 100% !important;
  }
  .mail-send{
   .mail-send-title{
      font-size: 16px;
      margin-bottom: 20px;
    }
    .social {
      margin: -15px auto 0;
    }
  }
  .info-block{
    line-height: 1.2;
    a{
      font-size: 16px;
      font-weight: 600;
    }
    p{
      font-size: 14px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .lavra-profile span{
    bottom: 25%;
    padding: 10%;
    font-size: 18px;
    .profile-block img {
      width: 100%;
      height: 100%;
    }
  }
  .lavra-departments{
    font-size: 18px;
    
    div{
      border: none;
    }
    span{
      margin-top: 10%;
    }
  }
  .mail-send{
    .social {
      .border-fb{
        margin:2px 1px 1px 2px;
        background: transparent; 
        .transition(all, .2s, linear);
        &:hover{
        background: transparent; 
        }
      }
      .border-youtube{
        margin:1px 2px 2px 1px;
        background: transparent;
        .transition(all, .2s, linear);
        &:hover{
        background: transparent;
        }
      }
      .border-tw{
        margin:1px 1px 2px 2px;
        background: transparent;
        .transition(all, .2s, linear);
        &:hover{
        background: transparent;
        }
      }
      .border-vk{
        margin:2px 2px 1px 1px;
        background:  transparent;
        .transition(all, .2s, linear);
        &:hover{
        background:  transparent;
        }
      }
    }
  }
  .news-category .news-slider .item .control-block h3, 
  .news-category_for-slider .news-slider .item .control-block h3 {
    font-size: 16px !important; 
  }
  .news-with-carousel .control-block {
    padding: 15px 15px !important;
  }
  .news-category .news > .item {
    & div:nth-child(1){
      display: none;
    }
    & div:nth-child(2){
      width: 100%;
    }
    margin-bottom: 0px !important;
  }
  .news-category .news-slider, .news-category_for-slider .news-slider {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 700px) {
  .mobile-header{
    background-size: 50% !important;
  }
  .orthodox-calendar {
    .shadow{
      top:120px;
    }
    .calendar{
    top: 120px;
    }
  }
}


@media screen and (max-width: 440px){
  .lavra-profile .is-grid{
    width:90%;
  }
  .profile-menu{
    position:relative;
    li{
      display:none;
    }
    &.active{
      li{
        display:block;
        float:none;
        height:30px;
        width:100%;
      }
    }
  }
}

@media screen and (max-width: 400px){
  .orthodox-calendar {
    .calendar {
      top: 150px;
      padding: 0;
    }
  }
  .news-category_for-slider{
    padding: 0;
    & > ul {
      .button-white {
        margin: 15px 4px 15px 0 !important;
      }
    }
  }
}

@media screen and (max-width: 380px){
  .news-with-carousel .owl-item .item {
    margin-bottom: 170px !important;
  }    
}

@media all and (max-width: 991px) {
  .ask-block {
    margin: 30px 0;
  }
  #listBtn , #iconBtn {
    display: none;
  }
  .important-block .important-title {
    text-align: center;
    padding-top: 20px !important;
  }
}

@media screen and (max-width: 993px) {
  .caves {
    .ver_for_print {
      padding: 25px 0;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 992px) {
  .caves {
    .ver_for_print {
      margin-top: 60px;
      padding: 30px 0;

    }
  }
}
@media screen and (max-width: 767px) {
 .important-block {
   .important {
     text-align: left !important;
     bottom: 5px;
   }
   .triangle {
     display: none !important;
   }
   .arrow-wrapper {
     bottom: 7px;

     .arrows-link-container {
       float: right;
     }
   }
 }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .btns {
    .button-with-border {
      width: 200px;
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 360px) {
  .clndr {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 644px) {
  .schedule-tree ul li.schedule-item:nth-child(1):after {
    height: 57px;
  }
  *.ver_for_print {
    display: none !important;
  }
}
@media screen and (max-width: 475px) {
  .schedule-tree ul li.schedule-item:nth-child(1):after {
    height: 78px;
  }
}
@media screen and (max-width: 412px) {
  .schedule-tree ul li.schedule-item:nth-child(1):after {
    height: 107px;
  }
}
@media screen and (max-width: 352px) {
  .schedule-tree ul:nth-child(2) li.schedule-item.first-item:after {
    height: 40px;
  }
}

