/* .history, .read-icons{
  .history-img{
    float: left;
    margin: 10px 20px 15px 0;
    opacity: 1;

  }
  img{
    position: relative;

  }
  .hover-content{
    overflow: hidden;
  }
  .img-wrapper{
    background: #3c3c3c;
    position: absolute;
    width: 270px;
    height: 152px;
    margin-top: 10px;

  }
  .href-title{
    font-size: 25px;
    color: @text-color-light;
    line-height: 2;
  }
  .href-title:hover{
    color: @green-color-dark;
    transition: 0.8s;
  }
  .popup {
    left: 14%;
  }

  }


.no-touch .history .href-img:hover, .no-touch .read-icons .href-img:hover{

  .popup {
    bottom: 27%;
    visibility: visible;
    transition: .5s;

  }
  img{
    opacity: 0.4;
    transition: .5s;
  }
}
.read-icons .popup{
  left: 20%;
}



 */