.important-block{
  padding-left: 0;
  font-size: 20px;
  color: #727272;
  padding-right: 0;
  margin: 30px 15px 30px;
  .icon-arrow-prev{
    float: left;
  }
  .icon-arrow-next{
    float: left;
  }
  .leftArrow, .rightArrow{
    float: right;
    color: white;
  }

  .important-content{
    margin-left: 95px;
    padding: 13px 20px 12px 40px;
    background-color: white;
    overflow-x: hidden;

    #stroke{
      position: relative;

      & > div{
        display: inline-block;
      }
    }

    .important-content-header {
      color: #a43949;
      margin: 0;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      margin: 0;
    }
  }
  .important-title{
    float: left;
    width: 120px;
    background-color: #a43949;
    text-align: left;
    margin: 0;
    padding-top: 10px !important;
    padding-right: 0;
    padding-left: 15px;
    height: 105px;
    .important{
      margin-bottom: 5px;
      text-align: center;
      color: white;
      padding-right: 10px;

    }
    h3{
      margin:0px;
    }
    div{
      padding:0px;
    }
  }
  .triangle {
    float: left;
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-left: 30px solid #a43949;
    border-bottom: 45px solid transparent;
    display: block;
    border-top-width: 53px;
    border-bottom-width: 53px;
    background: #FFF;
   }
  .arrow-wrapper {
    padding-left: 3px !important;

    .arrows-link-container {
      overflow: hidden;
    }

    .arrow-link-left {
      float: left;
      transform: rotate(180deg);
      width: 30px;
      height: 30px;
      margin-left: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
    .arrow-link-right {
      float: left;
      width: 30px;
      height: 30px;
      margin-left: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}