.info-block{
  margin-bottom: 50px;
  margin-top: 50px;
  
  h2{
    text-align: center;
    margin: 50px 0px;
  }
  a{
    font-size: 25px;
  }
  p{
    margin-top: 15px;
  }

  .href-img {
      display:block;
      position:relative;
      background:@gray-color-dark;
      margin-bottom: 20px;
      margin-top: 10px;
      overflow:hidden;
      img{
        display: block;
      }
      .popup{
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        position: absolute;
        bottom: -10px;
        visibility: hidden;
        margin: -10px auto;
        width: 100%;
        opacity:0;
        .transition(all, .3s, linear);
        .icon{
          margin: 0 auto;
        }
      }
    }
}
.no-touch .info-block > div{
  &:hover{
      & > a{
        color: @green-color-dark;
        transition: 0.3s;
      }
      .popup {
        bottom: 50%;
        margin-bottom: -40px;
        visibility: visible;
        opacity:1;
        //transition: all .3s ease-in-out;
      }
      img{
        opacity: 0.4;
        //transition: all .3s ease-in-out;
      }
    }
  }