.mobile-header{
  background:white url("../../images/content-img/header_tablet.png") no-repeat center center;
  height: 70px;
  width: 100%;
  padding: 15px 0;
  /* margin-bottom: 20px; */
  .toggle-menu{
    float: left;
  }
  .online-transl_tablet{
    float:right;
  }
}