.temples{
  .temple-block{
    background-color: #c6c6c6;
    height: 480px;
  }

  .temple-list{
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    background-color: white;
  }

  p{
    display: block;
    border-bottom: 1px solid #efefef;
    padding: 20px;
    margin: 0;
    cursor: pointer;
  }
  
  .temple-list div .active{
    background-color: #39b583;
    border: none;
    color: white;
    transition: 0.8s;
  }
}

.no-touch .temples .temple-list div:hover{
  background-color: #39b583;
  border: none;
  color: white;
  transition: 0.8s;
}