@menuHeight: 70px;
.menuFont{
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
  color: inherit;
}
.horizontal-menu{
  height: @menuHeight;
  background-color: white;
  z-index: 1000;
  position: inherit;
  //width: calc(100% - 85px);
  margin: 0 auto;
  transition: all 0.3s 0s linear;
  & > .container{
    position: relative;
    margin: 0px auto;
  }
  //margin-bottom: 40px;
  menu{
    //text-align: center;
    .toggle-menu{
      display: none;
      vertical-align: middle;
    }
  }
  li{
    display: inline-block;
    margin: 0 0 0 -4px;
    position: relative;
    .menuFont;
    &:after, &:before{
      width:0px;
      display:block;
      overflow:hidden;
    }
    a{
      display:block;
      background: white;
      text-decoration: none;
      line-height: @menuHeight;
      padding: 0 15px;
      white-space: nowrap;
      .transition(all , 0.15s, linear);
      &:hover{
        background: @green-color-bright;
        color:white;
      }
    }
    ul{
      z-index: 1000;
      top: 100px;
      left: 0;
      opacity: 0;
      background:@green-color-dark;
      visibility: hidden;
      position: absolute;
      min-width:100%;
      .transition(all,0.2s,linear);
      li{
        color:white;
        font-size: 15px;
        display:block;
        width:100%;
        margin:0;
        white-space: nowrap;
        a{
          color:white;
          background: @green-color-dark;
          line-height: 15px;
          padding:10px 10px;
        }
      }
    }
    &:hover{
      > a{
        background: @green-color-bright;
        color:white;  
      }
      ul{
        opacity: 1;
        top: 100%;
        visibility: visible;
      }  
    }
  }
  #online-tv.col-md-3{
   // min-width: 210px;
  }
  .online{
    float: right;
    display:inline-block;
    line-height: @menuHeight;
    .menuFont;
    .transition(all, 0.2s,ease-out);
    &:hover{
      color: @green-color-bright;
    }
    &.active{
       color: @green-color-bright;
    }
    .icon-online-transl, .icon-menu-online-close{
      display:inline-block;
      line-height: @menuHeight;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  .online-transl_tablet{
    float:right;
    margin: 15px 0px;
  } 
}