.mail-send{
  width: 100%;
  height: 280px;

  background: url("../../images/content-img/mail-send-bg.png") top center;
  background-size: cover;
  margin-top: 50px;
  padding-bottom: 30px;
  margin-bottom: -50px;
  
  .mail-send-title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    color: white;
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
    span{
      font-size: 15px;
      font-weight: normal;
    }
  }
  input[type="text"]{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-style: italic;
    padding: 7px;
    text-align: center;
    border-radius: 100px 0 0 100px;
    border: none;
    outline: none;
    float: left;
    &:focus::-webkit-input-placeholder {color: transparent}
    &:focus::-moz-placeholder          {color: transparent}
    &:focus:-moz-placeholder           {color: transparent}
  } 
  .send-button {
    display: inline-block;
    border: none;
    border-radius: 0 100px 100px 0;
    height: 40px;
    width: 20%;
    background-color: @green-color-dark;
    line-height: normal;
    color: white;
    font-size: 18px;
    span{
      display: block;
      margin: 7px auto;
    }
    .transition(all, .3s, linear);
    &:hover{
      background-color: @green-color-bright;
    }
  }
}
