.ask-block{
  margin: 15px 0;
  font-size: 15px;
  color: @text-color-green;

  .title-ask{
    display: block;
    font-size: 20px;
    color: black;
    line-height: 1.5;
    font-weight: normal;
  }
  .asker, .date-ask{
    color: @text-color-light;
    display: inline-block;
  }
  .asker{
    margin-right: 10px;
  }
  .date-ask{
    margin-left: 10px;
  }
  .answer{
    font-size: 14px;
  }
}
