.ask_answers{
  .dropdown{
    margin: 15px 0px 15px 0;
    width: calc(~"100% - 30px");
  }

  .button-calendar:first-child{
    float: right;
    margin-right: 10px;
  }
  .button-default{
    margin: 20px 0;
  }
  h2{
    margin: 15px 0;
  }
  .profile-menu{
    margin: 15px 0 30px -15px;

    .filter-button {
      display: none;
    }
  }
  .input_search{
    margin:30px 30px 15px 0px;
    display: block;
    float: none;
    clear: both;

    input{
      width: 100%;
      outline: none;
      border: none;
      color: #6e6e6e;
      font-size: 15px;
      padding: 10px;
      background: url("../../images/src/icon-search-green.png") no-repeat right 10px center white;
      font-family: @main-font-family;
    }
  }
  .ask-form{
    background: #efeee5;
    font-size: 15px;

    .dropdown{
      margin: 15px 0px 15px 0px;
      width: 100%;
    }

    input{
      text-align: center;
      border: none;
      outline: none;
      padding: 10px;
      margin: 15px 0;
      font-family: @main-font-family;

    }
    textarea{
      border: none;
      outline: none;
      padding: 10px;
      height: 190px;
      resize: none;
      margin: 15px 0;
      font-family: @main-font-family;
    }
  }
}