.history_inside_carousel{
  .shadow-down{
     height: 45px;
     background-color: white;
  }
  .carousel-control{
    position: static;
    display: inline-block;
    width: auto;
    background-image: none;
  }
  .icon-history_inside_slider_prev, .icon-history_inside_slider_next{
    float: right;
    margin: 10px;
  }
  .author{
    float: left;
    margin-top: 12px;
  }
  .slide_number{
     display: inline-block;
     vertical-align: top;
     float: none;
     margin-top: 12px;
   }
  .with-author{
    .control-nav{
      float: right;
      text-align: right;
      width: auto;
    }
  }
  .no-author{
    .control-nav{
      float: none;
      text-align: center;
      width: auto;
    }
  }
}