.history_inside{
  h2{
    margin-bottom: 30px;
    display: block;
  }

  .content-block{
    margin: 20px 0;
  }
}

.ver_for_print{
  color: @text-color-green;
  text-align: right;
  padding: 20px 0;
  
}
.icon-print_version{
  float: right;
  margin-left: 20px;
  margin-top: -5px;
}