header{
 //  background: url("../../images/content-img/header-bg.png");
   background-size: cover;
   width: 100%;
   height: 280px;
   padding-top: 0px;
  .parallax-window{
    min-height: 300px;
    background: url('../../images/content-img/header-bg.png');
    //background: transparent;
  }

  .header-icone-1{
    background: url("../../images/content-img/header-icone-1.png") no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 16%;
    height: 76px;
    float: left;
    margin-top: 10px;
  }
  .header-title{
    width: 51%;
    height: 91px;
    background: url("../../images/content-img/header-title.png") no-repeat;
    background-size: 100%;
    background-position: center center;
    margin: 0 auto;
  }
  .header-icone-2{
    width: 15%;
    height: 159px;
    background: url("../../images/content-img/header-icone-2.png") no-repeat;
    background-size: 100%;
    background-position: center center;
    float: right;
    margin-top: -120px;
  }

  .window-width-0-to-infinity{
    margin:0px;
  }
}