.online-video{
	&:before, &:after{
		content: '';
  		width: 100%;
  		display: inline-block;
	}
	width: 100%;
	background: @gray-color-middle;
	position: relative;
	z-index: 100;
	padding: 0px 20px 40px 20px;
	display: none;

	.button-default{
		width:100%;
		display: block;
		text-align: center;
		&:hover{
			background-color: @green-color-bright;
			color:white;
		}
	}

	h3{
		color: white;
		font-size: 20px;
		font-weight: normal;	
	}
	h2{
		color: white;
		font-weight: bold;
		padding-left: 15px;
	}
	p{
		color: white;
		padding-left: 15px;
		span{
			color: @gray-color-light + 40;
		}
	}

	.slimScrollDiv{
		margin-bottom: 20px;
	}
	
	ul{
		list-style-type: none;

	    overflow-x: hidden; 
		li{
			border-bottom: 1px solid @gray-color-dark;
			color: white;
			display:block;
			padding: 5px 10px;
			cursor: pointer;
			.transition(all, .3s, linear);

			span{
				color: @gray-color-light + 40;
			    display: block;
			    float: left;
			    margin-right: 10px;
			    margin-bottom: 10px;
			}
			&:hover{
				background: @gray-color-dark;
			}
			&.active{
				background: @gray-color-light;

			}
		}
	}
	.video{
		height: 500px;
	}
	.swith-block{
		margin-bottom: 20px;
		overflow:hidden;
		a{
			color: white;
			background: @gray-color-dark;
			text-align: center;
			line-height: 50px;
			border-bottom: 3px solid transparent;
			.transition(all, .3s, linear);
			float: left;
			width: 50%;

			&.active{
				border-bottom: 3px solid @green-color-dark;
				color: @green-color-dark;
			}
			&:hover{
				border-bottom: 3px solid @green-color-bright;
				color: @green-color-bright;
			}
		}
	}
}