.calendar{
  .ver_for_print{
    float: right;
  }
  span{
    color: @text-color-light;

  }
  p {
    display: inline-block;
    vertical-align: super;
  }
  #accordion p{
    color: @green-color-dark;
    width: calc(~"100% - 45px");
    float: right;
  }
  a{
    &:before{
      background-image: url(../../images/src/calendar_minus.png);

      width: 25px;
      height: 25px;
      content: '';
      display: inline-block;
    }
  }

  a.collapsed{
    &:before{
      background-image: url(../../images/src/calendar_plus.png);
      width: 25px;
      height: 25px;
      content: '';
      display: inline-block;
    }
  }
  .panel-group{
    margin-bottom: 0px;
    .panel{
      background-color: transparent;
      box-shadow: none;
    }
    .panel-body{
      margin-left: 30px;
    }
    .panel-heading {
      padding: 15px 15px 10px 0px;
    }
  }
  .calendar-container{
    margin-top: 40px;
    .ver_for_print_conainer {
      width: 200px;
      float: right;
      cursor: pointer;
    }
  }
}